<p>Tạo lớp  học</p>
<mat-dialog-content>
    <mat-form-field appearance="legacy" >
        <input matInput placeholder="Tên lớp học ( bắt buộc)" [(ngModel)]="checked">
    </mat-form-field> <br>
    <mat-form-field appearance="legacy">
        <input matInput placeholder="Phần">
    </mat-form-field><br>
    <mat-form-field appearance="legacy">
        <input matInput placeholder="Chủ đề ">
    </mat-form-field><br>
    <mat-form-field appearance="legacy">
        <input matInput placeholder="Phòng">
    </mat-form-field><br>
</mat-dialog-content>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Hủy</button>
    <button mat-button [disabled]="!checked" >Tạo</button>
</div>


