<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="style-list">
                <button mat-button (click)="showAllchude()">Tất cả chủ đề</button>
                <div class="list-chude">
                    <button mat-button (click)="showchude1()">Chủ đề 1</button>
                    <button mat-button (click)="showchude2()">Chủ đề 2</button>
                    <button mat-button (click)="showchude3()">Chủ đề 3</button>
                    <button mat-button (click)="showchude4()">Chủ đề 4</button>
                </div>
            </div>
            
        </div>
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>