<section class="loadpage_effect" style="opacity: 0;">
    <app-sidebar-chuongtrinhdaotao></app-sidebar-chuongtrinhdaotao>
    <app-modal-giaovienlophocphan></app-modal-giaovienlophocphan>
    <app-modal-giaovien></app-modal-giaovien>
    <app-modal-monhoc></app-modal-monhoc>
    <app-modal-khoabomon></app-modal-khoabomon>
    <app-modal-nganhnghe></app-modal-nganhnghe>
    <app-modal-chitieudaotao></app-modal-chitieudaotao>
    <app-modal-kehoachdaotao></app-modal-kehoachdaotao>
    <app-modal-lichdaotao></app-modal-lichdaotao>
    <app-modal-import-excel-khoabomon></app-modal-import-excel-khoabomon>
    <app-modal-import-excel-monhoc></app-modal-import-excel-monhoc>
    <app-modal-import-excel-nganhnghe></app-modal-import-excel-nganhnghe>
    <app-modal-thoikhoabieu></app-modal-thoikhoabieu>
    <app-modal-phonghoc></app-modal-phonghoc>
    <app-modal-lichphonghoc></app-modal-lichphonghoc>
</section>
