<body>
  <section class="home-banner">
      <swiper  class="swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/img/slide1.png" alt="slide"></div>
              <div class="swiper-slide"><img src="assets/img/slide1.png" alt="slide"></div>
              <div class="swiper-slide"><img src="assets/img/slide1.png" alt="slide"></div>
          </div>
      </swiper>
  </section>
  <section class="chuong-trinh-dao-tao mt-100 " >
      <div class="container">
          <div class="text-center mb-40">
              <h2 class="title">CHƯƠNG TRÌNH ĐÀO TẠO</h2>
              <img src="assets/img/line.png" alt="line">
              <p class="p-3">Chương trình học đa dạng và thường xuyên cập nhật công nghệ mới.<br>
              Hãy để chúng tôi đồng hành cùng bạn trên hành trình chinh phục tri thức - vững vàng bước vào thế giới công nghệ 4.0.</p>
          </div>
      </div>
      <div class="chuong-trinh-dao-tao-content mt-3 p-10 " >
          <div class="container">
              <div class="row text-center "  >
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"> <p>Đồ họa truyển thông</p><img src="assets/img/ctdt1.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Thiết kế website</p><img src="assets/img/ctdt2.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Lập trình và CSDL</p><img src="assets/img/ctdt3.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Lập trình di động</p><img src="assets/img/ctdt4.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Thiết kế giao diện</p><img src="assets/img/ctdt5.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Mạng máy tính</p><img src="assets/img/ctdt6.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Internet Marketing</p><img src="assets/img/ctdt7.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Lập trình cho trẻ em</p><img src="assets/img/ctdt8.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Tin học văn phòng</p><img src="assets/img/ctdt9.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Tin học văn phòng chuẩn quốc tế (MOS)</p><img src="assets/img/ctdt10.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Tin học cho trẻ em</p><img src="assets/img/ctdt11.png" alt=""></a></div>
                  <div class="chuong-trinh-dao-tao-item col-lg-2 col-md-3 col-sm-3 col-6" data-aos="zoom-out" data-aos-duration="1000" ><a href="#"><p>Đồ họa cho trẻ em</p><img src="assets/img/ctdt12.png" alt=""></a></div>
              </div>
          </div>
      </div>
  </section>
  <section class="lich-thi " >
      <a href="#">
          <div class="text-center pt-4 pb-4 ">
              <h2 class="title">lịch thi</h2>
              <img src="assets/img/line.png" alt="line">
              <br>
              <p>Chứng chỉ tin học quốc gia</p> <span>Dành cho thí sinh tự do</span>
          </div>
      </a>
  </section>
  <section class="tien-ich-ho-tro mt-100 " >
      <div class="container" >
          <div class=" text-center mt-4 mb-4" data-aos="fade-down" data-aos-duration="1000">
              <h2 class="title">Tiện ích hỗ trợ</h2><img src="assets/img/line.png" alt="line">
          </div>
          <div class="row" data-aos="fade-right" data-aos-duration="1000">
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="item"><img src="assets/img/icon-rating.png" alt="icon-student">
                      <div class="item-content">
                          <a href="#" class="sub-title">Ứng dụng CNTT CB và NC</a>
                          <p>Kho đề thi mẫu và video hướng dẫn giải đề giúp học viên ôn tập cho kì thi chứng chỉ Ứng Dụng CNTT.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="item"><img src="assets/img/icon-resume.png" alt="icon-student">
                      <div class="item-content">
                          <a href="#" class="sub-title">Tra cứu điểm thi</a>
                          <p>Hỗ trợ học viên tra cứu kết quả thi được Trung Tâm thông báo sau ngày thi 2 tuần.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="item"><img src="assets/img/icon-student.png" alt="icon-student">
                      <div class="item-content">
                          <a href="#" class="sub-title">Tài liệu học tập</a>
                          <p>Chia sẻ kho tài liệu học tập miễn phí, hữu ích với nhiều lĩnh vực phong phú.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="item"><img src="assets/img/icon-professor.png" alt="icon-student">
                      <div class="item-content">
                          <a href="#" class="sub-title">Lớp học trực tuyến</a>
                          <p>Các lớp học bổ sung kiến thức CNTT, học trực tiếp với giáo viên qua mạng Internet.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="item"><img src="assets/img/icon-order.png" alt="icon-student">
                      <div class="item-content">
                          <a href="#" class="sub-title">Tra cứu chứng chỉ</a>
                          <p>Hỗ trợ học viên tra cứu chứng chỉ được Trung Tâm cấp sau ngày thi 1,5 tháng.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="item"><img src="assets/img/icon-internship.png" alt="icon-student">
                      <div class="item-content">
                          <a href="#" class="sub-title">Giới thiệu việc làm</a>
                          <p>Cầu nối giúp học viên tiếp cận các cơ hội việc làm từ những doanh nghiệp hàng đầu.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="down-chevron text-center mt-100 mb-40"><img src="assets/img/icon-down-chevron.png" alt="icon-down-chevron"></section>
  <section class="tin-tuc-su-kien mb-100">
      <div class="container">
          <div class="text-center mb-40">
              <h2 class="title-bg">Tin tức sự kiện</h2>
          </div>
          <div class="row">
              <div class="col-lg-6 col-md-6 col-12 p-1">
                  <div class="main-news">
                      <a href="#">
                          <span class="overlay"></span>
                          <img src="assets/img/tintuc.png" alt="tintuc">
                          <div class="name-new p-3">
                              Tên tin tức
                          </div>

                      </a>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12 p-0">
                  <div class="row m-0 p-0">
                      <div class="col-md-6 p-1">
                          <div class="sub-news">
                              <a href="#">
                                  <span class="overlay"></span>
                                  <img src="assets/img/tintuc.png" alt="tintuc">
                                  <div class="name-new p-3">
                                      Tên tin tức
                                  </div>
                              </a>
                          </div>
                      </div>
                      <div class="col-md-6 p-1">
                          <div class="sub-news">
                              <a href="#">
                                  <span class="overlay"></span>
                                  <img src="assets/img/tintuc.png" alt="tintuc">
                                  <div class="name-new p-3">
                                      Tên tin tức
                                  </div>
                              </a>
                          </div>
                      </div>
                      <div class="col-md-6 p-1">
                          <div class="sub-news">
                              <a href="#">
                                  <span class="overlay"></span>
                                  <img src="assets/img/tintuc.png" alt="tintuc">
                                  <div class="name-new p-3">
                                      Tên tin tức
                                  </div>
                              </a>
                          </div>
                      </div>
                      <div class="col-md-6 p-1">
                          <div class="sub-news">
                              <a href="#">
                                  <span class="overlay"></span>
                                  <img src="assets/img/tintuc.png" alt="tintuc">
                                  <div class="name-new p-3">
                                      Tên tin tức
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="cam-on mt-100 mb-80">
      <div class="container">
          <div class="text-center mb-40 " data-aos="fade-down" data-aos-duration="1000">
              <h2 class="title-bg">Cám ơn các bạn đã tin tưởng và đồng hành cùng chúng tôi</h2>
          </div>
          <div class="row" data-aos="fade-up" data-aos-duration="1000">
              <div class="col-md-3 col-sm-6 col-12 cam-on-item text-center">
                  <i class="far fa-calendar"></i>
                  <p class="cam-on-item-text">30+</p>
                  <p>năm</p>
              </div>
              <div class="col-md-3 col-sm-6 col-12 cam-on-item text-center">
                  <i class="fas fa-graduation-cap"></i>
                  <p class="cam-on-item-text">1.000.000 +</p>
                  <p>học viên</p>
              </div>
              <div class="col-md-3 col-sm-6 col-12 cam-on-item text-center">
                  <i class="fas fa-globe-asia"></i>
                  <p class="cam-on-item-text">20 +</p>
                  <p>cơ sở</p>
              </div>
              <div class="col-md-3 col-sm-6 col-12 cam-on-item text-center">
                  <i class="far fa-image"></i>
                  <p class="cam-on-item-text">100 +</p>
                  <p>chương trình đào tạo</p>
              </div>
          </div>
      </div>
  </section>
  <div class="back-to-top"><i class="fas fa-chevron-up"></i></div>
</body>
