<section class="sidebar_chucnang__wrapper mt-4">
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
      <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_thongtinchung')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-information-outline mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Thông tin chung</div>
        </div>
      </div>
      <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_quanlyheader')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Quản lý Menu header</div>
        </div>
      </div>
      <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_quanlyfooter')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Quản lý Footer</div>
        </div>
      </div>
      <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_noidungtrangchu')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div class="sidebar_chucnang__icon mdi mdi-home mdi-24px"></div>
          <div class="sidebar_chucnang__text">Nội dung trang chủ</div>
        </div>
      </div>
      <!-- <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_quanlyslideshow')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Quản lý Slideshow</div>
        </div>
      </div> -->
      <!-- <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_themtintuc')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Thêm bài viết</div>
        </div>
      </div> -->
      <!-- <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_quanlytintuc')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Danh sách bài viết</div>
        </div>
      </div> -->
      <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_quanlyloaibaiviet')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Loại bài viết</div>
        </div>
      </div>
      <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_quanlydanhmuc')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Danh mục</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('cntt_crawling')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Thu thập bài viết</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('cntt_tienich')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Tiện ích sinh viên</div>
        </div>
      </div>
      <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_quanlybosuutap')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Bộ sưu tập</div>
        </div>
      </div>
      <div
        class="sidebar_chucnang__item"
        (click)="openModal('cntt_baiviet')"
      >
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white"
        >
          <div
            class="sidebar_chucnang__icon mdi mdi-post mdi-24px"
          ></div>
          <div class="sidebar_chucnang__text">Quản lý bài viết</div>
        </div>
      </div>
    </div>
  </div>
</section>
