<section class="sidebar_chucnang__wrapper mt-4">
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="sidebar_chucnang__item" (click)="openModal('cntt_quanlyheader')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý Header</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('cntt_quanlyfooter')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý Footer</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('cntt_noidungtrangchu')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-home mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Nội dung trang chủ</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('cntt_quanlyslideshow')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý Slideshow</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('cntt_themtintuc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Thêm bài viết</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('cntt_quanlytintuc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Danh sách bài viết</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('cntt_quanlyloaibaiviet')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý loại bài viết</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('cntt_crawling')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Thu thập bài viết</div>
        </div>
      </div>
    </div>
  </div>
</section>
