<app-modal class="modal_chucnang__wrapper" id="diem_nopdiem">
  <div (click)="closeModal('diem_nopdiem')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Nộp điểm</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label>Bậc</label>
                <select class="form-control">
                  <option>Cao đẳng</option>
                  <option>Cao đẳng nghề</option>
                </select>
              </div>
              <div class="form-group">
                <label>Ngành</label>
                <select class="form-control modal_chucnang__select2">
                  <option>Công nghệ thông tin</option>
                  <option>Cơ khí</option>
                  <option>Ô tô</option>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Loại hình đào tạo</label>
                <select class="form-control">
                  <option>Chính quy</option>
                  <option>Liên thông</option>
                </select>
              </div>
              <div class="d-flex no-gutters">
                <div class="col">
                  <div class="form-group">
                    <label>Khoá</label>
                    <input class="form-control" type="number" min="15" value="15">
                  </div>
                </div>
                <div class="col ml-2">
                  <div class="form-group">
                    <label>Học kì</label>
                    <select class="form-control">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>Tốt nghiệp</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-1" src="assets/img/icons/search.png" alt="image icon">
                  <div>Tìm kiếm</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
              <select class="custom-select custom-select-sm form-control">
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select><span class="text-nowrap">&nbsp; hàng</span>
            </label>
            <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Bộ lọc: &nbsp;</span>
              <input class="form-control form-control-sm" placeholder="Nhập từ khoá...">
            </label>
          </div>
          <table class="modal_chucnang__table table table-hover" id="danhsach_nopdiem">
            <thead class="bg__caothang text-white">
              <th scope="col">Tên lớp</th>
              <th scope="col">Giáo viên</th>
              <th scope="col">Ngày nộp</th>
              <th scope="col">Ngày trễ</th>
            </thead>
            <tbody>
              <tr>
                <td>CĐ TH 16C - Thiết Kế Web</td>
                <td>Lê Quang Song</td>
                <td>09/07/2020</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>