<div class="account">
    <div class="image">
        <div>
            <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
        </div>
    </div>
    <div class="title">
        <h3>Huy Nguyễn</h3>
    </div>
    <div class="dangxuat">
        <button>Đăng xuất</button>
    </div>
</div>
