<header>
    <div class="title-lophoc">
        <div>
            <h4><p style="color: cornflowerblue;">TH</p><p style="color: darkred;">ỜI</p><p style="color: darkslateblue;"> </p><p style="color: gold;">KH</p><p style="color: lawngreen;">ÓA</p><p style="color: lightseagreen;">  </p><p style="color: orangered;">BI</p><p style="color: coral;">ỂU</p> Cao Thắng</h4>
        </div>
    </div>
    <form>
        <mat-form-field appearance="fill">
          <mat-label>Chọn lớp</mat-label>
          <mat-select [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let lophoc of lophocs" [value]="lophoc.value" (click)="showLop()">
              {{lophoc.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
</header>
<router-outlet></router-outlet>