header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
}
header .title-lophoc{
    width: 30%;
}
header .option{
    width: 20%;
}
header .option .mat-form-field{
    width: 40%;
    padding: 0;
    font-size: 0.875rem;
    margin: 0;
    height: 0;
    background: none;
}



header .title-lophoc div{
    padding-left: 25px;
    margin-top: 7px;
    margin-left: 60px;
}
header .title-lophoc h4 p{
    display: inline-block;
}
@media only screen and (max-width: 600px) {
    
    header{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
    }
    header .title-lophoc{
        width: 40%;
        padding-top: 8px;
    }
    header .title-lophoc{
        width: 50%;
        padding-top: 0px;
        margin-bottom: 5px;
        
    }
    
    header .title-lophoc h4{
        font-size: 1rem;
    }
    header .title-lophoc p{
        font-size: 1.2rem;
    }
    header .option{
        width: 30%;
        margin-left: 10px;
    }
    header .option .mat-form-field{
        width: 100%;

    }
    
  }