.container-fluid{
    margin-top: 30px;
}
.col-md-8{
    margin: 0 auto;
}
.col-md-8 .row{
    margin-bottom: 20px;
}
.style-list{
    margin-top: 0px;

}
.style-list button{
    color: #007b83;
}
.style-list .list-chude button{
    color: #777777;
}
.col-md-8 .row .col-md-4 button{
    background: #007b83;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    box-shadow: 0px 3px 3px 0px rgba(88, 149, 160, 0.8);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;

}
.mat-content {
    padding: 5px;
}
.col-md-8 .row .col-md-4 button i{
    padding-right: 10px;
}
.col-md-8 .row .col-md-4 button:hover{

    box-shadow: 4px 4px 4px 4px rgba(66, 120, 129, 0.8);

}
.col-md-8 .row .col-md-8 a{
    padding: 20px;
    color: #007b83;
    font-weight: 500;
}
.col-md-8 .row .col-md-8 a i{
    padding-right: 10px;
    font-size: 20px;
    color: #555555;
}
button{
    border: none;
    box-shadow: none;
    outline: none;
}
.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {

    padding-top: 10px;

}
.mat-expansion-panel-header-title i{
    padding: 5px;
}
.col-md-12{
    margin-bottom: 30px;
}
@media only screen and (max-width: 600px){
    .container-fluid{
        margin-top: 100px;
    }
    .style-list{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .mat-expansion-panel-header {
        height: 0;
    }
}
