<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="style-list">
        <button mat-button (click)="showAllchude()">Tất cả chủ đề</button>
        <div class="list-chude">
          <ng-container *ngFor="let item of dsChuDe">
            <button mat-button (click)="xem_ChuDe(item.maChuDe)">{{ item.tenChuDe }}</button>
          </ng-container>
        </div>
      </div>

    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
