<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="style-list">
        <div class="list-group">
          <button mat-button class="list-group-item list-group-item-action" (click)="showAllchude()">Tất cả chủ
            đề</button>
          <button mat-button class="list-group-item list-group-item-action"   *ngFor="let item of dsChuDe"
          (click)="xem_ChuDe(item.maChuDe)">
            <ng-container>
              {{ item.tenChuDe }}
            </ng-container>
          </button>
        </div>

      </div>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
