<app-modal class="modal_chucnang__wrapper" id="cntt_tienich">
  <div
    (click)="closeModal('cntt_tienich')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3">
    <form [formGroup]="tienIchForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center text-white">Quản lý tiện ích sinh viên</h1>
        </div>
        <div class="col-12">
          <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
            <div class="row justify-content-center align-items-center">
              <div class="col-3">
                <div class="form-group">
                  <label>Màu nền</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="maMauTienIch"
                  />
                  <div
                    *ngIf="
                      maMauTienIch.invalid && maMauTienIch.touched
                    "
                    class="alert alert-danger"
                  >
                    <div *ngIf="maMauTienIch.errors.required">
                      Vui lòng chọn màu nền tiện ích.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="_id"
                    hidden
                  />
                </div>
                <div class="form-group">
                  <label>Tên tiện ích</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="tenTienIch"
                  />
                  <div
                    *ngIf="
                      tenTienIch.invalid && tenTienIch.touched
                    "
                    class="alert alert-danger"
                  >
                    <div *ngIf="tenTienIch.errors.required">
                      Vui lòng điền tên tiện ích.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label>Đường dẫn</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="urlTienIch"
                  />
                  <div
                    *ngIf="
                      urlTienIch.invalid && urlTienIch.touched
                    "
                    class="alert alert-danger"
                  >
                    <div *ngIf="urlTienIch.errors.required">
                      Vui lòng điền đường dẫn tiện ích.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Icon đại diện</label>
                  <input
                    class="form-control"
                    type="text"
                    formControlName="iconClassTienIch"
                  />
                  <div
                    *ngIf="
                      iconClassTienIch.invalid && iconClassTienIch.touched
                    "
                    class="alert alert-danger"
                  >
                    <div *ngIf="iconClassTienIch.errors.required">
                      Vui lòng chọn icon tiện ích.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="form-group">
                  <div class="modal_chucnang__group__button">
                    <button
                      class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"
                      type="submit"
                      [disabled]="!tienIchForm.valid"
                    >
                      <img
                        class="modal_chucnang__button__icon mb-2"
                        src="assets/img/icons/add.png"
                        alt="image icon"
                      />
                      <div>Lưu</div>
                    </button>
                    <!-- <button
                      class="modal_chucnang__button btn btn-outline-danger px-4 mx-2"
                      type="reset"
                    >
                      <img
                        class="modal_chucnang__button__icon mb-2"
                        src="assets/img/icons/error.png"
                        alt="image icon"
                      />
                      <div>Huỷ</div>
                    </button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <table
            datatable="ng"
            *ngIf="showContent"
            [dtOptions]="dtOptions"
            class="modal_chucnang__table row-border hover table-bordered"
            datatable
          >
            <thead class="bg__caothang text-white">
              <tr>
                <th scope="col">Mã tiện ích</th>
                <th scope="col">Tên tiện ích</th>
                <th scope="col">Đường dẫn tiện ích</th>
                <th scope="col">Icon tiện ích</th>
                <th scope="col">Mã màu tiện ích</th>
                <th scope="col">Trạng thái tiện ích</th>
                <th class="text-center" scope="col">
                  <span
                    class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"
                  ></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tienich of TienIch; let i = index">
                <td style="max-width: 100px;">
                  <input
                    class="form-control"
                    disabled
                    value="{{ tienich.maTienIch }}"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    disabled
                    value="{{ tienich.tenTienIch }}"
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    disabled
                    value="{{ tienich.urlTienIch }} "
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    disabled
                    value="{{ tienich.iconClassTienIch }} "
                  />
                </td>
                <td>
                  <div height="100px" [style.background]="tienich.maMauTienIch">
                    {{ tienich.maMauTienIch }}
                  </div>
                </td>
                <td>
                  <input
                    class="form-control"
                    disabled
                    value="{{ showTrangThai(tienich.trangThai) }} "
                  />
                </td>
                <td class="text-center">
                  <span
                    class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px"
                    (click)="editTienIch(tienich)"
                  ></span>
                  <span
                    class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px"
                    (click)="onXoaTienIch(tienich.maTienIch)"
                  ></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>
