.tra-cuu-diem i{
  margin-right: 10px;
  color: #099CF4;
}
.tra-cuu-diem span{
  font-weight: bold;
}
.wrap_tracuudiem{
  margin-bottom: 60px !important;
}
.form-search{
  margin-top: 30px;
  margin-bottom: 30px;
}
