<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col">
                            <div class="content">
                                <div class="dealine">
                                    <span>hạn nộp</span>
                                </div>
                                <div class="name_worf">
                                    <span>Tên bài tập</span> 
                                </div>
                                <div class="diem">
                                    <span>trong tổng số 100</span> 
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="content">
                                <div class="dealine">
                                    <span>hạn nộp</span>
                                </div>
                                <div class="name_worf">
                                    <span>Tên bài tập</span> 
                                </div>
                                <div class="diem">
                                    <span>trong tổng số 100</span> 
                                </div>
                            </div>
                        </th>
                        <th scope="col"><div class="content">
                            <div class="dealine">
                                <span>hạn nộp</span>
                            </div>
                            <div class="name_worf">
                                <span>Tên bài tập</span> 
                            </div>
                            <div class="diem">
                                <span>trong tổng số 100</span> 
                            </div>
                        </div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <div class="icon-diem">
                                <div class="icon">
                                    <i class="fas fa-user-check"></i>
                                </div>
                                <div class="diem">
                                    <h6>Điểm trung bình của lớp</h6>
                                </div>
                                 
                            </div>
                        </th>
                        <td>Áp dụng</td>
                        <td>Áp dụng</td>
                        <td>Không áp dụng</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="image-name">
                                <div class="image">
                                    <div>
                                        <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
                                    </div>
                                </div>
                                <div class="name">
                                    <h6>huy kun</h6>
                                </div>
                                 
                            </div>
                        </th>
                        <td>Thiếu</td>
                        <td>Đã nộp</td>
                        <td>Nộp muộn</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="image-name">
                                <div class="image">
                                    <div>
                                        <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
                                    </div>
                                </div>
                                <div class="name">
                                    <h6>huy nguyễn</h6>
                                </div>
                                 
                            </div>
                        </th>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>