<section class="sidebar_chucnang__wrapper mt-4">
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_lichdaotao')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Lịch đào tạo</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_kehoachdaotao')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Kế hoạch đào tạo</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_chitieudaotao')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-check mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Chỉ tiêu đào tạo</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_nganhnghe')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-near-me mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Ngành nghề</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_khoabomon')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-folder-account mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Khoa - Bộ môn</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_monhoc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-school mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Môn học</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_giaovien')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-school mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Giáo viên</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_giaovienlophocphan')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-school mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Giáo viên LHP</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_thoikhoabieu')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-school mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Thời khóa biểu</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_phonghoc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-school mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Phòng học</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ctdt_lichphonghoc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-school mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Lịch phòng học</div>
        </div>
      </div>
    </div>
  </div>
</section>
