<div class="bg__caothang__light">
    <app-breadcrumb></app-breadcrumb>
    <section class="post_page__wrapper mt-4">
        <div class="container-fluid bg-white shadow rounded-lg">
            <div class="row no-gutters">
                <div class="col-md-7 col-lg-8">
                    <div class="px-3 py-4 p-lg-5">
                        <div class="text-center">
                            <h1 class="post_page__title font-weight-bold text-uppercase">[S4L] KẾT QUẢ SOLUTIONS FOR LIFE KỲ 03 TRANSLATING INTO PROTEIN</h1>
                            <div class="d-flex flex-column flex-sm-row justify-content-center">
                                <div class="mr-sm-4"><span class="mdi mdi-pencil mr-1"></span><strong>Trần Quang Khải</strong></div>
                                <div><span class="mdi mdi-clock mr-1"></span><span>15h15 26/6/2020</span></div>
                            </div>
                        </div>
                        <div class="post_page__content text-justify mt-4">
                            <p>
                                CLB Tin học xin chúc mừng bạn Lê Hoàng Khang (CĐ TH 19C) và bạn Võ Bằng Kiều (CĐ TH
                                19D) đã có lời giải chính xác cho bài toán kỳ 03 Solutions For Life với chủ đề
                                “Translating into Protein”. Thân mời bạn đến VP. BM. Tin học lầu 7 dãy F vào lúc
                                11h15 ngày thứ 4 (18.12.2019) để nhận thưởng.
                            </p><img src="../../../assets/img/news/bang-vang-thanh-tich-03.jpg">
                            <p>
                                Xin chúc mừng các bạn đã xuất sắc giải quyết được yêu cầu bài toán, đồng thời xin gởi
                                lời cảm ơn các bạn còn lại đã hưởng ứng tham gia cuộc thi, rất mong nhận được sự
                                nhiệt thành của các bạn trong các cuộc thi sắp tới.
                            </p>
                            <p>Cuộc thi Solutions For Life</p>
                            <p>CLB Tin học Cao Thắng ./.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="px-3 py-4 p-lg-5">
                        <div class="job_home__title position-relative text-center">
                            <div class="job_home__desc d-inline-block bg-white text-uppercase font-weight-bold px-3">Tin tức khác</div>
                            <hr class="m-0 border-dark">
                        </div>
                        <div class="row mt-3">
                            <div class="col-auto pr-0">
                                <div class="post_page__post__thumbnail border"><img src="../../../assets/img/news/bang-vang-thanh-tich-03.jpg" alt=""></div>
                            </div>
                            <div class="col"><a class="post_page__sub__title font-weight-bold text-dark" href="#">[S4L] KẾT QUẢ SOLUTIONS FOR LIFE KỲ 03 TRANSLATING INTO PROTEIN</a>
                                <div class="small text-muted mt-2">26/6/2020</div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-auto pr-0">
                                <div class="post_page__post__thumbnail border"><img src="../../../assets/img/news/bang-vang-thanh-tich-03.jpg" alt=""></div>
                            </div>
                            <div class="col"><a class="post_page__sub__title font-weight-bold text-dark" href="#">
                                    Lorem ipsum dolor sit
                                    amet
                                    consectetur adipisicing elit. At.</a>
                                <div class="small text-muted mt-2">26/6/2020</div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-auto pr-0">
                                <div class="post_page__post__thumbnail border"><img src="../../../assets/img/news/bang-vang-thanh-tich-03.jpg" alt=""></div>
                            </div>
                            <div class="col"><a class="post_page__sub__title font-weight-bold text-dark" href="#">
                                    Lorem ipsum dolor
                                    sit
                                    amet consectetur adipisicing elit. At.</a>
                                <div class="small text-muted mt-2">26/6/2020</div>
                            </div>
                        </div>
                    </div>
                    <div class="post_page__feature">
                        <div class="px-3 py-4 py-lg-0 px-lg-5">
                            <div class="job_home__title position-relative text-center">
                                <div class="job_home__desc d-inline-block bg-white text-uppercase font-weight-bold px-3">Tiện ích</div>
                                <hr class="m-0 border-dark">
                            </div>
                            <nav class="post_page__feature__nav mt-3">
                                <li class="mb-3"><a class="text-reset" href="#"><span class="mdi mdi-domain"></span><span class="ml-2">Trung tâm Tin học</span></a></li>
                                <li class="mb-3"><a class="text-reset" href="#"><span class="mdi mdi-layers-triple-outline"></span><span class="ml-2">Danh sách học phần</span></a></li>
                                <li class="mb-3"><a class="text-reset" href="#"><span class="mdi mdi-stack-overflow"></span><span class="ml-2">Tài liệu học tập</span></a></li>
                                <li class="mb-3"><a class="text-reset" href="#"><span class="mdi mdi-near-me"></span><span class="ml-2">Cơ hội việc làm</span></a></li>
                                <li class="mb-3"><a class="text-reset" href="#"><span class="mdi mdi-laptop"></span><span class="ml-2">E-Learning</span></a></li>
                                <li class="mb-3"><a class="text-reset" href="#"><span class="mdi mdi-school"></span><span class="ml-2">Cựu sinh viên</span></a></li>
                                <li class="mb-3"><a class="text-reset" href="#"><span class="mdi mdi-folder-account"></span><span class="ml-2">Tra cứu</span></a></li>
                                <li class="mb-3"><a class="text-reset" href="#"><span class="mdi mdi-calendar-check"></span><span class="ml-2">Lịch thi</span></a></li>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>