<section class="loadpage_effect" style="opacity: 0;">
    <app-sidebar-diem></app-sidebar-diem>

    <app-modal-nopdiem></app-modal-nopdiem>
    <app-modal-thongkediem></app-modal-thongkediem>
    <app-modal-diemchinhthuc></app-modal-diemchinhthuc>
    <app-modal-lophoc></app-modal-lophoc>
    <app-modal-lophocphan></app-modal-lophocphan>
    <app-modal-cotdiemlophocphan></app-modal-cotdiemlophocphan>
    <app-modal-diemtongketlophocphan></app-modal-diemtongketlophocphan>
    <app-modal-diemquatrinhlophocphan></app-modal-diemquatrinhlophocphan>
</section>