<header class="header_master bg__caothang shadow">
  <div class="header_dropdown__wrapper">
    <a routerLink="/" class="header_logo mb-1">
      <img src="assets/img/logo/logo_khoa_white.png" alt="logo khoa cntt" />
    </a>
    <div class="header_dropdown__toggle">
      <span class="username">{{ email }}</span>
    </div>
    <div class="header_dropdown__menu">
      <!-- <a routerLink="/" class="header_dropdown__item">
        <span class="mdi mdi-information mr-1"></span>
        <span>Thông tin</span>
      </a>
      <a routerLink="/" class="header_dropdown__item">
        <span class="mdi mdi-key mr-1"></span>
        <span>Đổi mật khẩu</span>
      </a> -->
      <hr class="my-1" />
      <a (click)="onLogout()" role="button" class="header_dropdown__item user-select-none">
        <span class="mdi mdi-logout-variant mr-1"></span>
        <span>Đăng xuất</span>
      </a>
    </div>
  </div>
  <nav class="header_navbar">
    <div class="header_navbar__divider"></div>
    <a
      routerLink="/chuongtrinhdaotao"
      routerLinkActive="active"
      class="header_navbar__item text-white text-decoration-none d-block"
    >
      <img
        class="header_navbar__icon mb-1"
        src="assets/img/icons/school.png"
        alt="icon chức năng"
      />
      <div>Chương trình đào tạo</div>
    </a>
    <div class="header_navbar__divider"></div>
    <a
      routerLink="/diem"
      routerLinkActive="active"
      class="header_navbar__item text-white text-decoration-none d-block"
    >
      <img
        class="header_navbar__icon mb-1"
        src="assets/img/icons/test.png"
        alt="icon chức năng"
      />
      <div>Điểm</div>
    </a>
    <div class="header_navbar__divider"></div>
    <a
      routerLink="/baocaoquyetdinh"
      routerLinkActive="active"
      class="header_navbar__item text-white text-decoration-none d-block"
    >
      <img
        class="header_navbar__icon mb-1"
        src="assets/img/icons/checklist.png"
        alt="icon chức năng"
      />
      <div>Báo cáo quyết định</div>
    </a>
    <div class="header_navbar__divider"></div>
    <a
      routerLink="/elearning"
      routerLinkActive="active"
      class="header_navbar__item text-white text-decoration-none d-block"
    >
      <img
        class="header_navbar__icon mb-1"
        src="assets/img/icons/blackboard.png"
        alt="icon chức năng"
      />
      <div>E-learning</div>
    </a>
    <div class="header_navbar__divider"></div>
    <a
      routerLink="/cntt"
      routerLinkActive="active"
      class="header_navbar__item text-white text-decoration-none d-block"
      ><img
        class="header_navbar__icon mb-1"
        src="assets/img/icons/function.png"
        alt="icon chức năng"
      />
      <div>Website CNTT</div>
    </a>
    <div class="header_navbar__divider"></div>
    <a
      routerLink="/ttth"
      routerLinkActive="active"
      class="header_navbar__item text-white text-decoration-none d-block"
      ><img
        class="header_navbar__icon mb-1"
        src="assets/img/icons/elearning.png"
        alt="icon chức năng"
      />
      <div>Trung tâm tin học</div>
    </a>
    <div class="header_navbar__divider"></div>
    <a
      routerLink="/facebook"
      routerLinkActive="active"
      class="header_navbar__item text-white text-decoration-none d-block"
    >
      <img
        class="header_navbar__icon mb-1"
        src="assets/img/icons/facebook.png"
        alt="icon chức năng"
      />
      <div>Facebook</div>
    </a>
  </nav>
</header>
