<div class="contaier">
    <div class="row">
        <div class="col-6">
            <div class="content-people">
                <div class="row">
                    <div class="title-icon">
                        <div class="title">
                            <h3>Giáo Viên</h3>
                        </div>
                        <div class="add">
                            <button mat-button (click)="openMoigv()"><i class="fas fa-user-plus"></i></button>
                        </div>
                    </div>
                    <div class="list-gv">
                        <div class="nx-showimg">
                            <div>
                                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
                            </div>
                        </div>
                        <div class="nx-showname">
                            <h6>Huy Nguyễn</h6>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="title-icon-sv">
                        <div class="title-sv">
                            <h3>Sinh viên</h3>
                        </div>
                        <div class="sl-sv">
                            <span>1 sinh viên</span>
                        </div>
                        <div class="add-sv">
                            <button mat-button  (click)="openMoisv()"><i class="fas fa-user-plus"></i></button>
                        </div>
                    </div>
                    <div class="list-sv">
                        <div class="nx-showimg">
                            <div>
                                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
                            </div>
                        </div>
                        <div class="nx-showname">
                            <h6>Huy Nguyễn</h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
