<nav class="header_navbar">
    <div class="header_navbar__item flex-column p-0">
      <span>Khoá học</span>
      <select class="custom-select text-white text-center bg-transparent border-0 py-0 px-3">
        <option class="bg__caothang" value="-1">-- Chọn khoá học --</option>
        <option class="bg__caothang" value="0">16</option>
        <option class="bg__caothang" value="1">17</option>
      </select>
    </div>
    <div class="header_navbar__item flex-column p-0">
      <span>Bậc</span>
      <select class="custom-select text-white text-center bg-transparent border-0 py-0 px-3">
        <option class="bg__caothang" value="-1">-- Chọn bậc --</option>
        <option class="bg__caothang" value="0">16</option>
        <option class="bg__caothang" value="1">17</option>
      </select>
    </div>
    <div class="header_navbar__item flex-column p-0">
      <span>Học kì</span>
      <select class="custom-select text-white text-center bg-transparent border-0 py-0 px-3">
        <option class="bg__caothang" value="-1">-- Chọn học kì --</option>
        <option class="bg__caothang" value="0">16</option>
        <option class="bg__caothang" value="1">17</option>
      </select>
    </div>
  </nav>
