<div class="container-fluid mt-5">
  <div class="row style-mgt">
    <div class="title-icon">
      <div class="title">
        <h3>{{baiGiang?.tieuDe}}</h3>
      </div>
      <!-- <div class="icon">
        <button mat-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-v"></i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Sao chép đường liên kết</button>
        </mat-menu>
      </div> -->
    </div>
  </div>
  <div class="row">
    <div class="content">
      <div class="thongtin">
        <div class="tt-icon">
          <div>
            <i class="far fa-calendar-minus"></i>
          </div>

        </div>
        <div class="tt-client">
          <div>
            {{ baiGiang?.nguoiDang}} đã đăng 1 bài giảng mới
          </div>
        </div>
        <div class="tt-dealine">
          <div>
            {{ baiGiang?.ngayChinhSua | date:'dd-MM-yyyy'}}
          </div>
        </div>
        <div class="tt-menu">
          <button mat-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-v"></i></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
      </div>
      <div class="nopbai">
        <div class="songuoinop">
          <div class="left">
            <div>
              <p>{{ baiGiang?.moTa }}</p>
            </div>
          </div>
          <div class="right">
            <div class="bieumau">
              <ng-container *ngFor="let link of baiGiang?.dinhKem">
                <button class="btn btn-outline-info" download (click)="download(link)">
                  <i class="fas fa-file-archive" style="font-size:25px"></i>
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="nhanxet">
        <div class="nx-main">
          <div class="nx-number">
            <button mat-button>{{dsBinhLuan?.count}} nhận xét về lớp học</button>
          </div>
          <ng-container *ngFor="let bl of dsBinhLuan?.data">
            <div class="nx-show">
              <div class="nx-showimg">
                <div>
                  <img class="gb_Ka gbii"
                    src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo"
                    srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x "
                    alt="" aria-hidden="true" data-noaft="">
                </div>
              </div>
              <div class="nx-showname">
                <h6>{{ bl.nguoiTao}} <span style='color: #555555'>{{ bl.ngayTao | date:'dd-MM-yyyy' }}</span></h6>
                <p>{{ bl.noiDung }}</p>
              </div>

            </div>
          </ng-container>
        </div>
      </div>
      <div class="comment">
        <div class="cm-main">
          <div class="cm-show">
            <div class="cm-showimg">
              <div><img class="gb_Ka gbii"
                  src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo"
                  srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x "
                  alt="" aria-hidden="true" data-noaft="">

              </div>
            </div>
            <div class="cm-showcomment">
              <form>
                <div class="input-container">
                  <button type="submit" class="btn" (keyup.enter)="onClick_BinhLuan(baiGiang?.maBaiGiang)"
                    (click)="onClick_BinhLuan(baiGiang?.maBaiGiang)"><i class="fas fa-paper-plane"></i></button>
                  <input class="input-field" type="text" [formControl]="binhLuan"
                    placeholder="Thêm nhập xét của lớp học" name="usrnm">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
