<app-modal class="modal_chucnang__wrapper show" id="cntt_noidungtrangchu">
  <div
    (click)="closeModal('cntt_noidungtrangchu')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Nội dung trang chủ</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box card mt-5 bg-white">
          <h4 class="card-header">
            Bài viết quan trọng (0 - baivietquantrong)
          </h4>
          <button (click)="onClickLogData()">log</button>
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Ảnh đại diện</th>
                  <th>Tiêu đề</th>
                  <th>Thời gian đăng</th>
                  <th>Người đăng</th>
                  <th class="text-center">Tuỳ chọn</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listBaiVietQuanTrong">
                  <td>Thứ tự hiển thị</td>
                  <td>
                    <a
                      data-fancybox
                      class="box-img"
                      href="https://localhost:4100/{{ item.anhBia }}"
                    >
                      <img
                        src="https://localhost:4100/{{ item.anhBia }}"
                        alt=""
                      />
                    </a>
                  </td>
                  <td>{{ item.tieuDe }}</td>
                  <td>{{ item.thoiGianDangBai }}</td>
                  <td>{{ item.nguoiViet || "Chưa có giá trị" }}</td>
                  <td class="text-center">
                    <button class="btn btn-outline-info btn-sm">
                      <span
                        title="Chỉnh sửa"
                        class="mx-1 mdi mdi-file-document-edit-outline"
                      ></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<!-- <div class="col-12">
  <div class="modal_chucnang__box card mt-5 bg-white">
    <h4 class="card-header">Bài viết quan trọng (0 - baivietquantrong)</h4>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Tiêu đề</th>
            <th>Thời gian đăng</th>
            <th>Người đăng</th>
            <th class="text-center">Tuỳ chọn</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              Lịch công tác tuần thứ 47 (Từ ngày 20/7/2020 đến ngày 25/7/2020) -
              Trường CĐ Kỹ Thuật Cao Thắng
            </td>
            <td>2020-07-29</td>
            <td>Nguyễn Thành Lộc</td>
            <td class="text-center">
              <button class="btn btn-outline-info btn-sm">
                <span
                  title="Chỉnh sửa"
                  class="mx-1 mdi mdi-file-document-edit-outline"
                ></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
