.table td,
.table th {
  vertical-align: middle;
}
.box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 48px;
  height: 48px;
  overflow: hidden;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
}
.box-img img {
  max-width: 100%;
  max-height: 100%;
}

input.index {
  width: 30px;
  text-align: center;
}

input.index:disabled {
  background: none;
  border: none;
}
