<app-detail-pagefacebook></app-detail-pagefacebook>
<app-modal class="modal_chucnang__wrapper" id="fb_quanlypagefacebook">
  <div (click)="closeModal('fb_quanlypagefacebook')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý trang trên Facebook</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-4">
              <div class="form-group">
                <label for="">ID Trang</label>
                <input type="text" class="form-control" [formControl]="IDpage">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Tên Trang</label>
                <input type="text" class="form-control" [formControl]="tenPage">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="">Đường dẫn</label>
                <input type="text" class="form-control" [formControl]="linkPage">
              </div>
            </div>
            <div class="">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2" (click)="Insert()" ><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm mới</div>
                </button>
                <button class="modal_chucnang__button btn btn-outline-success px-4 mx-2" (click)="UpdatePage()"><img
                  class="modal_chucnang__button__icon mb-2" src="assets/img/icons/upgrade.png" alt="image icon">
                <div>Cập nhật</div>
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLongpage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="modal-title" id="exampleModalLongTitle"></div>
                <h1 id="title" ></h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="">
                  <div class="form-group">
                    <label>Nội dung</label>
                    <textarea class="form-control" type="text" name="message" id="message" [formControl]="getMessage" ></textarea>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label>Đường dẫn hình ảnh</label>
                    <input class="form-control" type="text" name="picture" id="picture" [formControl]="getURLimg"/>
                  </div>
                </div>
                <input type="text" value="" id="linkstt" hidden>
                <input type="text" value="" id="getidpage" hidden>
                <input type="text" value="" id="postid" hidden>
                <input type="text" value="" id="returnloaip2" name="" hidden>
                <input type="text" value="" id="returnerrorpicturePage"name=""hidden>
                <div class="">
                  <div class="form-group">
                    <label for="">Chọn tin tức từ trang công nghệ thông tin</label>
                    <select [formControl]="mslinkp" class="form-control" id="mslinkp1">
                      <option [value]="null">Chọn tin tức..</option>
                      <option >https://vnexpress.net/nhieu-nguoi-o-da-nang-bi-phat-vi-ra-duong-tap-the-duc-4148598.html</option>


                      <option *ngFor="let tt of news" value="{{tt.url}}" class="form-control">{{tt.tieuDe}}</option>
                    </select>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label for="">Loại bài viết</label>
                    <select id="loaip2" [formControl]="getLoaistt" class="col-6 form-control">
                      <option [value]="null" >Chọn..</option>
                      <option *ngFor="let l of getloai" class="form-control">{{l.loai}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success mr-2" onclick="PostByRequest()" (click)="insertTobd()">Đăng</button>
                <button type="button" class="btn btn-secondary mr-2" (click)="insertDraft()">Lưu Nháp</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <!-- <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
              <select class="custom-select custom-select-sm form-control">
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select><span class="text-nowrap">&nbsp; hàng</span>
            </label> -->
            <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Tìm kiếm: &nbsp;</span>
              <input class="form-control form-control-sm" placeholder="Tìm kiếm" [(ngModel)]="searchpage">
            </label>
          </div>
          <table class="modal_chucnang__table table table-hover" id="">
            <thead class="bg__caothang text-white">
              <th class="text-center">STT</th>
              <th scope="col" class="text-center">id</th>
              <th scope="col" class="text-center">Tên trang</th>
              <th scope="col" class="text-center">Đường dẫn</th>
              <th scope="col" class="text-center">Tác vụ</th>
            </thead>
            <tbody>
              <tr *ngFor=" let d of data |filter: searchpage; index as stt" >
                <td class="text-center" >{{stt+1}}</td>
                <td class="text-center">
                  <div>{{d.id_Page}}</div>
                </td>
                <td class="text-center" (click)="selectRow(d)">
                  <div>{{d.tenPage}}</div>
                </td>
                <td class="text-center">
                  <a href="{{d.linkPage}}" target="_blank">Đi đến trang</a>
                </td>
                <td class="text-center">
                  <div class="mb-1">
                    <!-- Button trigger modal -->
                    <button type="button" class="modal_chucnang__button btn btn-outline-success" data-toggle="modal" data-target="#exampleModalLongpage" (click)="changeTitle(d.tenPage)" onclick="getAccessToken(this)" data="{{d.id_Page}}">
                      Đăng Bài
                    </button>
                  </div>
                  <div class="mb-1">
                    <button class="modal_chucnang__button btn btn-outline-secondary" (click)="openDetailpage(d)">Chi tiết</button>
                  </div>
                  <div class="mb-1">
                    <button class="modal_chucnang__button btn btn-outline-danger px-4" (click)="DeletePage(d)">Xóa</button>
                  </div>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>
