<section class="sidebar_chucnang__wrapper mt-4">
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="sidebar_chucnang__item" (click)="openModal('diem_nopdiem')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Nộp điểm</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('diem_thongkediem')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Thống kê điểm</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('diem_diemsinhvien')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-check mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Điểm chính thức</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('diem_lophoc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-check mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Lớp học</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('diem_lophocphan')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-check mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Lớp học phần</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('diem_cotdiemlophocphan')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-check mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Cột điểm LHP</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('diem_sinhvienlophocphan')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-check mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Điểm Tổng kết LHP</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('diem_diemlophocphan')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-check mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Điểm quá trình LHP</div>
        </div>
      </div>
    </div>
  </div>
</section>