<section class="reset_page">
  <router-outlet></router-outlet>
  <form [formGroup]="resetForm" class="reset_form p-5">
    <div class="d-flex align-items-center">
      <img src="../../../assets/img/logo/it.png" alt="logo khoa" class="reset_logo" />
      <div class="logo_logo__text ml-2 fg_caothang__1">
        <div>Information Technology</div>
        <div>CKC Application</div>
      </div>
    </div>
    <div class="reset_group mt-4">
      <input
        formControlName="email"
        class="reset_input reset_border__radius"
        type="text"
        placeholder="Email"
      />
    </div>
    <button
      (click)="onResetPassword()"
      class="mt-3 reset_border__radius bg__caothang_1 btn text-white btn-block"
    >
      Cấp lại mật khẩu
    </button>

    <div class="mt-3 d-flex justify-content-center">
      <a
        class="reset_another reset_border__radius bg__caothang_1 text-white text-decoration-none"
        [routerLink]="['/']"
        >Khoa CNTT</a
      >
      <a
        class="reset_another reset_border__radius bg__caothang_1 text-white text-decoration-none"
        [routerLink]="['/']"
        >Trung tâm Tin học</a
      >
    </div>
  </form>
</section>
