<app-modal class="modal_chucnang__wrapper" id="cntt_thongtinchung">
  <div
    (click)="closeModal('cntt_thongtinchung')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3">
    <!-- <button type="button" (click)="logData()">log</button> -->
    <form [formGroup]="formThongTinChung">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center text-white">
            Thông tin chung của website CNTT
          </h1>
        </div>
        <div class="col-12">
          <div class="modal_chucnang__box border rounded p-4 mt-4 bg-white">
            <div class="row justify-content-center align-items-center">
              <div class="upload-btn-wrapper text-center">
                <div>Logo</div>
                <div class="box-img">
                  <img [src]="logo" id="preview_logo_thongtinchung_2" />
                </div>
                <input
                  type="file"
                  id="input_image_thongtinchung_2"
                  (change)="selectLogo($event)"
                  onchange="document.getElementById('preview_logo_thongtinchung_2').src = window.URL.createObjectURL(this.files[0])"
                  accept="image/x-png,image/jpeg"
                />
                <label
                  for="input_image_thongtinchung_2"
                  class="btn btn-outline-dark btn-sm btn-block mb-0 mt-2"
                >
                  Chọn hình ảnh
                </label>
              </div>
              <div class="upload-btn-wrapper text-center ml-4">
                <div>Logo transparent</div>
                <div class="box-img" style="background: #283790;">
                  <img [src]="logoMenu" id="preview_logo_thongtinchung_1" />
                </div>
                <input
                  type="file"
                  id="input_image_thongtinchung_1"
                  (change)="selectLogoMenu($event)"
                  onchange="document.getElementById('preview_logo_thongtinchung_1').src = window.URL.createObjectURL(this.files[0])"
                  accept="image/x-png,image/jpeg"
                />
                <label
                  for="input_image_thongtinchung_1"
                  class="btn btn-outline-dark btn-sm btn-block mb-0 mt-2"
                >
                  Chọn hình ảnh
                </label>
              </div>
              <div class="ml-4">
                <div class="form-group">
                  <label class="mb-0">Địa chỉ</label>
                  <input
                    formControlName="diaChi"
                    type="text"
                    class="form-control"
                    placeholder="Địa chỉ trường / khoa"
                  />
                </div>
                <div class="form-group">
                  <label class="mb-0">Số điện thoại</label>
                  <input
                    formControlName="soDienThoai"
                    type="text"
                    class="form-control"
                    placeholder="Số điện thoại của khoa"
                  />
                </div>
              </div>
              <div class="ml-4">
                <div class="form-group">
                  <label class="mb-0">URL Facebook</label>
                  <input
                    formControlName="urlFacebook"
                    type="text"
                    class="form-control"
                    placeholder="URL Facebook chính thức của khoa"
                  />
                </div>
                <div class="form-group">
                  <label class="mb-0">URL YouTube</label>
                  <input
                    formControlName="urlYoutube"
                    type="text"
                    class="form-control"
                    placeholder="URL YouTube chính thức của khoa"
                  />
                </div>
              </div>
              <div class="ml-4">
                <div class="form-group">
                  <label class="mb-0">Email</label>
                  <input
                    formControlName="email"
                    type="text"
                    class="form-control"
                    placeholder="Email của khoa"
                  />
                </div>
                <div class="form-group">
                  <label class="mb-0">Copyright</label>
                  <input
                    formControlName="copyRight"
                    type="text"
                    class="form-control"
                    placeholder="Copyright của website"
                  />
                </div>
              </div>
              <div class="ml-4">
                <button
                  (click)="onSave()"
                  class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"
                  type="submit"
                >
                  <img
                    class="modal_chucnang__button__icon"
                    src="assets/img/icons/upgrade.png"
                    alt="image icon"
                  />
                  <div>Cập nhật</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-modal>
