<app-modal class="modal_chucnang__wrapper" id="ttth-diemthi">
  <div (click)="closeModal('ttth-diemthi')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Nhập điểm đợt thi</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white row">
          <div class="col-3">
            <div class="form-group">
              <label >Chọn đợt thi</label>
              <select  class="form-control" (change)="onChangeDotThi($event.target.value)">
                  <option value="">Chọn đợt thi cần nhập điểm</option>
                  <ng-container *ngFor="let item of DotThi">
                    <option *ngIf="item.trangthai==1" value="{{item._id}}">{{item.tendot}} - {{item.ngaythi | date:'dd/MM/yyyy'}} - {{item.giothi}} - {{item.phongthi}}</option>
                  </ng-container>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white row">
          <label>Chọn thư mục excel</label>
          <div  class="custom-file">
            <input type="file" (change)="onChange($event)" #inputFile>
          </div>
          <div *ngIf="isExcelFile === false" style="color:red">
            Đây không phải là file excel.Vui lòng chọn file excel theo mẫu!
          </div>
          <button class="btn btn-danger mr-2" (click)="removeData()" *ngIf="DiemThi!== undefined">Hủy bỏ dữ liệu</button>
          <button  class="btn btn-success " (click)="importExcel()" *ngIf="DiemThi!== undefined">Nhập vào</button>
            <table class="modal_chucnang__table table table-hover">
              <thead class="bg__caothang text-white">
                <tr>
                  <th *ngFor="let key of keys" scope="col">{{key}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataSheet | async">
                  <td *ngFor="let key of keys">
                    {{item[key]}}
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>

</app-modal>
