.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
.mat-option#mat-option-3 {
    height: auto;
}

.form-mgl{
    margin-left: 5px;
}
.style-100{
    width: 100%;
}
.example-container .content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.example-container .content .left{
    width: 50%;
}.example-container .content .right{
    width: 50%;
}


