<app-modal class="modal_chucnang__wrapper " id="ttth-lophoc">
  <div (click)="closeModal('ttth-lophoc')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý lớp học</h1>
      </div>
      <div class="col-12" [ngClass]="{ 'd-none': selectedItem }">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label>Chọn khóa học</label>
                <select class="modal_chucnang__select2 form-control" #makhoahoc>
                  <option></option>
                  <ng-container *ngFor="let item of MaKhoaHoc">
                    <option value="{{item.makhoahoc}}">{{item.tenkhoahoc}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="form-group">
                <label>Đợt</label>
                <input type="text" class="form-control" #dot placeholder="VD: Đợt 1, Đợt 2 ,...">
              </div>
              <div class="form-group">
                <label>Giáo viên</label>
                <input type="text" class="form-control" #giaovien>
              </div>
              <div class="form-group">
                <label>Buổi học</label>
                <input type="text" class="form-control" #buoihoc placeholder="VD: 246, 357 ,...">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Giờ học</label>
                <input type="text" class="form-control" #giohoc>
              </div>
              <div class="form-group">
                <label>Ngày khai giảng</label>
                <input type="date" class="form-control" #ngaykhaigiang>
              </div>
              <div class="form-group">
                <label>Học phí</label>
                <input type="text" class="form-control" #hocphi>
              </div>
              <div class="form-group">
                <label>Ngày hết hạn đăng kí</label>
                <input type="date" class="form-control" #ngayhethan>
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2" [disabled]="!makhoahoc.value || !dot.value || !giaovien.value|| !buoihoc.value|| !giohoc.value|| !hocphi.value || !ngaykhaigiang.value || !ngayhethan.value"
                  (click)="add(makhoahoc.value,dot.value,giaovien.value,buoihoc.value,giohoc.value,ngaykhaigiang.value,hocphi.value,ngayhethan.value);makhoahoc.value=''; dot.value=''; giaovien.value=''; buoihoc.value=''; giohoc.value=''; hocphi.value=''; ngaykhaigiang.value=''; ngayhethan.value=''"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm mới</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="selectedItem">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label>Chọn khóa học</label>
                <select class="modal_chucnang__select2 form-control" [(ngModel)]="selectedItem.makhoahoc">
                  <ng-container *ngFor="let item of MaKhoaHoc">
                    <option value="{{item.makhoahoc}}">{{item.tenkhoahoc}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="form-group">
                <label>Đợt </label>
                <input type="text" class="form-control"  [(ngModel)]="selectedItem.dot" placeholder="VD: Đợt 1, Đợt 2 ,...">
              </div>
              <div class="form-group">
                <label>Giáo viên</label>
                <input type="text" class="form-control" [(ngModel)]="selectedItem.giaovien">
              </div>
              <div class="form-group">
                <label>Buổi học</label>
                <input type="text" class="form-control"  [(ngModel)]="selectedItem.buoihoc"  placeholder="VD: 246, 357 ,...">
              </div>

            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Giờ học</label>
                <input type="text" class="form-control"  [(ngModel)]="selectedItem.giohoc">
              </div>
              <div class="form-group">
                <label>Ngày khai giảng</label>
                <input type="date" class="form-control" [(ngModel)]="selectedItem.ngaykhaigiang" >
              </div>
              <div class="form-group">
                <label>Học phí</label>
                <input type="text" class="form-control"  [(ngModel)]="selectedItem.hocphi">
              </div>
              <div class="form-group">
                <label>Ngày hết hạn đăng kí</label>
                <input type="date" class="form-control" [(ngModel)]="selectedItem.ngayhethan" >
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-success px-4 mx-2"
                  (click)="update(selectedItem)"><img class="modal_chucnang__button__icon mb-2"
                    src="assets/img/icons/upgrade.png" alt="image icon">
                  <div>Cập nhật</div>
                </button>
                <button  (click)="reset()"  type="reset"  class="btn btn-outline-dark px-4 mx-2">
                  <img class="modal_chucnang__button__icon mb-2"
                  src="assets/img/icons/error.png"    alt="image icon"  />
                  <div>Huỷ bỏ</div>
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <table class="modal_chucnang__table table table-hover"  *ngIf="LopHoc" datatable="ng">
            <thead class="bg__caothang text-white">
              <tr>
                <th>#</th>
                <th scope="col">Mã khóa học</th>
                <th scope="col">Đợt</th>
                <th scope="col">Buổi học</th>
                <th scope="col">Giờ học</th>
                <th scope="col">Ngày khai giảng</th>
                <th scope="col">Học phí</th>
                <th scope="col">Ngày hết hạn</th>
                <th scope="col">Người tạo</th>
                <th scope="col">Người sửa</th>
                <th scope="col">Trạng thái</th>
                <!-- <th scope="col">Ngày tạo</th>
                <th scope="col">Ngày sửa</th> -->
                <th class="text-center" scope="col"><span
                    class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of LopHoc; let i = index">
                <td style="max-width: 50px">{{i + 1}}</td>
                <td>{{item.makhoahoc}}</td>
                <td>{{item.dot}}</td>
                <td>{{item.buoihoc}}</td>
                <td>{{item.giohoc}}</td>
                <td>{{item.ngaykhaigiang | date:'dd/MM/yyyy'}}</td>
                <td>{{item.hocphi}}</td>
                <td>{{item.ngayhethan | date:'dd/MM/yyyy'}}</td>
                <td>{{item.nguoitao}}</td>
                <td>{{item.nguoisua}}</td>
                <td *ngIf="item.trangthai==0">Đã xóa</td>
                <td *ngIf="item.trangthai==1">Chưa nhập điểm</td>
                <td *ngIf="item.trangthai==2">Đã nhập điểm</td>
                <!-- <td>{{item.created_at | date:'dd/MM/yyyy'}}</td>
                <td>{{item.updated_at | date:'dd/MM/yyyy'}}</td> -->
                <td class="text-center" *ngIf="item.trangthai!=0">
                  <span class="modal_chucnang__button__delete mdi mdi-file-document-edit-outline  mdi-24px  mr-2"
                    (click)="onSelect(item);imageSrc=null"></span>
                  <span class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px" (click)="delete(item)"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>
