<app-modal class="modal_chucnang__wrapper" id="cntt_quanlyfooter">
  <div
    (click)="closeModal('cntt_quanlyfooter')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý Footer</h1>
      </div>
      <div class="col-12">
        <!-- Code template here -->
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <!-- Code template here -->
        </div>
      </div>
    </div>
  </div>
</app-modal>
