
<div class="lophoc-container">
    <div class="list-lophoc">
        <div class="list-lophoc-item" *ngFor="let l of filterDsLop" (change)="danhSachLopHocPhan()">
            <div class="list-title bg1">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <ng-template *ngFor="let lop of dsLop" [ngIf]="l.maLopHoc == lop.maLopHoc">
                                <a [routerLink]="[{ outlets: { primary: ['lophocphan'], navbar: ['lophocphan'] } }]">
                                    {{lop.tenLop}}
                                </a>
                            </ng-template>
                        </div>
                        <!-- <div [(ngModel)]="maLopHoc">
                            <span value="{{l.maLopHoc}}"   >Số Lượng:{{dsSinhVien}}</span>
                        </div> -->
                        <div>
                            <span >
                                ĐVHP : 9
                            </span>
                        </div>
                        <div>
                            <ng-template [ngIf]="l.trangThai==1"> <span>Trạng thái: đang học</span></ng-template>
                            <ng-template [ngIf]="l.trangThai!=1"> <span>Trạng thái: Đã nộp điểm</span></ng-template>

                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v"
                                aria-hidden="true"></i></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Di chuyển</button>
                            <button mat-menu-item>Chỉnh sửa</button>
                            <button mat-menu-item>Lưu trữ</button>
                            <button mat-menu-item>Sao chép</button>
                        </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <ng-template *ngFor="let hp of dsGiaoVienLopHP" [ngIf]="l.maLopHocPhan== hp.maLopHocPhan">
                            <ng-template *ngFor="let gv of dsGiaoVien" [ngIf]="gv.maGiaoVien==hp.maGiaoVien" >
                                <span > {{gv.ho}} {{gv.ten}}</span>
                            </ng-template>
                            </ng-template>


                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii"
                    src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo"
                    srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x "
                    alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <!-- <div class="list-lophoc-item">
            <div class="list-title bg2">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a [routerLink]="[{ outlets: { primary: ['lophocphan'], navbar: ['lophocphan'] } }]">
                                Cơ sở dữ liệu
                              </a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 3</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 2</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg3">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a [routerLink]="[{ outlets: { primary: ['lophocphan'], navbar: ['lophocphan'] } }]">
                                Lập trình hướng đối tượng
                              </a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg4">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a [routerLink]="[{ outlets: { primary: ['lophocphan'], navbar: ['lophocphan'] } }]">
                                Lập trình Laravel
                              </a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg5">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a [routerLink]="[{ outlets: { primary: ['lophocphan'], navbar: ['lophocphan'] } }]">
                                Thiết kế Web
                              </a>
                           
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg6">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a [routerLink]="[{ outlets: { primary: ['lophocphan'], navbar: ['lophocphan'] } }]">
                               Anh văn A3
                              </a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg7">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a [routerLink]="[{ outlets: { primary: ['lophocphan'], navbar: ['lophocphan'] } }]">
                               Anh văn A1
                              </a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 3</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 2</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg8">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a [routerLink]="[{ outlets: { primary: ['lophocphan'], navbar: ['lophocphan'] } }]">
                                Anh văn A2
                              </a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg9">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a [routerLink]="[{ outlets: { primary: ['lophocphan'], navbar: ['lophocphan'] } }]">
                                Toán rời rạc
                              </a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 3</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 2</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div> -->
    </div>
</div>