.nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.nav-left{
    width: 30%;
}
.nav-right{
    width: 70%;
}
  .mat-button{
      padding: 0;
      margin-top: 10px;
      width: 100%;
  }
  .mat-button i{
      font-size: 1.5rem;
      padding: 5px;
      color: #666666;
  }
  @media only screen and (max-width: 600px){
    .nav{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .nav-left{
        width: 30%;
        margin-left: 20px;
    }
    .nav-right{
        width: 50%;
    }
    .mat-button{
        padding: 0;
        margin-top: 10px;
        width: 100%;
    }
    .mat-button span{
        display: none;
    }
    .mat-button i{
        font-size: 1rem;
        padding: 5px;
    }
  }