.nav{
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.nav-left{
    width: 15%;
}
.nav-right{
    width: 70%;
}
.nav-right img{
    width: 20%;
}
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  @media only screen and (max-width: 600px){
    .nav{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .nav-left{
        width: 30%;
        margin-left: 20px;
    }
    .nav-right{
        width: 50%;
    }
    .mat-button{
        padding: 0;
        margin-top: 10px;
        width: 100%;
    }
    .mat-button span{
        display: none;
    }
    .mat-button i{
        font-size: 1rem;
        padding: 5px;
    }
  }