<!--<div class="nav">
  <div class="nav-left">
    <button mat-button [matMenuTriggerFor]="menutlh"><i class="fa fa-plus" aria-hidden="true"></i></button>
<mat-menu #menutlh="matMenu">
        <button mat-menu-item><app-thamgialophoc></app-thamgialophoc></button>
        <button mat-menu-item><app-taolophoc></app-taolophoc></button>
</mat-menu>
  </div>
  <div class="nav-right">
    <button mat-button (click)="openAccount()"><i class="fas fa-user-circle"></i><span>Huy nguyen</span></button>
  </div>
</div>-->
<div class="nav">
  <div class="nav-left">
    <div class="dropdown">
      <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"><app-thamgialophoc></app-thamgialophoc></a>
        <a class="dropdown-item" ><app-taolophoc></app-taolophoc></a>
      </div>
    </div>
  </div>
  <div class="nav-right">
    <div class="dropdown">
      <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown">
        <img src="assets/img/huykun.JPG" class="rounded float-left rounded-circle" alt="...">
        Huy Nguyễn
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Đăng xuất</a>
      </div>
    </div>
  </div>
</div>







