<app-modal class="modal_chucnang__wrapper " id="fb_quanlygroupfacebook">
  <div (click)="closeModal('fb_quanlygroupfacebook')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý Group Facebook</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
           <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label> Tên Group</label>
                <input class="form-control" placeholder="Tên Group..." >
              </div>
              <div class="form-group">
                <label> Link Group</label>
                <input class="form-control" placeholder="Link Group...">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label> ID Group</label>
                <input class="form-control" placeholder="ID Group...">
              </div>
              <div class="form-group">
                <label>Lớp</label>
                <input class="form-control" [formControl]="tenLop" >
              </div>

            </div>
            <div class="col-6">
              <div class="row no-gutters">
                <div class="form-group col-2 " >
                  <label>Khoá</label>
                  <input class="form-control" type="number" [formControl]="khoa" >
                </div>
                <div class="form-group col-9 ml-4">
                  <label>Bậc</label>
                  <input class="form-control" [formControl]="maBac" >
                </div>
              </div>
              <div class="form-group">
                <label>Ngành</label>
                <input type="text" class="form-control" [formControl]="maNganh" >
              </div>
            </div>
            <div class="">
              <div class="col-auto">
                <div class="modal_chucnang__group__button">
                  <button class="modal_chucnang__button btn btn-outline-success px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/upgrade.png" alt="image icon">
                  <div>Cập nhật</div>
                </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
              <select class="custom-select custom-select-sm form-control">
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select><span class="text-nowrap">&nbsp; hàng</span>
            </label>
            <!-- <form [formGroup]="addForm" class="form-inline">
            <div class="form-group">
              <label for="bac" class="col-sm-2  col-form-label">Bậc </label>
              <div class="col-sm-4">
                <select  id="bac" class="form-control" formControlName="maBac" >
                  <option value="">Select...</option>
                  <option *ngFor="let b of bac" [ngValue]=b.maBac> {{b.tenBac }}</option>
                </select>
              </div>
            </div>
            </form> -->
            <!-- <form [formGroup]="addForm" class="form-inline">
              <div class="form-group">
                <label for="nganh" class="col-sm-2  col-form-label">Ngành </label>
                <div class="col-sm-4">
                  <select (change)="changedNganh($event)" id="nganh" class="form-control" formControlName="maNganh" >
                    <option value="">Select...</option>
                    <option *ngFor="let n of nganhList" [ngValue]=n.maNganhNghe> {{n.tenNganhNghe }}</option>
                  </select>
                </div>
              </div>
              </form> -->
            <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Tìm kiếm: &nbsp;</span>
              <input class="form-control form-control-sm" placeholder="Tìm kiếm" [(ngModel)]="searchGroup">
            </label>
          </div>
          <table class="modal_chucnang__table table table-hover" id="">
            <thead class="bg__caothang text-white">
              <th scope="col" class="text-center">STT</th>
              <th scope="col" class="text-center">ID</th>
              <th scope="col" class="text-center">Tên Lớp</th>
              <th scope="col" class="text-center">Link</th>
              <th scope="col" class="text-center">Khóa</th>
              <th scope="col" class="text-center">Trạng thái</th>
              <th scope="col" class="text-center">Tác vụ</th>
            </thead>
            <tbody >
              <tr *ngFor=" let d of data |filter: searchGroup;" (click)="insertDateforForm(d)">
                <td class="text-center">
                  <label >{{d.maLopHoc}}</label>
                </td>
                <td class="text-center">
                  <label >{{d.tenLop}}</label>
                </td>
                <td class="text-center">
                  <label >{{d.linkFBLopHoc}}</label>
                </td>
                <td class="text-center">
                  <label >{{d.khoa}}</label>
                </td>
                <td class="text-center">
                  <label>{{d.trangThai}}</label>
                </td>
                <td class="text-center">
                  <div class="form-group">
                    <span class="modal_chucnang__button__delete ml-2 mdi mdi-delete-outline mdi-24px"></span>
                    <button class="modal_chucnang__button btn btn-outline-success px-4 mx-2" (click)="openDetail()">View</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</app-modal>
