<app-modal class="modal_chucnang__wrapper " id="ttth-banner">
  <div (click)="closeModal('ttth-banner')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý slideshow</h1>
      </div>
      <div class="col-12" [ngClass]="{ 'd-none': selectedItem }">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-auto">
              <div class="form-group">
                <label>Tải hình ảnh (2000x600)</label>
                  <div class="upload-btn-wrapper text-center">
                    <div class="box-img">
                      <img  [src]="imageSrc"/>
                    </div>
                    <input type="file" id="slide" name="image" ng2FileSelect [uploader]="uploader" (change)="onFileSelected($event)"
                      accept="image/x-png|image/gif|image/jpeg|image/jpg"/>
                    <label for="slide" class="btn btn-outline-dark btn-sm btn-block w-100 mb-0 mt-2">
                      Chọn hình ảnh
                    </label>
                  </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Đường dẫn</label>
                <input type="text" class="form-control" #link >
              </div>
              <div class="form-group">
                <label>Vị trí</label>
                <input type="number" class="form-control" #vitri>
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2" [disabled]="!link.value || !vitri.value|| !imageSrc"
                (click)="addBanner(link.value,vitri.value);link.value=''; vitri.value='';uploader.uploadAll();imageSrc=null"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm mới</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="selectedItem">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-auto">
              <div class="form-group">
                <label>Tải hình ảnh (2000x600)</label>
                  <div class="upload-btn-wrapper text-center">
                    <div class="box-img">
                      <img  [src]="imageSrc ||selectedItem.image"/>
                    </div>
                    <input type="file" id="slide" name="image" ng2FileSelect [uploader]="uploader" (change)="onFileSelected($event)"
                      accept="image/x-png|image/gif|image/jpeg|image/jpg"/>
                    <label for="slide" class="btn btn-outline-dark btn-sm btn-block w-100 mb-0 mt-2">
                      Chọn hình ảnh
                    </label>
                  </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Đường dẫn</label>
                <input type="text" class="form-control" [(ngModel)]="selectedItem.link" >
              </div>
              <div class="form-group">
                <label>Vị trí</label>
                <input type="number" class="form-control" [(ngModel)]="selectedItem.vitri">
              </div>
              <!-- <div class="form-group">
                <label>Hiển thị</label>
                  <div class="form-check">
                    <input class="form-check-input" (change)="getValueCheckBox($event)"  *ngIf="selectedItem.hienthi == true" type="checkbox" checked>
                    <input class="form-check-input" (change)="getValueCheckBox($event)"  *ngIf="selectedItem.hienthi == false" type="checkbox">
                  </div>
              </div> -->
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-success px-4 mx-2" [disabled]="!selectedItem.link || !selectedItem.vitri"
                  (click)="saveBanner(selectedItem);uploader.uploadAll()"><img class="modal_chucnang__button__icon mb-2"
                    src="assets/img/icons/upgrade.png" alt="image icon">
                  <div>Cập nhật</div>
                </button>
                <button  (click)="reset()"  type="reset"  class="btn btn-outline-dark px-4 mx-2">
                  <img class="modal_chucnang__button__icon mb-2"
                  src="assets/img/icons/error.png"    alt="image icon"  />
                  <div>Huỷ bỏ</div>
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <table class="modal_chucnang__table table table-hover datatable" *ngIf="Banner" datatable="ng">
            <thead class="bg__caothang text-white">
              <tr>
                <th>#</th>
                <th scope="col">Image</th>
                <th scope="col">Đường dẫn</th>
                <th scope="col">Vị trí</th>
                <th scope="col">Người tạo</th>
                <th scope="col">Người sửa</th>
                <th scope="col">Trạng thái</th>
                <th class="text-center" scope="col"><span
                    class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span></th>
                  </tr>
              </thead>
            <tbody>
              <tr *ngFor="let item of Banner; let i = index">
                <td style="max-width: 50px">{{i + 1}}</td>
                <td style="max-width: 100px">
                  <div class="box-img box-anhdaidien bg-white">
                    <img src="{{item.image}}"/>
                  </div>
                </td>
                <td>{{item.link}}</td>
                <td>{{item.vitri}}</td>
                <td>{{item.nguoitao}}</td>
                <td>{{item.nguoisua}}</td>
                <td *ngIf="item.trangthai==false">Đã xóa</td>
                <td *ngIf="item.trangthai==true">Hiển thị</td>
                <td class="text-center" *ngIf="item.trangthai==true">
                  <span class="modal_chucnang__button__delete mdi mdi-file-document-edit-outline  mdi-24px  mr-2" (click)="onSelect(item);imageSrc=null"></span>
                  <span class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px" (click)="xoaBanner(item)"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>
