<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs">
          <a class="breadcrumb__step breadcrumb__step--active" routeLink="/"
            >Trang chủ</a
          >
          <a class="breadcrumb__step">Tin tức</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="search_page__wrapper my-4">
  <div class="container bg-white shadow rounded-lg mt-4">
    <div class="px-3 py-4 p-lg-5">
      <div class="row justify-content-center">
        <div class="col-md-11">
          <div class="search_page__result mt-4">
            <div
              class="py-4 border-top"
              *ngFor="let item of danhSachBaiVietTheoChuDe"
            >
              <div class="row">
                <div class="col-12 col-sm-auto">
                  <div class="search_page__result__image mx-auto">
                    <img [src]="item.image" alt="result item" />
                  </div>
                </div>
                <div class="col">
                  <div class="search_page__result__title mt-2 mt-sm-0">
                    <a
                      class="font-weight-bold text-reset"
                      routerLink="/chitiettintuc/{{ item._id }}"
                      >{{ item.tentintuc }}</a
                    >
                  </div>
                  <div class="small mt-2">
                    <span class="mr-3"
                      ><span class="fas fa-user mr-1"></span
                      ><strong>{{ item.nguoitao || "Admin" }}</strong></span
                    ><span
                      ><span class="fas fa-clock mr-1"></span
                      ><span>{{ formatDatetime(item.created_at) }}</span></span
                    >
                  </div>
                  <div class="mt-2">{{ item.description }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
