<section class="highlight_home__wrapper pt-4 pb-5 pt-sm-5 bg__light">
  <div class="container-fluid">
    <div class="row">
      <div class="d-none d-lg-block col-lg-3" style="z-index: 2;">
        <div
          class="highlight_home__title important mt-lg-4 pr-lg-4 py-lg-4 bg__light"
        >
          {{ BaiVietDauTien.tieuDe }}
        </div>
        <small class="highlight_home__postedtime important text-muted">
          {{ formatDatetime(BaiVietDauTien.thoiGianDangBai) }}
        </small>
        <div class="highlight_home__desc important mb-2 mb-lg-3">
          {{ BaiVietDauTien.moTaNgan }}
        </div>
        <a
          class="m-0 py-2 px-4 highlight_home__read btn text-white bg__caothang"
          routerLink="/bai-viet/{{ BaiVietDauTien._id }}"
          >Xem chi tiết</a
        >
      </div>
      <div class="col-lg-9" style="z-index: 1;">
        <div class="highlight_home__slider swiper-container">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              *ngFor="
                let itemBaiVietQuanTrong of DanhSachBaiVietQuanTrong;
                let i = index
              "
            >
              <a
                class="position-relative highlight_home__box_image"
                routerLink="/bai-viet/{{ itemBaiVietQuanTrong._id }}"
                ><img
                  src="https://localhost:4100/{{ itemBaiVietQuanTrong.anhBia }}"
                  [alt]="itemBaiVietQuanTrong.tieuDe" /><span
                  class="highlight_home__boxlink bg__caothang mdi mdi-call-made d-flex justify-content-center align-items-center text-white position-absolute"
                ></span
              ></a>
              <div class="d-lg-none mt-2">
                <div class="highlight_home__title text-uppercase">
                  {{ itemBaiVietQuanTrong.tieuDe }}
                </div>
                <small class="highlight_home__postedtime text-muted">{{
                  formatDatetime(itemBaiVietQuanTrong.thoiGianDangBai)
                }}</small>
                <div class="d-none highlight_home__id">
                  {{ itemBaiVietQuanTrong._id }}
                </div>
                <div class="highlight_home__desc">
                  {{ itemBaiVietQuanTrong.moTaNgan }}
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination d-lg-none position-static"></div>
        </div>
      </div>
    </div>
  </div>
</section>
