<app-modal class="modal_chucnang__wrapper" id="ttth-lichkhaigiang">
  <div (click)="closeModal('ttth-lichkhaigiang')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý lịch khai giảng</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label >Chọn khóa học</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label >Chọn buổi học</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label >Chọn giờ học</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label >Ngày khai giảng</label>
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label >Học phí</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm mới</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <table class="modal_chucnang__table table table-hover" datatable>
            <thead class="bg__caothang text-white">
              <tr>
                <th>#</th>
                <th scope="col">Khóa học</th>
                <th scope="col">Buổi gọc</th>
                <th scope="col">Giờ học</th>
                <th scope="col">Ngày khai giảng</th>
                <th scope="col">Học phí</th>
                <th scope="col">Hiển thị</th>
                <th class="text-center" scope="col"><span
                    class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="max-width: 50px">1</td>
                <td>Lập trình C</td>
                <td>Thứ 3-5-7</td>
                <td>17h30 đến 20h</td>
                <td>20/12/2020</td>
                <td>1,000,000 đồng</td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                    <label class="custom-control-label" for="customCheck1"></label>
                  </div>
                </td>
                <td class="text-center">
                  <span class="modal_chucnang__button__delete mdi mdi-wrench-outline mdi-24px  mr-2"></span>
                  <span class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>
