
<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="adminSidebar">
  <ul>
    <li><a mat-list-item [routerLink]="['lophoc']"> <i class="fa fa-home" aria-hidden="true"></i>Lớp học</a></li>
    <li><a mat-list-item [routerLink]="['thoikhoabieu']"><i class="far fa-calendar-minus"></i> Thời khóa biểu</a></li>
    <li><a mat-list-item [routerLink]="['lich']"><i class="far fa-calendar-minus"></i> Lịch</a></li>
    <li><a mat-list-item [routerLink]="['giangday']"><i class="fas fa-book-open"></i>Giảng dạy</a></li>
    <li><a mat-list-item [routerLink]="['dadangky']"><i class="far fa-calendar-check"></i>Đã đăng ký</a></li>
    <li><a mat-list-item [routerLink]="['caidat']"><i class="fas fa-cogs"></i>Cài đặt</a></li>
    <li><a mat-list-item [routerLink]="['caidat']"><i class="fas fa-cogs"></i>Cài đặt</a></li>
  </ul>
</div>

<div class="sidebar-right">
  <app-tao-or-thamgia-lophoc></app-tao-or-thamgia-lophoc>
</div>