
<!--<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="adminSidebar">
  <ul>
    <div>
      <li><a mat-list-item [routerLink]="['lophoc']"> <i class="fa fa-home" aria-hidden="true"></i>Lớp học</a></li>
      <li><a mat-list-item [routerLink]="['trangcanhan']"><i class="far fa-calendar-minus"></i> Trang cá nhân</a></li>
      <li><a mat-list-item [routerLink]="['caidat']"><i class="fas fa-cogs"></i>Cài đặt</a></li>
    </div>
    
  </ul>
</div>

<div class="sidebar-right">
  <app-tao-or-thamgia-lophoc></app-tao-or-thamgia-lophoc>
</div>-->