*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.adminSidebar{
  position: fixed;
  left: -250px;
  width: 250px;
  top: 0;
  height: 100%;
  background: #f4f4f4;
  transition: all .5s ease;
  z-index: 111;
  box-shadow: 0 0 1.5em rgba(85,85,85,0.5);
}

.adminSidebar header{
  font-size: 22px;
  color: black;
  text-align: center;
  line-height: 70px;
  background: #f4f4f4;
  user-select: none;
  z-index: 111;
}

.adminSidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 55px;
  font-size: 15px;
  color: #3c4043;
  padding-left:40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid #AAAAAA;
  transition: .4s;
}

ul li:hover a{
  padding-left: 50px;
}
.adminSidebar ul div{
  width: 80%;
}
.adminSidebar ul a i{
  margin-right: 16px;
}

#check{
  display: none;
}

label #btn, label #cancel{
  position: fixed;
  cursor: pointer;
  background: none;
  border-radius: 3px;
  z-index: 111;
}

label #btn{
  left: 20px;
  top: 10px;
  font-size: 20px;
  color: #007b83;
  padding: 6px 12px;
  background: none;
  transition: all .5s;
}

label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 20px;
  color: #007b83;
  padding: 4px 9px;
  transition: all .5s ease;
}

#check:checked ~ .adminSidebar{
  left: 0;
}

#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel{
  left: 195px;
}





.sidebar-right{
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.mat-drawer-container {
  background-color: #ffffff;
  color: rgba(0,0,0,.87);
}
  .mat-nav-list i{
    font-size: 0.875rem;
    padding-right: 8px;
  }
  .mat-nav-list{
    margin-top: 20px;
  }
  .mat-nav-list a{
    font-size: 0.775rem;
    font-weight: 500;
  }
  @media only screen and (max-width: 600px){
    .sidebar-right{
      width: 120px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1000;
    }
  }