<section class="container-fluid mt-5">
  <article class="master_page__wrapper">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="h5 mb-3 text-center text-truncate">
          Khoa CNTT - Tin mới nhất
        </div>
        <div class="shadow rounded overflow-hidden">
          <div class="master_page__chucnang__box px-3 px-md-4">
            <div class="master_page__chucnang__slider swiper-container">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide"
                  *ngFor="let itemBaiViet of danhSachBaiVietMoiNhat"
                >
                  <div class="master_page__chucnang__khoacntt__item">
                    <div class="master_page__chucnang__khoacntt__image">
                      <img
                        src="https://localhost:4100/{{ itemBaiViet.anhBia }}"
                        [alt]="itemBaiViet.tieuDe"
                      />
                    </div>

                    <div class="font-weight-bold mt-2 title">
                      {{ itemBaiViet.tieuDe }}
                    </div>
                    <div class="small mt-2">
                      <span class="mr-3"
                        ><span class="mdi mdi-pencil mr-1"></span
                        ><strong>{{ itemBaiViet.nguoiViet }}</strong></span
                      ><span
                        ><span class="mdi mdi-clock mr-1"></span
                        ><span>{{
                          formatDatetime(itemBaiViet.thoiGianDangBai)
                        }}</span></span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="h5 mb-3 text-center text-truncate">
          E-learning - Hoạt động mới nhất
        </div>
        <div class="shadow rounded overflow-hidden">
          <div class="master_page__chucnang__box px-3 px-md-4">
            <div *ngFor="let item of listActivityElearning">
              <div class="master_page__chucnang__item master_page__chucnang__fb__item py-3">
                <div class="d-flex">
                  <div class="mdi mdi-account mr-1"></div>
                  <div>
                    <strong>{{item.noiDung}}</strong>
                    <div class="small"> {{item.ngayTao | date:'dd-MM-yyyy'}}</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="h5 mb-3 text-center text-truncate">
          Facebook - Tin mới nhất
        </div>
        <div class="shadow rounded overflow-hidden">
          <div class="master_page__chucnang__box px-3 px-md-4">
            <div
              class="master_page__chucnang__item master_page__chucnang__fb__item py-3"
            >
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="master_page__chucnang__avatar">
                    <img
                      src="https://cntt.caothang.edu.vn/wp-content/uploads/2015/04/1.jpg"
                      alt="image"
                    />
                  </div>
                </div>
                <div class="col ml-3">
                  <a class="text-reset" href="#"
                    ><strong>Username</strong><span> đã làm cái gì </span
                    ><strong>tại comment đó</strong></a
                  >
                  <div class="small">1 giờ trước</div>
                </div>
              </div>
            </div>
            <div
              class="master_page__chucnang__item master_page__chucnang__fb__item py-3"
            >
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="master_page__chucnang__avatar">
                    <img
                      src="https://cntt.caothang.edu.vn/wp-content/uploads/2015/04/1.jpg"
                      alt="image"
                    />
                  </div>
                </div>
                <div class="col ml-3">
                  <a class="text-reset" href="#"
                    ><strong>Username</strong><span> đã làm cái gì </span
                    ><strong>tại comment đó</strong></a
                  >
                  <div class="small">1 giờ trước</div>
                </div>
              </div>
            </div>
            <div
              class="master_page__chucnang__item master_page__chucnang__fb__item py-3"
            >
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="master_page__chucnang__avatar">
                    <img
                      src="https://cntt.caothang.edu.vn/wp-content/uploads/2015/04/1.jpg"
                      alt="image"
                    />
                  </div>
                </div>
                <div class="col ml-3">
                  <a class="text-reset" href="#"
                    ><strong>Username</strong><span> đã làm cái gì </span
                    ><strong>tại comment đó</strong></a
                  >
                  <div class="small">1 giờ trước</div>
                </div>
              </div>
            </div>
            <div
              class="master_page__chucnang__item master_page__chucnang__fb__item py-3"
            >
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="master_page__chucnang__avatar">
                    <img
                      src="https://cntt.caothang.edu.vn/wp-content/uploads/2015/04/1.jpg"
                      alt="image"
                    />
                  </div>
                </div>
                <div class="col ml-3">
                  <a class="text-reset" href="#"
                    ><strong>Username</strong><span> đã làm cái gì </span
                    ><strong>tại comment đó</strong></a
                  >
                  <div class="small">1 giờ trước</div>
                </div>
              </div>
            </div>
            <div
              class="master_page__chucnang__item master_page__chucnang__fb__item py-3"
            >
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="master_page__chucnang__avatar">
                    <img
                      src="https://cntt.caothang.edu.vn/wp-content/uploads/2015/04/1.jpg"
                      alt="image"
                    />
                  </div>
                </div>
                <div class="col ml-3">
                  <a class="text-reset" href="#"
                    ><strong>Username</strong><span> đã làm cái gì </span
                    ><strong>tại comment đó</strong></a
                  >
                  <div class="small">1 giờ trước</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
