<div class="container-fluid mt-5">
  <div class="row style-magintop" style="border-bottom:solid 0.5px black;padding-bottom: 20px;">
    <div class="col-md-6 mt-4">
      <div mat-dialog-actions>
        <button mat-stroked-button color="warn"  mat-dialog-close><i class="fas fa-times"></i></button>
        <span style="margin-left: 5px;">Bài tập</span>
      </div>
    </div>
    <div class="col-md-6 mt-4">
      <div>
        <button mat-raised-button color="primary" (click)="saveBaiTap()">Giao bài</button>
        <!-- <button mat-button [matMenuTriggerFor]="menu"><i class="fas fa-angle-down"></i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Giao bài</button>
          <button mat-menu-item>Lên lịch</button>
          <button mat-menu-item>Lưu bản nháp</button>
          <button mat-menu-item>Hủy bản nháp</button>
        </mat-menu> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12" style="padding-top:10px">
          <form class="example-form">
            <mat-form-field class="example-full-width" style="width:100%">
              <mat-label>Tiêu đề</mat-label>
              <input matInput placeholder="Tiêu đề" [(ngModel)]="baitap.tieuDe" name="tieude">
            </mat-form-field>
          </form>
        </div>
        <div class="col-md-12">
          <form>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Hướng dẫn (không bắt buộc)</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="baitap.huongDan"
                name="huongdan"></textarea>
            </div>
          </form>
        </div>
        <div class="col-md-12">
          <div class="col-sm-12">
            <h4>Đính kèm tệp</h4>
            <div id="fileSelector">
              <input type="file" name="fileUplaod" id="fileUpload" multiple ng2FileSelect [uploader]="uploader">
            </div>
            <div>
              <div class="row uploadList" *ngFor="let item of uploader.queue">
                <div class="col-sm-2">{{item.file.name}}</div>
                <div class="col-sm-4">
                  <!-- <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>  -->
                  <button type="button" class="btn btn-danger" (click)="item.remove()">Bỏ</button>
                </div>
              </div>
            </div>
            <!-- <div class="row" *ngIf="uploader?.queue?.length > 0">
              <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <mat-label>Dành cho</mat-label>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Chọn tên lớp</mat-label>
          <mat-select [(ngModel)]="baitap.lopHocPhan" name="selectedLHP" (selectionChange)="changeLHP($event.value)">
            <mat-option *ngFor="let lhp of dsLHP" [value]="lhp.maLopHocPhan">{{ lhp.tenLopHocPhan }} </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <!-- <mat-label>Điểm</mat-label>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>100</mat-label>
          <mat-select multiple>
            <mat-option>Chưa chấm điểm</mat-option>
          </mat-select>
        </mat-form-field>
      </form> -->
      <mat-label>Đến hạn</mat-label>
      <form class="example-form">
        <mat-form-field>
          <input matInput [matDatepicker]="myDatePicker" placeholder="Expiration" (dateChange)="EndDateChange($event)">
          <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #myDatePicker></mat-datepicker>
        </mat-form-field>
      </form>
      <mat-label>Chủ đề </mat-label>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Không có chủ đề</mat-label>
          <mat-select [(ngModel)]="baitap.chuDe" (selectionChange)="changeChuDe(1)" name="selectChuDe">
            <mat-option *ngFor="let chude of dsChuDe" [value]="chude.maChuDe">{{ chude.tenChuDe }} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>tạo chủ đề</mat-label>
          <input [(ngModel)]="newChude" (change)="changeChuDe(2)" name="chuDeMoi" matInput placeholder="Tạo chủ đề">
        </mat-form-field>
      </form>
      <!-- <button mat-button [matMenuTriggerFor]="Tieuchichamdiem"><i class="fas fa-plus"></i> Tiêu chí chấm
        điểm</button> -->
      <!-- <mat-menu #Tieuchichamdiem="matMenu">
        <button mat-menu-item>Tại tiêu chí chấm điểm</button>
        <button mat-menu-item>Sử dụng lại tiêu chí chấm điểm</button>
        <button mat-menu-item>Nhập từ trang tính</button>
      </mat-menu> -->
    </div>
  </div>
  <script>
    $('.datepicker').datepicker();
  </script>
