.fg_caothang__1 {
  color: #283790;
}

.login_page {
  height: 100vh;
  max-height: 100vh;
  background: url(../assets/img/background/DSC_0022.png) center center fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.login_page::after {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.login_page .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #283790;
  background-color: #283790;
}

.login_form {
  border-radius: 24px;
  width: 500px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login_border__radius {
  border-radius: 8px;
}

.login_another {
  display: block;
  padding: 2px 10px;
  margin: 0 12px;
}

.login_input {
  font-family: inherit;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.login_input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.login_logo {
  width: 84px;
}

.logo_logo__text {
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
}
