.row{
    margin-bottom: 20px;
}
.mat-button{
    outline: none;
}
.title-icon{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    color: #007b83;
    border-bottom: 1.5px solid #007b83;
}
.title-icon .title{
    width: 80%;

}
.title-icon .title h3{
    padding-top: 20px;
    padding-left: 20px;
}
.title-icon .iocn{
    width: 20%;
}
.title-icon .icon button{
    margin-left: 73px;
    margin-top: 26px;
    padding-top: 0px;
}
.content{
    width: 100%;
    border: solid 1px #e0e0e0;
    border-radius: 7px;
}
.content .thongtin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px #e0e0e0;
    cursor: pointer;
    padding-bottom: 10px;
}
.content .thongtin:hover{
    background-color: #CCFFCC;
}
.thongtin .tt-icon{
    width: 10%;
}
.thongtin .tt-icon div{
    width: 50%;
    background: #007b83;
    height: 35px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 10px;
}
.thongtin .tt-icon div i{
   font-size: 1.3rem;
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.thongtin .tt-client{
    width: 55%;
}
.thongtin .tt-client div{
    padding-top: 20px;
    font-size: 1rem;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
    width: 400px; 
}
.thongtin .tt-dealine{
    width: 25%;
    color: #555555;
}
.thongtin .tt-dealine div{
    font-size: 0.785rem;
    padding-top: 20px;
}
.thongtin .tt-menu{
    width: 5%;
}
.thongtin .tt-menu button{
    outline: none;
    margin-top: 10px;
}

.songuoinop{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px #e0e0e0;
}
.songuoinop .left{
    width: 70%;
}
.songuoinop .left div{
    padding-top: 20px;
    padding-left: 20px;
}
.songuoinop .left div p{
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    color: #666666;
}
.songuoinop .right{
    width: 30%;
}
.danop_dagiao{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.danop_dagiao .danop{
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.danop_dagiao .dagiao{
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.danop_dagiao button{
    border-left: 0.5px solid #e0e0e0;
    border-radius: 0;
    padding: 0;
    width: 100%;
    outline: none;
    color: #666666;
}
.danop_dagiao button p{
    font-size: 2rem;
  
}
.content .nhanxet{
    border-bottom: solid 1px #e0e0e0;
}

.nhanxet .nx-main{
    padding-top: 10px;
    padding-left: 5px;
}
.nhanxet .nx-main .nx-number{
    margin-bottom: 10px;
}
.nhanxet .nx-show{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.nhanxet .nx-show .nx-showimg{
    width: 10%;
}
.nhanxet .nx-show .nx-showimg div{
    width: 40%;
    margin: 0 auto;
   
}
.nhanxet .nx-show .nx-showimg div img{
    width: 100%;
    border-radius: 50px;
}
.nhanxet .nx-show .nx-showname{
    width: 80%;
}
.nhanxet .nx-show .nx-menu{
    width: 10%;
}

.comment .cm-main{
    padding-top: 10px;
    padding-left: 5px;
}

.comment .cm-show{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.comment .cm-show .cm-showimg{
    width: 10%;
}
.comment .cm-show .cm-showimg div{
    width: 40%;
    margin: 0 auto;
   
}
.comment .cm-show .cm-showimg div img{
    width: 100%;
    border-radius: 50px;
}
.comment .cm-show .cm-showcomment{
    width: 85%;
}


.comment .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
} 
.comment .input-container .btn{
    position: absolute;
    right: 0;
    top:5px;
    border-radius: 50px;
    outline: none;
}
.comment .input-container .btn i{
    padding: 0;
}
.comment .input-container .btn:hover{
    background: #99FFCC;
}
  .input-field {
    width: 100%;
    padding: 10px;
    outline: #006666;
    border-radius: 20px;
    border: 1px solid #e0e0e0;

  }
  .input-field:focus {
    border: 2px solid #006666;
   
  }

  .col-md-10.style-element{
      border: 0.5px solid #666666;
      padding-top: 5px;
      padding-bottom: 10px;
      border-radius: 5px;
      margin: 0 auto;
      margin-top: 20px;
      box-shadow: 0px 4px 4px 0px #666666;
  }
  .col-md-10.style-element .el-header{
      padding: 5px;
  }
  .col-md-10.style-element .el-header span{
      display: block;
  }
  .col-md-10.style-element .el-content button{
      border: 1px solid #CCCCCC;
      width: 100%
  }
  .col-md-10.style-element .el-danhau button.danhdau{
      background: #007b83;
      color: white;
      padding: 5px;
      width: 100%;
      border-radius: 5px;
      outline: none;
      margin-top: 5px;
  }
  .showimg-text{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }
  .showimg-text .showimg{
      width: 20%;
  }
  .showimg-text .showimg div img{
      width: 100%;
      border-radius: 50px;
  }
  .showimg-text .text{
      width: 80%;
  }
  .showimg-text .text .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
} 
.showimg-text .text .input-container input{
    width: 100%;
    background: red;
    color: black;
}
.showimg-text .text .input-container button{
    width: 20%;
    position: absolute;
}
  .input-field {
    width: 100%;
    padding: 10px;
    outline: #006666;
    border-radius: 20px;
    border: 1px solid #e0e0e0;

  }
  .input-field:focus {
    border: 2px solid #006666;
   
  }

  .comment-tow .cm-main-tow{
    padding-top: 10px;
    padding-left: 5px;
}

.comment-tow .cm-show-tow{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.comment-tow .cm-show-tow .cm-showimg-tow{
    width: 20%;
}
.comment-tow .cm-show-tow .cm-showimg-tow div{
    width: 60%;
    margin: 0 auto;
   
}
.comment-tow .cm-show-tow .cm-showimg-tow div img{
    width: 100%;
    border-radius: 50px;
}
.comment-tow .cm-show-tow .cm-showcomment-tow{
    width: 80%;
}


.comment-tow .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
} 
.comment-tow .input-container .btn{
    position: absolute;
    right: 0;
    top:5px;
    border-radius: 50px;
    outline: none;
}
.comment-tow .input-container .btn i{
    padding: 0;
}
.comment-tow .input-container .btn:hover{
    background: #99FFCC;
}
@media only screen and (max-width: 600px){

}