<app-modal class="modal_chucnang__wrapper" id="ttth-home-camon">
  <div (click)="closeModal('ttth-home-camon')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý mục cảm ơn ở trang chủ</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label for="exampleFormControlFile1">Tải hình ảnh</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <div class="form-group">
                <label>Tiêu đề chính</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Tiêu đề phụ</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm mới</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
              <select class="custom-select custom-select-sm form-control">
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select><span class="text-nowrap">&nbsp; hàng</span>
            </label>
            <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Tìm kiếm: &nbsp;</span>
              <input class="form-control form-control-sm" placeholder="Tìm kiếm">
            </label>
          </div>
          <table class="modal_chucnang__table table table-hover" id="danhsach_nganhnghe">
            <thead class="bg__caothang text-white">
              <th>#</th>
              <th scope="col">Image</th>
              <th scope="col">Tiêu đề chính</th>
              <th scope="col">Tiêu đề phụ</th>
              <th scope="col">Hiển thị</th>
              <th class="text-center" scope="col"><span
                  class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span></th>
            </thead>
            <tbody>
              <tr>
                <td style="max-width: 50px">1</td>
                <td style="max-width: 100px">
                  <img src="https://via.placeholder.com/50" alt="">
                </td>
                <td>
                  Tiêu đề chính
                </td>
                <td>
                  Tiêu đề phụ
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="customCheck1" type="checkbox">
                    <label class="custom-control-label" for="customCheck1"></label>
                  </div>
                </td>
                <td class="text-center">
                  <span class="modal_chucnang__button__delete mdi mdi-wrench-outline mdi-24px  mr-2"></span>
                  <span class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>
