<app-modal class="modal_chucnang__wrapper" id="ttth-home-camon">
  <div (click)="closeModal('ttth-home-camon')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý mục cảm ơn</h1>
        <p class="text-center text-white">Hiển thị tối đa 4 mục</p>
      </div>
      <div class="col-12" [ngClass]="{ 'd-none': selectedItem }">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label>Icon (FontAweSome)</label>
                <input type="text"  class="form-control" #icon>
              </div>
              <div class="form-group">
                <label>Tiêu đề chính (tối đa 11 ký tự)</label>
                <input type="text" maxlength="11" class="form-control" #tieudechinh>
              </div>
              <div class="form-group">
                <label>Tiêu đề phụ</label>
                <input type="text" class="form-control" #tieudephu>
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2" [disabled]="!tieudechinh.value || !tieudephu.value|| !icon.value"
                (click)="addCamOn(tieudechinh.value,tieudephu.value,icon.value);tieudechinh.value=''; tieudephu.value=''; icon.value=''"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm mới</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="selectedItem">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label>Icon (FontAweSome)</label>
                <input type="text"  class="form-control" [(ngModel)]="selectedItem.icon" >
              </div>
              <div class="form-group">
                <label>Tiêu đề chính (tối đa 11 ký tự)</label>
                <input type="text" maxlength="11" class="form-control" [(ngModel)]="selectedItem.tieudechinh" >
              </div>
              <div class="form-group">
                <label>Tiêu đề phụ</label>
                <input type="text" class="form-control" [(ngModel)]="selectedItem.tieudephu">
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-success px-4 mx-2"
                  (click)="saveCamOn(selectedItem)"><img class="modal_chucnang__button__icon mb-2"
                    src="assets/img/icons/upgrade.png" alt="image icon">
                  <div>Cập nhật</div>
                </button>
                <button  (click)="reset()"  type="reset"  class="btn btn-outline-dark px-4 mx-2">
                  <img class="modal_chucnang__button__icon mb-2"
                  src="assets/img/icons/error.png"    alt="image icon"  />
                  <div>Huỷ bỏ</div>
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" >
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <table class="modal_chucnang__table table table-hover"  *ngIf="CamOn" datatable="ng">
            <thead class="bg__caothang text-white">
              <tr>
                <th>#</th>
                <th scope="col">Icon</th>
                <th scope="col">Tiêu đề chính</th>
                <th scope="col">Tiêu đề phụ</th>
                <th scope="col">Người tạo</th>
                <th scope="col">Người sửa</th>
                <th scope="col">Trạng thái</th>
                <th class="text-center" scope="col"><span
                    class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of CamOn; let i = index">
                <td style="max-width: 50px">{{i + 1}}</td>
                <td>{{item.icon}}</td>
                <td>{{item.tieudechinh}}</td>
                <td>{{item.tieudephu}}</td>
                <td>{{item.nguoitao}}</td>
                <td>{{item.nguoisua}}</td>
                <td *ngIf="item.trangthai==false">Đã xóa</td>
                <td *ngIf="item.trangthai==true">Hiển thị</td>
                <td class="text-center" *ngIf="item.trangthai==true">
                  <span class="modal_chucnang__button__delete mdi mdi-file-document-edit-outline  mdi-24px  mr-2" (click)="onSelect(item)"></span>
                  <span class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px" (click)="xoaCamOn(item)"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>
