
.style-menu{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background:#EEEEEE;
}
.style-mgt{
    margin-top: 50px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.row .col-2{
      text-align: center;
}
.row .col-2 p{
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}
.row .col-8{
    text-align: center;
    justify-content: center;
}
.row .col-8 .example-button-row{
    margin-top: 10px;
}

@media only screen and (max-width: 600px){
    .style-menu{}
}