
.container-fluid {
    margin: 0;
    padding: 0;
}

.style-menu{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background:white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}
.style-mgt{
    margin-top: 50px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.row .col-md-2{
      text-align: center;
}
.row .col-md-2 p{
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}
.row .col-md-8{
    text-align: center;
    justify-content: center;
}
.row .col-md-8 .example-button-row{
    margin-top: 10px;
}
    @media only screen and (max-width: 600px){

        .container-fluid {
            width: 116%;
        }
        .style-menu{
            width: 100%;
        }
        .row .col-md-2 p{
            padding-top: 10px;
            font-size: 1.5rem;
            font-weight: 500;
            margin-left: 0px;
        }
    }