<div class="row style-menu">
    <div class="col-md-2">
        <p>Trang cá nhân</p>
    </div>
    <div class="col-md-8">
        <div class="example-button-row">
            <button mat-button (click)="showThongtinsv()">Thông tin sinh viên</button>
            <button mat-button (click)="showThoikhoabieu()">Thời khóa biểu</button>
            <button mat-button (click)="showThongtindemso()">Điểm số </button>
        </div>
    </div>
    <div class="col-2">
        
    </div>
</div>
<div class="row style-mgt" style="margin-top: 50px;">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>
