<div class="container-fluid mt-4">
  <div class="row my-2">
    <div class="col-lg-8 order-lg-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Thông tin</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#messages" data-toggle="tab" class="nav-link">Thông báo</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Chỉnh sửa thông tin</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#thoikhoabieu" data-toggle="tab" class="nav-link">Thời khóa biểu</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#thongtindiemso" data-toggle="tab" class="nav-link">Thông tin điểm số</a>
        </li>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane active" id="profile">
          <h5 class="mb-3">Thông tin sinh viên</h5>
          <div class="row">
            <div class="col-md-6">
              <h6>Mã số sinh viên</h6>
              <p>
                {{ sinhVien.maSinhVien }}
              </p>
              <h6>Họ tên</h6>
              <p>
                {{ sinhVien.ho}} {{ sinhVien.ten}}
              </p>
              <h6>Giới tính</h6>
              <p *ngIf="sinhVien.gioiTinh==0">
                Nam
              </p>
              <p *ngIf="sinhVien.gioiTinh==1">
                Nữ
              </p>
              <h6>Ngày sinh</h6>
              <p>
               {{sinhVien.ngaySinh}}
              </p>
              <h6>Số điện thoại</h6>
              <p>
               {{sinhVien.sdt}}
              </p>
              <h6>Email</h6>
              <p>
                {{sinhVien.email}}
              </p>
            </div>
          </div>
          <!--/row-->
        </div>
        <div class="tab-pane" id="messages">
          <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a><strong>Huy nguyễn</strong>. Đã đăng bài tập mới
          </div>
          <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a><strong>Huy Nguyễn</strong> đã đăng tài liệu mới
          </div>
          <table class="table table-hover table-striped">
            <tbody>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">3 giờ trước</span> Huy Nguyễn đã đăng một bài tập mới
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">hôm nay</span> Huy Nguyễn đã đăng một tài liệu mới
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">9/10</span> Huy Nguyễn đã đăng một bài tập mới
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">9/4</span> Huy Nguyễn đã đăng một bài tập mới
                </td>
              </tr>
              <tr>
                <td>
                  <span class="float-right font-weight-bold">9/4</span> Huy Nguyễn đã đăng một bài tập mới
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="edit">
          <form   [formGroup]="sinhVienFormGroup">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Họ</label>
              <div class="col-lg-9">
                <input class="form-control"  formControlName="ho" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Tên</label>
              <div class="col-lg-9">
                <input class="form-control"  formControlName="ten">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="email">
              </div>
            </div>
            <!-- <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Họ và tên</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value="janeuser">
              </div>
            </div> -->
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Ngày sinh</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="ngaySinh">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Số điện thoại</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="sdt">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Password</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="password">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
              <div class="col-lg-9">
                <input class="form-control"  formControlName="cofirmPassword">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Hủy ">
                <input type="button" class="btn btn-primary" value="Lưu thông tin">
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="thoikhoabieu">
          <div class="title">
            <h1>Thời khóa biểu lớp CDTH17D</h1>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table">
                <thead style="background: #006666;color: white;">
                  <tr>
                    <th scope="col">Sáng</th>
                    <th scope="col">Thứ 2</th>
                    <th scope="col">Thứ 3</th>
                    <th scope="col">Thứ 4</th>
                    <th scope="col">Thứ 5</th>
                    <th scope="col">Thứ 6</th>
                    <th scope="col">Thứ 7</th>
                    <th scope="col">Chủ nhật</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">tiết 1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <th scope="row">tiết 2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <th scope="row">tiết 3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <th scope="row">tiết 4</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <th scope="row">tiết 5</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <th scope="row">tiết 6</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                </tbody>
                <thead style="background: #006666;color: white;">
                  <tr>
                    <th scope="col">Chiều</th>
                    <th scope="col">Thứ 2</th>
                    <th scope="col">Thứ 3</th>
                    <th scope="col">Thứ 4</th>
                    <th scope="col">Thứ 5</th>
                    <th scope="col">Thứ 6</th>
                    <th scope="col">Thứ 7</th>
                    <th scope="col">Chủ nhật</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">tiết 1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <th scope="row">tiết 2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <th scope="row">tiết 3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <th scope="row">tiết 4</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <th scope="row">tiết 5</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                  <tr>
                    <th scope="row">tiết 6</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>#</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="thongtindiemso">
          <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                #
                            </th>
                            <th scope="col">
                                <div class="content">
                                    <div class="dealine">
                                        <span>hạn nộp</span>
                                    </div>
                                    <div class="name_worf">
                                        <span>Tên bài tập</span>
                                    </div>
                                    <div class="diem">
                                        <span>trong tổng số 100</span>
                                    </div>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="content">
                                    <div class="dealine">
                                        <span>hạn nộp</span>
                                    </div>
                                    <div class="name_worf">
                                        <span>Tên bài tập</span>
                                    </div>
                                    <div class="diem">
                                        <span>trong tổng số 100</span>
                                    </div>
                                </div>
                            </th>
                            <th scope="col"><div class="content">
                                <div class="dealine">
                                    <span>hạn nộp</span>
                                </div>
                                <div class="name_worf">
                                    <span>Tên bài tập</span>
                                </div>
                                <div class="diem">
                                    <span>trong tổng số 100</span>
                                </div>
                            </div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <div class="icon-diem">
                                    <div class="icon">
                                        <i class="fas fa-user-check"></i>
                                    </div>
                                    <div class="diem">
                                        <h6>Điểm trung bình của lớp</h6>
                                    </div>

                                </div>
                            </th>
                            <td>Áp dụng</td>
                            <td>Áp dụng</td>
                            <td>Không áp dụng</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="image-name">
                                    <div class="image">
                                        <div>
                                            <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
                                        </div>
                                    </div>
                                    <div class="name">
                                        <h6>huy kun</h6>
                                    </div>

                                </div>
                            </th>
                            <td>Thiếu</td>
                            <td>Đã nộp</td>
                            <td>Nộp muộn</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <div class="image-name">
                                    <div class="image">
                                        <div>
                                            <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
                                        </div>
                                    </div>
                                    <div class="name">
                                        <h6>huy nguyễn</h6>
                                    </div>

                                </div>
                            </th>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 order-lg-1 text-center">
      <img src="assets/img/huykun.JPG" class="mx-auto img-fluid img-circle d-block" alt="avatar">
      <label class="custom-file">
        <input type="file" id="file" class="custom-file-input">
        <span class="custom-file-control btn">Chọn file</span>
      </label>
    </div>
  </div>
</div>
