<div class="row">
  <div class="col-md-4">
    <button mat-button [matMenuTriggerFor]="menu"> <i class="fas fa-plus"></i> Tạo</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openTaobaitap()">Bài tập</button>
      <button mat-menu-item (click)="openTaobaiktra()">Bài tập kiểm tra</button>
      <button mat-menu-item (click)="openTaocauhoi()"> Câu hỏi</button>
      <button mat-menu-item (click)="openTaotailieu()">Tài liệu</button>
      <button mat-menu-item>Sử dụng lại bài đăng</button>
      <button mat-menu-item (click)="opentaochude()">Chủ đề</button>
    </mat-menu>
  </div>
  <div class="col-md-8">
    <a href="#" target="_bank"> <i class="far fa-calendar-minus"></i>Lịch Google</a>
    <a href="#" target="_bank"><i class="fas fa-folder"></i> Thư mục Drive của lớp học</a>
  </div>
</div>
<div class="row">
  <ng-container *ngFor="let item of dsChuDe">
    <div class="col-md-12">
      <div class="content-gv">
        <div class="content">
          <div class="left">
            <div class="title">
              <h5>Tên chủ đề: {{ item?.tenChuDe }}</h5>
            </div>
          </div>
          <div class="right">
            <div class="menu">
              <button mat-button [matMenuTriggerFor]="menu3"><i class="fas fa-ellipsis-v"></i></button>
              <mat-menu #menu3="matMenu">
                <button mat-menu-item>Đổi tên</button>
                <button mat-menu-item>Xóa</button>
                <button mat-menu-item>Di chuyển lên</button>
                <button mat-menu-item>Di chuyển xuống</button>
              </mat-menu>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let baigiang of dsBaiGiang">
          <ng-container *ngIf="item.maChuDe == baigiang.maChuDe">
            <ng-container *ngFor="let dsbl of dsBinhLuan_baiGiang">
              <ng-container *ngIf="dsbl.maBaiViet == baigiang.maBaiGiang">
                <mat-accordion>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="far fa-bookmark gv"></i>
                        <h6>{{ baigiang.tieuDe }}</h6>
                        <span><i class="far fa-comments"></i>{{dsbl.count}}</span>
                      </mat-panel-title>
                      <mat-panel-description>
                        Đăng lúc: {{ baigiang.ngayChinhSua }}
                      </mat-panel-description>
                      <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu2"><i class="fas fa-ellipsis-v"></i></button>
                        <mat-menu #menu2="matMenu">
                          <button mat-menu-item>Chỉnh sửa</button>
                          <button mat-menu-item>Xóa</button>
                        </mat-menu>
                      </div>
                    </mat-expansion-panel-header>
                    <p>Đã giao vào ngày nào đó</p>
                    <div class="songuoinop">
                      <div class="left">
                        <p>{{ baigiang.moTa }}</p>
                      </div>
                      <div class="right">
                        <div class="danop_dagiao">
                          <ng-container *ngFor="let item of baigiang.dinhKem">
                            <a href="/projects/backend/models/{{item}}" download> <button mat-button>
                                <p><i class="fas fa-file-archive"></i></p>
                              </button>
                            </a>
                          </ng-container>

                        </div>
                      </div>
                    </div>

                    <button mat-button>{{dsbl.count}} nhận xét của lớp học</button>
                    <ng-container *ngFor="let bl of dsbl.data">
                      <p>{{bl.noiDung}}</p>
                    </ng-container>

                    <p style="border-top: solid 1px black;"><button mat-button (click)="openXBTGV()">Xem bài
                        tập</button></p>
                  </mat-expansion-panel>
                </mat-accordion>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>


      </div>
    </div>

  </ng-container>

</div>
