<div class="row">
  <div class="col-md-4">
    <button mat-button [matMenuTriggerFor]="menu"> <i class="fas fa-plus"></i> Tạo</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openTaobaitap()">Bài tập</button>
      <button mat-menu-item (click)="openTaotailieu()">Bài giảng</button>
      <button mat-menu-item (click)="opentaochude()">Chủ đề</button>
    </mat-menu>
  </div>
  <div class="col-md-8">
    <a href="#" target="_bank"> <i class="far fa-calendar-minus"></i>Xem điểm tổng kết</a>
    <a href="#" target="_bank"><i class="fas fa-folder"></i> Thư mục Drive của lớp học</a>
  </div>
</div>
<div class="row">
  <!-----------------Bai Giang-->
  <div *ngFor="let item of dsChuDe">
    <div class="col-md-12">
      <div class="content-gv">
        <div class="content">
          <div class="left">
            <div class="title">
              <h5>Tên chủ đề: {{ item?.tenChuDe }}</h5>
            </div>
          </div>
          <div class="right">
            <div class="menu">
              <button mat-button [matMenuTriggerFor]="menu3"><i class="fas fa-ellipsis-v"></i></button>
              <mat-menu #menu3="matMenu">
                <button mat-menu-item>Đổi tên</button>
                <button mat-menu-item>Xóa</button>
                <button mat-menu-item>Di chuyển lên</button>
                <button mat-menu-item>Di chuyển xuống</button>
              </mat-menu>
            </div>
          </div>
        </div>
        <ng-container *ngFor="let baigiang of dsBaiGiang">
          <ng-container *ngIf="item.maChuDe == baigiang.maChuDe">
            <ng-container *ngFor="let dsbl of dsBinhLuan_baiGiang">
              <ng-container *ngIf="dsbl.maBaiViet == baigiang.maBaiGiang">
                <mat-accordion>
                  <mat-expansion-panel hideToggle>

                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="far fa-bookmark gv"></i> Tên bài tập
                        <span><i class="far fa-comments"></i>2</span>
                      </mat-panel-title>
                      <mat-panel-description>
                        ngày đến hạn
                      </mat-panel-description>
                      <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu2"><i class="fas fa-ellipsis-v"></i></button>
                        <mat-menu #menu2="matMenu">
                          <button mat-menu-item>Chỉnh sửa</button>
                          <button mat-menu-item>Xóa</button>
                        </mat-menu>
                      </div>
                    </mat-expansion-panel-header>
                    <p>Đã giao vào ngày nào đó</p>
                    <div class="songuoinop">
                      <div class="left">
                        <p>Tên bài tập</p>
                      </div>
                      <div class="right">
                        <div class="danop_dagiao">
                          <div class="danop">
                            <button mat-button>
                              <p>1</p>Đã nộp
                            </button>
                          </div>
                          <div class="dagiao">
                            <button mat-button>
                              <p>0</p>Đã giao
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button mat-button>2 nhận xét của lớp học</button>
                    <p style="border-top: solid 1px black;"><a class="btn btn-light mt-2" [routerLink]="'/xembaitapgv'"
                        routerLinkActive="active">
                        <span>Xem bài tập</span>
                      </a></p>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="far fa-bookmark gv"></i>
                        <h6>{{ baigiang.tieuDe }}</h6>
                        <span><i class="far fa-comments"></i>{{dsbl.count}}</span>
                      </mat-panel-title>
                      <mat-panel-description>
                        Đăng lúc: {{ baigiang.ngayChinhSua }}
                      </mat-panel-description>
                      <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu2"><i class="fas fa-ellipsis-v"></i></button>
                        <mat-menu #menu2="matMenu">
                          <button mat-menu-item>Chỉnh sửa</button>
                          <button mat-menu-item>Xóa</button>
                        </mat-menu>
                      </div>
                    </mat-expansion-panel-header>
                    <p>Đã giao vào ngày nào đó</p>
                    <div class="songuoinop">
                      <div class="left">
                        <p>{{ baigiang.moTa }}</p>
                      </div>
                      <div class="right">
                        <div class="danop_dagiao">
                          <ng-container *ngFor="let item of baigiang.dinhKem">
                            <a href="/projects/backend/models/{{item}}" download> <button mat-button>
                                <p><i class="fas fa-file-archive"></i></p>
                              </button>
                            </a>
                          </ng-container>

                        </div>
                      </div>
                    </div>
                    <button mat-button>2 nhận xét của lớp học</button>
                    <p style="border-top: solid 1px black;"><a class="btn btn-light mt-2" [routerLink]="'/xembaitapgv'"
                        routerLinkActive="active">
                        <span>Xem bài tập</span>
                      </a></p>
                  </mat-expansion-panel>
                </mat-accordion>
                <mat-accordion>
                  <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="far fa-bookmark"></i> Tên bài giảng mới
                        <span><i class="far fa-comments"></i>2</span>
                      </mat-panel-title>
                      <mat-panel-description>
                        Đã đăng lúc 3:30
                      </mat-panel-description>
                      <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu2"><i class="fas fa-ellipsis-v"></i></button>
                        <mat-menu #menu2="matMenu">
                          <button mat-menu-item>Chỉnh sửa</button>
                          <button mat-menu-item>Xóa</button>
                        </mat-menu>
                      </div>
                    </mat-expansion-panel-header>
                    <p>Đã giao vào ngày nào đó</p>
                    <div class="songuoinop">
                      <div class="left">
                        <p>Nội dung bài giảng</p>
                      </div>
                      <div class="right">
                        <div class="bieumau">
                          <a class="uqZtlf x0HGk QRiHXd MymH0d maXJsd" target="_blank"
                            aria-label="Tệp đính kèm: Google Biểu mẫu: Blank Quiz" jsaction="LWntbc"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSdLpk7V4B5Q_254H0qk6X3b1z4jWY_Nw5HdP4ptug92xuwrxQ/viewform?authuser=0"
                            title="Blank Quiz"
                            data-focus-id="hSRGPd-https://docs.google.com/forms/d/e/1FAIpQLSdLpk7V4B5Q_254H0qk6X3b1z4jWY_Nw5HdP4ptug92xuwrxQ/viewform?authuser=0">
                            <div class="bxp7vf mAeA1"><img jsname="q4uQmd" jsaction="error:dyBsCf"
                                src="https://lh5.googleusercontent.com/1lVHNFr3zoHbhQlIk8qd1LDcUbQiLb0VU8fTcbe8FQFNljzj31ja66X76BCmol93rs8Jea0=w90-h90-p"
                                aria-hidden="true" data-mime-type="application/vnd.google-apps.freebird">
                              <div class="S8qYve"><svg height="70px" width="105px" y="0px" x="0px" viewBox="0 0 105 70"
                                  enable-background="new 0 0 105 70">
                                  <g opacity=".5">
                                    <path
                                      d="m104.98 54.297c-0.017 0-0.017-54.297-0.017-54.297h-104.96v70h89.441s16.139-15.703 15.539-15.703z"
                                      fill="#E5E5E5"></path>
                                  </g>
                                  <polygon points="89.042 54.018 89.042 70 105 54.018" fill="#673ab7">
                                  </polygon>
                                  <g opacity=".702">
                                    <polygon points="73.084 70 89.042 70 89.042 54.018" fill="#bbb">
                                    </polygon>
                                  </g>
                                </svg></div>
                            </div>
                            <div class="J5AvUe">
                              <div class="A6dC2c bKJwEd VBEdtc-Wvd9Cc zZN2Lb-Wvd9Cc">Blank Quiz</div>
                              <div class="cSyPgb cfaOwb">
                                <div class="kRYv9b YVvGBb">Google Biểu mẫu</div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <button mat-button>2 nhận xét của lớp học</button>
                    <p style="border-top: solid 1px black;"><a class="btn btn-light mt-2"
                        [routerLink]="'/xembaigianggv'" routerLinkActive="active">
                        <span>Xem bài tập</span>
                      </a></p>
                  </mat-expansion-panel>
                </mat-accordion>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="content-sv">
    <div class="content">
      <div class="left">
        <div class="title">
          <h5>Tên chủ đề 1</h5>
        </div>
      </div>
      <div class="right">
        <div class="menu">
          <button mat-button [matMenuTriggerFor]="menu3"><i class="fas fa-ellipsis-v"></i></button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item>Đổi tên</button>
            <button mat-menu-item>Xóa</button>
            <button mat-menu-item>Di chuyển lên</button>
            <button mat-menu-item>Di chuyển xuống</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i class="far fa-bookmark"></i> Tên bài tập
            <span><i class="far fa-comments"></i>2</span>
          </mat-panel-title>
          <mat-panel-description>
            ngày đến hạn
          </mat-panel-description>
          <div class="menu">
            <button mat-button [matMenuTriggerFor]="menu2"><i class="fas fa-ellipsis-v"></i></button>
            <mat-menu #menu2="matMenu">
              <button mat-menu-item>Chỉnh sửa</button>
              <button mat-menu-item>Xóa</button>
            </mat-menu>
          </div>
        </mat-expansion-panel-header>
        <p>Đã giao vào ngày nào đó</p>
        <div class="songuoinop">
          <div class="left">
            <p>Tên bài tập</p>
          </div>
          <div class="right">
            <div class="danop_dagiao">
              <div class="danop">
                <button mat-button>
                  <p>1</p>Đã nộp
                </button>
              </div>
              <div class="dagiao">
                <button mat-button>
                  <p>0</p>Đã giao
                </button>
              </div>
            </div>
          </div>
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class="far fa-bookmark"></i> Tên bài tập
                  <span><i class="far fa-comments"></i>2</span>
                </mat-panel-title>
                <mat-panel-description>
                  ngày đến hạn
                </mat-panel-description>
                <div class="menu">
                  <button mat-button [matMenuTriggerFor]="menu2"><i class="fas fa-ellipsis-v"></i></button>
                  <mat-menu #menu2="matMenu">
                    <button mat-menu-item>Chỉnh sửa</button>
                    <button mat-menu-item>Xóa</button>
                  </mat-menu>
                </div>
              </mat-expansion-panel-header>
              <p>Đã giao vào ngày nào đó</p>
              <div class="songuoinop">
                <div class="left">
                  <p>Tên bài tập</p>
                </div>
                <div class="right">
                  <div class="danop_dagiao">
                    <div class="danop">
                      <button mat-button>
                        <p>1</p>Đã nộp
                      </button>
                    </div>
                    <div class="dagiao">
                      <button mat-button>
                        <p>0</p>Đã giao
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-button>2 nhận xét của lớp học</button>
              <p style="border-top: solid 1px black;"><a class="btn btn-light mt-2" [routerLink]="'/xembaitapsv'"
                  routerLinkActive="active">
                  <span>Xem bài tập</span>
                </a>
              </p>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class="far fa-bookmark"></i> Tên bài tập 2
                  <span><i class="far fa-comments"></i>2</span>
                </mat-panel-title>
                <mat-panel-description>
                  Đã chỉnh sửa lúc 12:30
                </mat-panel-description>
                <div class="menu">
                  <button mat-button [matMenuTriggerFor]="menu2"><i class="fas fa-ellipsis-v"></i></button>
                  <mat-menu #menu2="matMenu">
                    <button mat-menu-item>Chỉnh sửa</button>
                    <button mat-menu-item>Xóa</button>
                  </mat-menu>
                </div>
              </mat-expansion-panel-header>
              <p>Đã giao vào ngày nào đó</p>
              <div class="songuoinop">
                <div class="left">
                  <p>Tên bài tập</p>
                </div>
                <div class="right">
                  <div class="danop_dagiao">
                    <div class="danop">
                      <button mat-button>
                        <p>1</p>Đã nộp
                      </button>
                    </div>
                    <div class="dagiao">
                      <button mat-button>
                        <p>0</p>Đã giao
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-button>2 nhận xét của lớp học</button>
              <p style="border-top: solid 1px black;"><a class="btn btn-light mt-2" [routerLink]="'/xembaitapsv'"
                  routerLinkActive="active">
                  <span>Xem bài tập</span>
                </a>
              </p>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class="far fa-bookmark"></i> Tên bài giảng mới
                  <span><i class="far fa-comments"></i>2</span>
                </mat-panel-title>
                <mat-panel-description>
                  Đã đăng lúc 3:30
                </mat-panel-description>
                <div class="menu">
                  <button mat-button [matMenuTriggerFor]="menu2"><i class="fas fa-ellipsis-v"></i></button>
                  <mat-menu #menu2="matMenu">
                    <button mat-menu-item>Chỉnh sửa</button>
                    <button mat-menu-item>Xóa</button>
                  </mat-menu>
                </div>
              </mat-expansion-panel-header>
              <p>Đã giao vào ngày nào đó</p>
              <div class="songuoinop">
                <div class="left">
                  <p>Nội dung bải giảng</p>
                </div>
                <div class="right">
                  <div class="bieumau">
                    <a class="uqZtlf x0HGk QRiHXd MymH0d maXJsd" target="_blank"
                      aria-label="Tệp đính kèm: Google Biểu mẫu: Blank Quiz" jsaction="LWntbc"
                      href="https://docs.google.com/forms/d/e/1FAIpQLSdLpk7V4B5Q_254H0qk6X3b1z4jWY_Nw5HdP4ptug92xuwrxQ/viewform?authuser=0"
                      title="Blank Quiz"
                      data-focus-id="hSRGPd-https://docs.google.com/forms/d/e/1FAIpQLSdLpk7V4B5Q_254H0qk6X3b1z4jWY_Nw5HdP4ptug92xuwrxQ/viewform?authuser=0">
                      <div class="bxp7vf mAeA1"><img jsname="q4uQmd" jsaction="error:dyBsCf"
                          src="https://lh5.googleusercontent.com/1lVHNFr3zoHbhQlIk8qd1LDcUbQiLb0VU8fTcbe8FQFNljzj31ja66X76BCmol93rs8Jea0=w90-h90-p"
                          aria-hidden="true" data-mime-type="application/vnd.google-apps.freebird">
                        <div class="S8qYve"><svg height="70px" width="105px" y="0px" x="0px" viewBox="0 0 105 70"
                            enable-background="new 0 0 105 70">
                            <g opacity=".5">
                              <path
                                d="m104.98 54.297c-0.017 0-0.017-54.297-0.017-54.297h-104.96v70h89.441s16.139-15.703 15.539-15.703z"
                                fill="#E5E5E5"></path>
                            </g>
                            <polygon points="89.042 54.018 89.042 70 105 54.018" fill="#673ab7">
                            </polygon>
                            <g opacity=".702">
                              <polygon points="73.084 70 89.042 70 89.042 54.018" fill="#bbb">
                              </polygon>
                            </g>
                          </svg></div>
                      </div>
                      <div class="J5AvUe">
                        <div class="A6dC2c bKJwEd VBEdtc-Wvd9Cc zZN2Lb-Wvd9Cc">Blank Quiz</div>
                        <div class="cSyPgb cfaOwb">
                          <div class="kRYv9b YVvGBb">Google Biểu mẫu</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <button mat-button>2 nhận xét của lớp học</button>
              <p style="border-top: solid 1px black;"><a class="btn btn-light mt-2" [routerLink]="'/xembaigiangsv'">
                  <span>Xem bài giảng</span>
                </a>
              </p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
