
.contaier{
    margin-top: 60px;
}
.row .col-md-6{
    margin:  0 auto;
}
.row{
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
}
.mat-button{
    outline: none;
}
.title-icon{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    color: #007b83;
    border-bottom: 1.5px solid #007b83;
    margin-top: 40px;
}
.title-icon .title{
    width: 69%;

}
.title-icon .title h3{
    padding-left: 20px;
}
.title-icon .add{
    width: 30%;
}
.title-icon .add button{
    margin-left: 153px;
}
.list-gv {
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
}
.list-gv .checkbox{
    width: 10%;
}
.list-gv .nx-showimg{
    width: 10%;
}
.list-gv .nx-showimg input{
    margin-left: 5px;
}

.list-gv .nx-showimg div{
    width: 40%;
    margin: 0 auto;
}

.list-gv .nx-showimg div img{
    width: 100%;
    border-radius: 50px;
}


.title-icon-sv{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    color: #007b83;
    border-bottom: 1.5px solid #007b83;
    margin-top: 40px;
}
.title-icon-sv .title-sv{
    width: 70%;

}
.title-icon-sv .title-sv h3{
    padding-left: 20px;
}
.title-icon-sv .sl-sv{
    width: 20%;
}
.title-icon-sv .sl-sv span{
    padding-top: 5px;
    display: block;
    padding-left: 10px;
}

.title-icon-sv .add-sv{
    width: 10%;
}
.title-icon-sv .add-sv button{
    margin: 0;
}
.list-sv {
    display: flex;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    padding: 7px 0 0  0;
}
.list-sv .nx-showimg{
    width: 10%;
}
.list-sv .nx-showimg div{
    width: 40%;
    margin: 0 auto;
}

.list-sv .nx-showimg div img{
    width: 100%;
    border-radius: 50px;
}
.list-sv .nx-showname{
    width: 78%;
}
.list-sv .nx-showicon{
    width: 10%;
}
.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  @media only screen and (max-width: 600px){

    .container{
        margin-top: 50px;
    }
    .title-icon[_ngcontent-trp-c120] {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        color: #007b83;
        border-bottom: 1.5px solid #007b83;
        margin-top: 40px;
    }
    .list-gv .nx-showimg{
        width: 20%;
    }
    .list-sv .nx-showimg {
        width: 20%;
    }
    .title-icon-sv .title-sv {
        width: 60%;
    }
    .title-icon .title{
        width: 50%;
    }
    .title-icon .add button{
        margin-left: 84px;
    }
    .content-people {
        margin-left: 20px;
    }
    .list-sv .nx-showname{
        width: 55%;
    }
    .w-50 {
        width: 100%!important;
    }
  }