
<section class="sidebar_chucnang__wrapper mt-4">
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="sidebar_chucnang__item" (click)="openModal('fb_quanlybaidangfacebook')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý bài đăng</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('fb_quanlygroupfacebook')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý group</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('fb_quanlypagefacebook')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý page</div>
        </div>
      </div>
      <div id="fb-root"></div>
      <div class="sidebar_chucnang__item" type="button" value="Login with Facebook" onclick="RequestLoginFB()">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div id="btnLoginFB" class="sidebar_chucnang__text mt-2">Login Facebook</div>
          <div id="status" class="sidebar_chucnang__text mt-2"></div>
        </div>
      </div>
      
    </div>
  </div>
</section>
