
<section class="sidebar_chucnang__wrapper mt-4">
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="sidebar_chucnang__item" (click)="openModal('fb_quanlybaidangfacebook')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý bài đăng</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('fb_quanlygroupfacebook')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý group</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('fb_quanlypagefacebook')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý page</div>
        </div>
      </div> 
      <div id="fb-root"></div>
      <!-- Button login facebook -->
        <!-- <input id="btnLoginfb" type="button" value="Continute with Facebook" style="width: 200px; height: 60px;" onclick="checkLoginState()"> -->
          <input id="btnLoginFB" type="button" value="Login with Facebook" onclick="RequestLoginFB()" style="width: 170px; height: 40px; margin-left: 50px;">
        <!-- <div class="fb-login-button" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="true" data-width="" onclick="RequestLoginFB()"></div> -->
          <div id="status" style="display: none; margin-bottom: 150px;">
      </div>
    </div>
  </div>
</section>
