<header>
    <div class="title-lophoc pt-2">
        <div class="tt-image">
            <img src="assets/img/Style2_E-learning Blue.png" alt="">
        </div>
    </div>
    <div class="d-flex justify-content-center w-50 pt-2">
        <div class="form-group pr-3 pt-1">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Chọn khóa</option>
              
              <option>Khóa 17</option>
              <option>Khóa 18</option>
              <option>Khóa 19</option>
              <option>Khóa 20</option>
            </select>
          </div>
          <div class="form-group pr-3 pt-1">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Chọn bậc</option>
              <option>Trung cấp</option>
              <option>Cao đẳng</option>
            </select>
          </div>
          <div class="form-group pr-3 pt-1">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Chọn học kì</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
    </div>
   
</header>
<div class="lophoc-container">
    <div class="list-lophoc">
        <div class="list-lophoc-item">
            <div class="list-title bg1">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a routerLink="/gv/ctdltt">Cấu trúc dữ liệu thuật toán</a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg2">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a routerLink="/gv/csdl">Cơ sở dữ liệu</a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 3</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 2</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg3">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a routerLink="/gv/lthdt">Lập trình hướng đối tượng</a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg4">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a routerLink="/gv/ltlrv">Lập trình Laravel</a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg5">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a routerLink="/gv/tkw">Thiết kế web</a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg6">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a routerLink="/gv/av3">Anh văn A3</a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg7">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a routerLink="/gv/av1">Anh văn A1</a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 3</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 2</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg8">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a routerLink="/gv/av2">Anh văn A2</a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
        <div class="list-lophoc-item">
            <div class="list-title bg9">
                <div class="name--menu">
                    <div class="name-class">
                        <div>
                            <a routerLink="/gv/trr">Toán rời rạc</a>
                        </div>
                        <div>
                            <span>10 sinh viên</span>
                        </div>
                        <div>
                            <span>
                                ĐVHP  :  9
                            </span>
                        </div>
                        <div>
                            <span>Trạng thái :đang học</span>
                        </div>
                    </div>
                    <div class="menu">
                        <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Di chuyển</button>
                                <button mat-menu-item>Chỉnh sửa</button>
                                <button mat-menu-item>Lưu trữ</button>
                                <button mat-menu-item>Sao chép</button>
                            </mat-menu>
                    </div>
                </div>
            </div>
            <div class="list-main">
                <div class="list-main-pd">
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 2</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 1</a>
                        </div>
                    </div>
                    <div class="list-bdb">
                        <div class="lm-denhang">
                            <span>Đến hạng thứ 3</span>
                        </div>
                        <div class="lm-gio-ten">
                            <a href="#">12:59 - Bài tập số 2</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-bottom">
                <div class="list-bt">
                    <div class="name-teacher">
                        <div>
                            <span> GV : Lữ Cao Tiến</span>
                        </div>
                    </div>
                    <div class="icon-go">
                        <button mat-button><i class="fas fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="list-image">
                <img class="gb_Ka gbii" src="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo" srcset="https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s32-c-mo 1x, https://lh3.googleusercontent.com/ogw/ADGmqu_vadAF8Gx0HOS6n8ZRxxCWPLDTEJUnSe0So5rs=s64-c-mo 2x " alt="" aria-hidden="true" data-noaft="">
            </div>
        </div>
    </div>
</div>