<app-modal class="modal_chucnang__wrapper  " id="ctdt_nganhnghe">
  <div (click)="closeModal('ctdt_nganhnghe')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý ngành nghề</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label>Tên ngành nghề</label>
                <input class="form-control" value="{{tenNganhNghe}}" [(ngModel)]="tenNganhNghe">
              </div>
              <div class="form-group">
                <label>Tên viết tắt</label>
                <input class="form-control" value="{{tenVietTat}}" [(ngModel)]="tenVietTat">
              </div>
            </div>
            <div class="col-3">
              <div class="row no-gutters">
                <div class="form-group col-5">
                  <label>Mã ngành nghề</label>
                  <ng-template [ngIf]="_id=='' ">
                    <input class="form-control" value="{{maNganhNghe}}" [(ngModel)]="maNganhNghe">
                  </ng-template>
                  <ng-template ng-template [ngIf]="_id!=''">
                    <input readonly class="form-control" value="{{maNganhNghe}}" [(ngModel)]="maNganhNghe">
                  </ng-template>
                </div>
                <div class="form-group col ml-2">
                  <label>Bậc</label>
                  <select class="form-control" [(ngModel)]="TenBac">
                    <option *ngFor="let b of bac">{{b.tenBac}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>Ngành cha</label>
                <select class="form-control " [(ngModel)]="tenNganhcha">
                  <option>Không có ngành cha</option>
                  <ng-template *ngFor="let t of data"
                    [ngIf]="t.maNganhCha==0 || t.maNganhCha == '' || t.maNganhCha == null ">
                    <option>{{t.tenNganhNghe}}</option>
                  </ng-template>
                </select>
              </div>
            </div>
          </div>

          <div class="col-auto" style="text-align: center;" >
            <div class="modal_chucnang__group__button">
              <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2" (click)="add()"><img
                  class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                <div>Thêm mới</div>
              </button>
              <button class="modal_chucnang__button btn btn-outline-success px-4 mx-2" (click)="update()"><img
                  class="modal_chucnang__button__icon mb-2" src="assets/img/icons/upgrade.png" alt="image icon">
                <div>Cập nhật</div>
              </button>
              <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2" type="reset" data-toggle="modal"
                data-target="#importExcelNganhNghe"><img class="modal_chucnang__button__icon mb-2"
                  src="assets/img/icons/excel.png" alt="image icon">
                <div>Nhập Excel</div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
              <select class="custom-select custom-select-sm form-control">
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select><span class="text-nowrap">&nbsp; hàng</span>
            </label>
            <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Tìm kiếm: &nbsp;</span>
              <input class="form-control form-control-sm" placeholder="Tìm kiếm" [(ngModel)]="searchName">
            </label>
          </div>
          <table class="modal_chucnang__table table table-hover" id="danhsach_nganhnghe">
            <thead class="bg__caothang text-white">
              <th>#</th>
              <th class="text-center" scope="col" style="max-width: 100px">Mã NN</th>
              <th scope="col">Tên ngành nghề</th>
              <th scope="col">Tên viết tắt</th>
              <th scope="col">Bậc</th>
              <th scope="col">Ngành cha</th>
              <th class="text-center" scope="col"><span
                  class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span></th>
            </thead>
            <tbody *ngFor="let x of data |filter:searchName ; index as stt">
              <tr>
                <td style="max-width: 50px">{{stt+1}}</td>
                <td style="max-width: 100px">
                  {{x.maNganhNghe}}
                </td>
                <td>
                  {{x.tenNganhNghe}}
                </td>
                <td>
                  {{x.tenVietTat}}
                </td>
                <td>
                  <ng-template *ngFor="let b of bac" [ngIf]="x.maBac == b.maBac">
                    {{b.tenBac}}
                  </ng-template>
                </td>
                <td>
                  <ng-template *ngFor="let f of data" [ngIf]="x.maNganhCha == f.maNganhNghe">
                    {{f.tenNganhNghe}}
                  </ng-template>
                  <ng-template [ngIf]="x.maNganhCha == '0' || x.maNganhCha == '' || x.maNganhCha == null">
                    Không có ngành Cha
                  </ng-template>
                </td>
                <td class="text-center">
                  <span title="Chỉnh sửa" (click)="Detail(x)"
                    class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px">
                  </span>
                  <span class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px"
                    (click)="delete(x)"></span></td>
              </tr>
            </tbody>
          </table>

          <div class="modal fade" id="importExcelNganhNghe" tabindex="-1" role="dialog"
            aria-labelledby="importExcelNganhNghecLabel" aria-hidden="true">
            <div class="modal-dialog" role="document" style="max-width:800px">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="importExcelNganhNgheLabel">Import Excel danh sách Ngành Nghề</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <input type="file" (change)="onChange($event)" #inputFile>
                  <div *ngIf="isExcelFile === false">
                    This is not an Excel file
                  </div>
                  <button (click)="removeData()" *ngIf="dsnganhnghe!== undefined">Remove Data</button>
                  <table class="table table-striped">
                    <thead class="thead-light">
                      <tr>
                        <th *ngFor="let key of keys" scope="col">{{key}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of dataSheet | async">
                        <td *ngFor="let key of keys">
                          {{item[key]}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                  <button type="button" class="btn btn-primary" (click)="importExcel()"
                    *ngIf="dsnganhnghe!== undefined">Import</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</app-modal>