.box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 0 auto;
  }

  .box-img img {
    max-width: 100%;
    max-height: 100%;
  }

  .upload-btn-wrapper input[type="file"] {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -1;
  }

  .upload-btn-wrapper .btn {
    font-weight: inherit;
    border-color: #ccc;
    width: 35%;
    margin: 0 auto;
  }

  .upload-btn-wrapper .btn:hover {
    background: #ccc;
  }

  .upload-btn-wrapper .btn:hover {
    background: #ccc;
  }

  .form-control {
    font-weight: inherit;
  }
