<app-modal class="modal_chucnang__wrapper" id="ttth-home-tienich">
  <div (click)="closeModal('ttth-home-tienich')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý mục tiện ích ở trang chủ</h1>
      </div>
      <div class="col-12" [ngClass]="{ 'd-none': selectedItem }">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-9">
              <div class="form-group">
                <label>Tiêu đề </label>
                <input type="text" class="form-control" #ten>
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <textarea class="form-control" #mota></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Tải hình ảnh</label>
                <input type="file" name="image" class="form-control-file" (change)="onFileSelected($event)"
                  ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg">
                  <img style="width:180px;height:180px" [src]="imageSrc || 'http://placehold.it/180'"
                  alt="image" />
              </div>
              <div class="form-group">
                <label>Đường dẫn</label>
                <input type="text" class="form-control "#link>
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2" [disabled]="!ten.value || !mota.value|| !link.value || !imageSrc"><img
                  (click)="add(ten.value,mota.value, link.value);ten.value=''; mota.value=''; link.value='';uploader.uploadAll()"  class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm mới</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="selectedItem">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-9">
              <div class="form-group">
                <label>Tiêu đề </label>
                <input type="text" class="form-control" [(ngModel)]="selectedItem.ten">
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <textarea class="form-control" [(ngModel)]="selectedItem.mota"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">Tải hình ảnh</label>
                <input type="file" name="image" class="form-control-file" (change)="onFileSelected($event)"
                  ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg">
                  <img style="width:180px;height:180px" [src]="imageSrc || selectedItem.image"
                  [alt]="selectedItem.image" />
              </div>
              <div class="form-group">
                <label>Đường dẫn</label>
                <input type="text" class="form-control " [(ngModel)]="selectedItem.link">
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-success px-4 mx-2"
                  (click)="update(selectedItem);uploader.uploadAll()"><img class="modal_chucnang__button__icon mb-2"
                    src="assets/img/icons/upgrade.png" alt="image icon">
                  <div>Cập nhật</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" >
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <table class="modal_chucnang__table table table-hover" *ngIf="TienIch" datatable="ng">
            <thead class="bg__caothang text-white">
              <tr>
                <th>#</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Image</th>
                <th scope="col">Link</th>
                <th scope="col">Người tạo</th>
                <th scope="col">Người sửa</th>
                <th class="text-center" scope="col"><span
                    class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of TienIch; let i = index">
                <td style="max-width: 50px">{{i + 1}}</td>
                <td>{{item.ten}}</td>
                <td>{{item.mota}}</td>
                <td style="max-width: 100px">
                  <img style="width: 60px;height: 60px;" src="{{item.image}}" alt="">
                </td>
                <td>{{item.link}}</td>
                <td>{{item.nguoitao}}</td>
                <td>{{item.nguoisua}}</td>
                <td class="text-center">
                  <span class="modal_chucnang__button__delete mdi mdi-wrench-outline mdi-24px  mr-2" (click)="onSelect(item);imageSrc=null"></span>
                  <span class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px" (click)="delete(item)"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>
