<app-modal class="modal_chucnang__wrapper" id="cntt_themtintuc">
  <div (click)="closeModal('cntt_themtintuc')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <form [formGroup]="tinTucForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center text-white">Thêm bài viết</h1>
          <!-- <button type="button" (click)="logData()">log</button> -->
        </div>
        <div class="col-12">
          <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
            <div class="row justify-content-center align-items-center">
              <div class="col-3">
                <div class="form-group">
                  <label>Loại bài viết</label>
                  <select class="custom-select form-control" (change)="chonLoaiBaiViet($event.target.value)"
                    formControlName="loaiBaiViet">
                    <option value="-1" class="d-none">Chọn Loại bài viết</option>
                    <option *ngFor="let itemLoaiBaiViet of LoaiBaiViet" [value]="itemLoaiBaiViet.maLoaiBaiViet">
                      {{ itemLoaiBaiViet.tenLoaiBaiViet }}
                    </option>
                  </select>                
                </div>
                <div class="form-group">
                  <label>Loại danh mục</label>
                  <select class="custom-select form-control" (change)="chonMaDanhMuc($event.target.value)"
                    formControlName="maDanhMuc">
                    <option value="-1" class="d-none">Chọn Loại danh mục</option>
                    <option *ngFor="let itemDanhMuc of MaDanhMuc" [value]="itemDanhMuc.maDanhMuc">
                      {{ itemDanhMuc.tenDanhMuc }}
                    </option>
                  </select>                 
                </div>
                <div class="form-group">
                  <label>Mã Bài viết</label>
                  <input class="form-control" type="text" formControlName="maBaiViet" />
                  <div *ngIf="maBaiViet.invalid && (maBaiViet.dirty || maBaiViet.touched)" class="alert alert-danger">
                    <div *ngIf="maBaiViet.errors.required">
                      Vui lòng điền mã bài viết.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label>Tiêu đề bài viết</label>
                  <input class="form-control" type="text" formControlName="tieuDe" />
                  <div *ngIf="tieuDe.invalid && (tieuDe.dirty || tieuDe.touched)" class="alert alert-danger">
                    <div *ngIf="tieuDe.errors.required">
                      Vui lòng điền tiêu đề viết.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Mô tả ngắn cho bài viết</label>
                  <input class="form-control" type="text" formControlName="moTaNgan" />
                  <div *ngIf="moTaNgan.invalid && (moTaNgan.dirty || moTaNgan.touched)" class="alert alert-danger">
                    <div *ngIf="moTaNgan.errors.required">
                      Vui lòng điền mô tả ngắn viết.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label id="image">Vị trí hiển thị</label>
                  <select class="custom-select form-control" (change)="chonViTriHienThi($event.target.value)"
                    formControlName="viTriHienThi">
                    <option value="-1">Không hiển thị</option>
                    <option *ngFor="let itemViTri of ViTriHienThi" [value]="itemViTri.maViTri">{{ itemViTri.tenViTri }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-3">
                <div class="form-group">
                  <label>Ảnh đại diện bài viết</label>
                  <div class="input-group">
                    <div class="box-img">
                      <img id="img2" />
                    </div>
                    <input type="file"
                      onchange="document.getElementById('img2').src = window.URL.createObjectURL(this.files[0])"
                      (change)="onFileSelected($event)" name="image" ng2FileSelect [uploader]="uploader"
                      accept="image/x-png,image/gif,image/jpeg" formControlName="anhBia" />
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="form-group">
                  <div class="modal_chucnang__group__button">
                    <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2" type="submit"
                      (click)="uploader.uploadAll()">
                      <img class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon" />
                      <div>Thêm mới</div>
                    </button>
                    <button class="modal_chucnang__button btn btn-outline-danger px-4 mx-2" type="reset">
                      <img class="modal_chucnang__button__icon mb-2" src="assets/img/icons/error.png"
                        alt="image icon" />
                      <div>Huỷ</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
            <div class="form-group">
              <label>Nội dung bài viết</label>
              <ckeditor [editor]="Editor" [(ngModel)]="editorValue" formControlName="noiDung"></ckeditor>
              <div *ngIf="noiDung.invalid && (noiDung.dirty || noiDung.touched)" class="alert alert-danger">
                <div *ngIf="noiDung.errors.required">
                  Vui lòng điền nội dung viết.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-modal>