<app-modal class="modal_chucnang__wrapper" id="cntt_baiviet">
  <div
    (click)="closeModal('cntt_baiviet')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <!-- <button type="button" (click)="reRenderDataTables()">rerender</button> -->
      <h1 class="col-12 text-center text-white">Quản lý bài viết</h1>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-4 bg-white">
          <div class="table-responsive">
            <table
              class="modal_chucnang__table table table-hover table-bordered"
            >
              <thead class="bg__caothang text-white">
                <tr>
                  <th class="text-center" scope="col">Mã</th>
                  <th class="text-center" scope="col">Ảnh bìa</th>
                  <th class="text-center" scope="col">Danh mục</th>
                  <th class="text-center" scope="col">Loại bài viết</th>
                  <th scope="col">Tiêu đề</th>
                  <th scope="col">Mô tả ngắn</th>
                  <th class="text-center" scope="col">Người viết</th>
                  <th class="text-center" scope="col">Thời gian đăng</th>
                  <th class="text-center" scope="col">Vị trí hiển thị</th>
                  <th class="text-center" scope="col">Thứ tự hiển thị</th>
                  <th class="text-center" scope="col">Trạng thái</th>
                  <th class="text-center" scope="col">
                    <span
                      (click)="openModal('cntt_thembaiviet')"
                      class="modal_chucnang__button__save mdi mdi-plus mdi-24px"
                    ></span>
                  </th>
                </tr>
              </thead>
              <!-- <tbody *ngIf="danhSachBaiViet.data.length === 0">
                <tr>
                  <td colspan="11" class="text-center">Chưa có dữ liệu</td>
                </tr>
              </tbody> -->
              <tbody>
                <tr *ngFor="let itemBaiViet of danhSachBaiViet.data">
                  <td style="width: 80px; text-align: center;">
                    {{ itemBaiViet.maBaiViet }}
                  </td>
                  <td>
                    <div class="box-img box-anhdaidien bg-white">
                      <img
                        src="https://{{ danhSachBaiViet.domain }}/{{
                          itemBaiViet.anhBia
                        }}"
                      />
                    </div>
                  </td>
                  <td class="text-center">
                    {{ displayTenDanhMuc(itemBaiViet.maDanhMuc) }}
                  </td>
                  <td class="text-center">
                    {{ displayLoaiBaiViet(itemBaiViet.loaiBaiViet) }}
                  </td>
                  <td style="width: 300px;">
                    <a
                      class="text-reset line2row"
                      target="_blank"
                      [title]="itemBaiViet.tieuDe"
                      href="http://localhost:4300/bai-viet/{{
                        itemBaiViet._id
                      }}"
                    >
                      {{ itemBaiViet.tieuDe }}
                    </a>
                  </td>
                  <td style="width: 200px;">
                    <div class="line2row" [title]="itemBaiViet.moTaNgan">
                      {{ itemBaiViet.moTaNgan }}
                    </div>
                  </td>
                  <td class="text-center">{{ itemBaiViet.nguoiViet }}</td>
                  <td class="text-center">
                    {{ formatDatetime(itemBaiViet.thoiGianDangBai) }}
                  </td>
                  <td style="width: 90px; text-align: center;">
                    {{ displayViTriHienThi(itemBaiViet.viTriHienThi) }}
                  </td>
                  <td style="width: 50px; text-align: center;">
                    {{ itemBaiViet.thuTuHienThi }}
                  </td>
                  <td class="text-nowrap text-center">
                    {{ displayTrangThai(itemBaiViet.trangThai) }}
                  </td>
                  <td class="text-center">
                    <span
                      (click)="
                        displayBaiVietCanChinhSua(itemBaiViet);
                        openModal('cntt_chinhsuabaiviet')
                      "
                      class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px"
                    ></span>
                    <span
                      (click)="xoaBaiViet(itemBaiViet.maBaiViet)"
                      class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px"
                    ></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<!-- Them bai viet -->
<app-modal class="modal_chucnang__wrapper" id="cntt_thembaiviet">
  <div
    (click)="closeModal('cntt_thembaiviet')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3 pb-4">
    <div class="row">
      <h1 class="col-12 text-center text-white">Thêm bài viết mới</h1>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-3 bg-white">
          <form [formGroup]="formBaiViet" class="row">
            <div class="col-10 mx-auto">
              <div class="row">
                <div class="col-auto">
                  <div class="upload-btn-wrapper text-center">
                    <div>Ảnh đại diện</div>
                    <div class="box-img">
                      <img
                        src="../../../../../assets/img/logo/default.png"
                        id="preview_image_thembaiviet"
                      />
                    </div>
                    <input
                      type="file"
                      id="input_image_thembaiviet"
                      (change)="onFileSelected($event)"
                      onchange="document.getElementById('preview_image_thembaiviet').src = window.URL.createObjectURL(this.files[0])"
                      accept="image/x-png, image/jpeg"
                    />
                    <label
                      for="input_image_thembaiviet"
                      class="btn btn-outline-dark btn-sm btn-block mb-0 mt-2"
                    >
                      Chọn hình ảnh
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="mb-0">Tiêu đề</label>
                    <input
                      formControlName="tieuDe"
                      type="text"
                      class="form-control"
                      placeholder="Tiêu đề bài viết"
                    />
                    <div
                      *ngIf="tieuDe.invalid && (tieuDe.dirty || tieuDe.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="tieuDe.errors.required">
                        Nhập Tiêu đề bài viết.
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-group">
                                        <label class="mb-0">Mô tả ngắn</label>
                                        <input type=text formControlName="moTaNgan" style="min-height: 90px;"
                                            class="form-control" placeholder="Mô tả ngắn" />
                                        <div *ngIf="
                    moTaNgan.invalid &&
                    (moTaNgan.dirty || moTaNgan.touched)
                  " class="alert alert-danger">
                                            <div *ngIf="moTaNgan.errors.required">
                                                Nhập Mô tả ngắn.
                                            </div>
                                        </div>
                                    </div> -->
                  <div class="form-group">
                    <label class="mb-0">Mô tả ngắn(Tối đa 200 ký tự)</label>
                    <textarea
                      formControlName="moTaNgan"
                      type="text"
                      class="form-control"
                      placeholder="Mô tả ngắn"
                      style="min-height: 90px;"
                      required
                      minlength="25"
                      maxlength="200"
                    ></textarea>
                    <div
                      *ngIf="
                        moTaNgan.invalid && (moTaNgan.dirty || moTaNgan.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="moTaNgan.errors.required">
                        Nhập Mô tả ngắn.
                      </div>
                      <div *ngIf="moTaNgan.errors.minlength">
                        Mô tả ngắn phải trên 25 ký tự.
                      </div>
                      <div *ngIf="moTaNgan.errors.maxlength">
                        Mô tả ngắn phải ít hơn 200 ký tự.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <div class="form-group" style="width: 128px;">
                    <label class="mb-0">Mã bài viết</label>
                    <div class="d-flex align-items-center">
                      <input
                        disabled
                        formControlName="maBaiViet"
                        type="text"
                        class="form-control"
                        placeholder="Mã bài viết"
                      />
                      <span
                        style="cursor: pointer;"
                        (click)="setMaBaiVietVaoFormBaiViet()"
                        class="ml-1 mdi mdi-reload mdi-24px"
                      ></span>
                    </div>
                  </div>
                  <div class="form-group" style="width: 128px;">
                    <label class="mb-0">Thứ tự hiển thị</label>
                    <div class="d-flex align-items-center">
                      <input
                        formControlName="thuTuHienThi"
                        type="number"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-0">Danh mục</label>
                        <select
                          formControlName="maDanhMuc"
                          class="form-control"
                        >
                          <option value="-1" class="d-none"
                            >Loại danh mục</option
                          >
                          <option
                            *ngFor="let itemDanhMuc of danhSachDanhMuc"
                            [value]="itemDanhMuc.maDanhMuc"
                          >
                            {{ itemDanhMuc.tenDanhMuc }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            maDanhMuc.invalid &&
                            (maDanhMuc.dirty || maDanhMuc.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="maDanhMuc.errors.required">
                            Chọn loại danh mục.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-0">Loại bài viết</label>
                        <select
                          formControlName="loaiBaiViet"
                          class="form-control"
                        >
                          <option value="-1" class="d-none"
                            >Loại bài viết</option
                          >
                          <option
                            *ngFor="let itemLoaiBaiViet of danhSachLoaiBaiViet"
                            [value]="itemLoaiBaiViet.maLoaiBaiViet"
                          >
                            {{ itemLoaiBaiViet.tenLoaiBaiViet }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            loaiBaiViet.invalid &&
                            (loaiBaiViet.dirty || loaiBaiViet.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="loaiBaiViet.errors.required">
                            Chọn loại bài viết.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-0">Trạng thái bài viết</label>
                        <select
                          formControlName="trangThai"
                          class="form-control"
                        >
                          <option
                            *ngFor="let itemTrangThai of danhSachTrangThai"
                            [value]="itemTrangThai.maTrangThai"
                          >
                            {{ itemTrangThai.tenTrangThai }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            trangThai.invalid &&
                            (trangThai.dirty || trangThai.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="trangThai.errors.required">
                            Chọn trạng thái bài viết.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-0">Hiển thị lên trang chủ</label>
                        <select
                          formControlName="viTriHienThi"
                          class="form-control"
                        >
                          <option value="-1">Không hiển thị</option>
                          <option
                            *ngFor="let itemViTri of viTriHienThi"
                            [value]="itemViTri.maViTri"
                          >
                            {{ itemViTri.tenViTri }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            ViTriHienThi.invalid &&
                            (ViTriHienThi.dirty || ViTriHienThi.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="ViTriHienThi.errors.required">
                            Chọn vị trí hiển thị bài viết.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <ckeditor
                  class="col-12"
                  formControlName="noiDung"
                  [editor]="Editor"
                  minlength="50"
                ></ckeditor>
                <div
                  *ngIf="noiDung.invalid && (noiDung.dirty || noiDung.touched)"
                  class="alert alert-danger"
                >
                  <div *ngIf="noiDung.errors.required">
                    Nhập nội dung bài viết.
                  </div>
                  <div *ngIf="noiDung.errors.minlength">
                    Nội dung cần nhiều hơn 50 ký tự.
                  </div>
                </div>
                <div
                  class="col-12 d-flex justify-content-center align-items-center"
                >
                  <div class="modal_chucnang__group__button mt-3">
                    <button
                      type="button"
                      (click)="saveBaiViet()"
                      class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"
                    >
                      <img
                        class="modal_chucnang__button__icon mb-2"
                        src="assets/img/icons/add.png"
                        alt="image icon"
                      />
                      <div>Thêm mới</div>
                    </button>
                    <button
                      (click)="onResetForm(); closeModal('cntt_thembaiviet')"
                      class="modal_chucnang__button btn btn-outline-dark px-4 mx-2"
                      type="button"
                    >
                      <img
                        class="modal_chucnang__button__icon mb-2"
                        src="assets/img/icons/error.png"
                        alt="image icon"
                      />
                      <div>Đóng</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<!-- Chinh sua bai viet -->
<app-modal class="modal_chucnang__wrapper" id="cntt_chinhsuabaiviet">
  <div
    (click)="closeModal('cntt_chinhsuabaiviet')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3 pb-4">
    <div class="row">
      <h1 class="col-12 text-center text-white">Chỉnh sửa bài viết</h1>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-3 bg-white">
          <form [formGroup]="formChinhSuaBaiViet" class="row">
            <div class="col-10 mx-auto">
              <div class="row">
                <div class="col-auto">
                  <div class="upload-btn-wrapper text-center">
                    <div>Ảnh đại diện</div>
                    <div class="box-img">
                      <img
                        [src]="imageCuaBaiVietCanChinhSua"
                        id="preview_image_chinhsuabaiviet"
                      />
                    </div>
                    <input
                      type="file"
                      id="input_image_chinhsuabaiviet"
                      (change)="onFileSelected2($event)"
                      onchange="document.getElementById('preview_image_chinhsuabaiviet').src = window.URL.createObjectURL(this.files[0])"
                      accept="image/x-png, image/jpeg"
                    />
                    <label
                      for="input_image_chinhsuabaiviet"
                      class="btn btn-outline-dark btn-sm btn-block mb-0 mt-2"
                    >
                      Chọn hình ảnh
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="mb-0">Tiêu đề</label>
                    <input
                      formControlName="tieuDe"
                      type="text"
                      class="form-control"
                      placeholder="Tiêu đề bài viết"
                    />
                    <div
                      *ngIf="
                        tieuDe2.invalid && (tieuDe2.dirty || tieuDe2.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="tieuDe2.errors.required">
                        Vui lòng nhập tiêu đề bài viết
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="mb-0">Mô tả ngắn(Tối đa 200 ký tự)</label>
                    <textarea
                      formControlName="moTaNgan"
                      type="text"
                      class="form-control"
                      placeholder="Mô tả ngắn"
                      style="min-height: 90px;"
                      minlength="25"
                      maxlength="200"
                      required
                    >
                    </textarea>
                    <div
                      *ngIf="
                        moTaNgan2.invalid &&
                        (moTaNgan2.dirty || moTaNgan2.touched)
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="moTaNgan2.errors.required">
                        Nhập Mô tả ngắn.
                      </div>
                      <div *ngIf="moTaNgan2.errors.minlength">
                        Mô tả ngắn phải trên 25 ký tự.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <div class="form-group" style="width: 128px;">
                    <label class="mb-0">Mã bài viết</label>
                    <div class="d-flex align-items-center">
                      <input
                        disabled
                        formControlName="maBaiViet"
                        type="text"
                        class="form-control"
                        placeholder="Mã bài viết"
                      />
                      <!-- Chỉnh sửa mã bài viết -->
                      <span
                        *ngIf="baiVietCanChinhSua.maBaiViet === null"
                        style="cursor: pointer;"
                        (click)="setMaBaiVietVaoFormBaiVietChinhSua()"
                        class="ml-1 mdi mdi-reload mdi-24px"
                      ></span>
                    </div>
                  </div>
                  <div class="form-group" style="width: 128px;">
                    <label class="mb-0">Thứ tự hiển thị</label>
                    <div class="d-flex align-items-center">
                      <input
                        formControlName="thuTuHienThi"
                        type="number"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-0">Danh mục</label>
                        <select
                          formControlName="maDanhMuc"
                          class="form-control"
                        >
                          <option value="-1" class="d-none"
                            >Loại danh mục</option
                          >
                          <option
                            *ngFor="let itemDanhMuc of danhSachDanhMuc"
                            [value]="itemDanhMuc.maDanhMuc"
                          >
                            {{ itemDanhMuc.tenDanhMuc }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            maDanhMuc2.invalid &&
                            (maDanhMuc2.dirty || maDanhMuc2.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="maDanhMuc2.errors.required">
                            Chọn danh mục.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-0">Loại bài viết</label>
                        <select
                          formControlName="loaiBaiViet"
                          class="form-control"
                        >
                          <option value="-1" class="d-none"
                            >Loại bài viết</option
                          >
                          <option
                            *ngFor="let itemLoaiBaiViet of danhSachLoaiBaiViet"
                            [value]="itemLoaiBaiViet.maLoaiBaiViet"
                          >
                            {{ itemLoaiBaiViet.tenLoaiBaiViet }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            loaiBaiViet2.invalid &&
                            (loaiBaiViet2.dirty || loaiBaiViet2.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="loaiBaiViet2.errors.required">
                            Chọn Loại bài viết.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-0">Trạng thái bài viết</label>
                        <select
                          formControlName="trangThai"
                          class="form-control"
                        >
                          <option
                            *ngFor="let itemTrangThai of danhSachTrangThai"
                            [value]="itemTrangThai.maTrangThai"
                          >
                            {{ itemTrangThai.tenTrangThai }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-0">Hiển thị lên trang chủ</label>
                        <select
                          formControlName="viTriHienThi"
                          class="form-control"
                        >
                          <option value="-1">Không hiển thị</option>
                          <option
                            *ngFor="let itemViTri of viTriHienThi"
                            [value]="itemViTri.maViTri"
                          >
                            {{ itemViTri.tenViTri }}
                          </option>
                        </select>
                        <div
                          *ngIf="
                            ViTriHienThi2.invalid &&
                            (ViTriHienThi2.dirty || ViTriHienThi2.touched)
                          "
                          class="alert alert-danger"
                        >
                          <div *ngIf="ViTriHienThi2.errors.required">
                            Chọn Vị trí Hiển thị lên trang chủ.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <ckeditor
                  class="col-12"
                  formControlName="noiDung"
                  [editor]="Editor"
                  minlength="50"
                ></ckeditor>
                <div
                  *ngIf="
                    noiDung2.invalid && (noiDung2.dirty || noiDung2.touched)
                  "
                  class="alert alert-danger"
                >
                  <div *ngIf="noiDung2.errors.required">
                    Điền nội dung.
                  </div>
                  <div *ngIf="noiDung2.errors.minlength">
                    Nội dung cần nhiều hơn 50 ký tự.
                  </div>
                </div>
                <div
                  class="col-12 d-flex justify-content-center align-items-center"
                >
                  <div class="modal_chucnang__group__button mt-3">
                    <button
                      (click)="saveEditBaiViet()"
                      class="modal_chucnang__button btn btn-outline-danger px-4 mx-2"
                      type="button"
                    >
                      <img
                        class="modal_chucnang__button__icon mb-2"
                        src="assets/img/icons/upgrade.png"
                        alt="image icon"
                      />
                      <div>Cập nhật</div>
                    </button>
                    <button
                      (click)="
                        onResetFormChinhSua();
                        closeModal('cntt_chinhsuabaiviet')
                      "
                      class="modal_chucnang__button btn btn-outline-dark px-4 mx-2"
                      type="button"
                    >
                      <img
                        class="modal_chucnang__button__icon mb-2"
                        src="assets/img/icons/error.png"
                        alt="image icon"
                      />
                      <div>Đóng</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</app-modal>
