<app-modal class="modal_chucnang__wrapper" id="fb_quanlybaidangfacebook">
  <div
    (click)="closeModal('fb_quanlybaidangfacebook')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">QUẢN LÝ CÁC BÀI ĐĂNG</h1>
      </div>
      <div class="col-12">
        <!-- Modal -->
        <div
          class="modal fade"
          id="PostGroup"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLongTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">
                  Đăng bài cho các nhóm
                </h2>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <div style="position: absolute; margin-top: 32px;">
                  <div
                    id="showTimegrp"
                    style="color: red; margin-top: 15px;"
                  ></div>
                </div>
              </div>
              <div class="modal-body">
                <div class="">
                  <div class="form-group">
                    <label>Nội dung</label>
                    <textarea
                      [formControl]="conTentgrp"
                      class="form-control"
                      type="text"
                      name="message"
                      id="messagegr1"
                    ></textarea>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label>Đường dẫn hình ảnh (URL)</label>
                    <textarea
                      [formControl]="urlimggrp"
                      class="form-control"
                      type="text"
                      name="picture"
                      id="picturegr1"
                    ></textarea>
                  </div>
                </div>
                <!-- <div class="">
                  <div class="form-group">
                    <label for="">Chia tin tức từ trang công nghệ thông tin</label>
                    <ng-select id="mslink" style="font-size: 1rem;" [items]="news"
                              bindLabel="tieuDe"
                              bindValue="url"
                              [multiple]="true"
                              placeholder="Chọn..."
                              [(ngModel)]="mslinkgrp">
                    </ng-select>
                    <input id="listidgrp"value="" type="text" name="" hidden>
                    <input id="returnloaigrp1"value="" type="text" name="" hidden>

                  </div>
                </div> -->
                <div class="">
                  <div class="form-group">
                    <label for="">Loại bài viết</label>
                    <select
                      [formControl]="getLoaisTTgrp"
                      class="col-6 form-control"
                      id="getloaigrp1"
                    >
                      <option [value]="null">Chọn loại..</option>
                      <option
                        *ngFor="let l of layloaifb"
                        class="form-control"
                        >{{ l.loai }}</option
                      >
                    </select>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label for=""
                      >Chọn tin tức từ trang công nghệ thông tin</label
                    >
                    <select
                      [formControl]="mslinkgroup"
                      class="form-control"
                      id="mslink"
                    >
                      <option [value]="null">Chọn loại..</option>
                      <option
                        >https://vnexpress.net/nhieu-nguoi-o-da-nang-bi-phat-vi-ra-duong-tap-the-duc-4148598.html</option
                      >
                      <option
                        *ngFor="let tt of news"
                        value="{{ tt.url }}"
                        class="form-control"
                        >{{ tt.tieuDe }}</option
                      >
                    </select>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label for="">Chọn Nhóm</label>
                    <ng-select
                      id="groupsgr1"
                      style="font-size: 1rem;"
                      [items]="lopHoc"
                      bindLabel="tenGroupFB"
                      bindValue="IDGroupFB"
                      [multiple]="true"
                      placeholder="Chọn..."
                      [(ngModel)]="selectedCityIds"
                    >
                    </ng-select>
                    <input id="listidgrp" value="" type="text" name="" hidden />
                    <input
                      id="returnloaigrp1"
                      value=""
                      type="text"
                      name=""
                      hidden
                    />
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  class="btn btn-success"
                  (click)="fixInput()"
                  onclick="_StartPost()"
                >
                  Đăng
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="insertdartbdgrp()"
                >
                  Lưu nháp
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  Đóng
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="PostPage"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLongTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">
                  Đăng bài cho các trang
                </h2>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <div style="position: absolute; margin-top: 32px;">
                  <div
                    id="showTime"
                    style="color: red; margin-top: 15px;"
                  ></div>
                </div>
              </div>

              <div class="modal-body">
                <div class="">
                  <div class="form-group">
                    <label>Nội dung</label>
                    <textarea
                      [formControl]="conTent"
                      class="form-control"
                      type="text"
                      name="message"
                      id="messagep1"
                    ></textarea>
                    <!-- <ckeditor id="messagep1" [(ngModel)]="testContent" (change)="testChange()" [editor]="Editor"></ckeditor>
                    <div id="fixfont"></div> -->
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label>Đường dẫn hình ảnh (URL)</label>
                    <input
                      [formControl]="urlimg"
                      class="form-control"
                      type="text"
                      name="picture"
                      id="picturep1"
                    />
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label for="">Loại bài viết</label>
                    <select
                      [formControl]="getLoaisTT"
                      class="col-6 form-control"
                      id="getloaip1"
                    >
                      <option [value]="null">Chọn loại..</option>
                      <option
                        *ngFor="let l of layloaifb"
                        class="form-control"
                        >{{ l.loai }}</option
                      >
                    </select>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label for=""
                      >Chọn tin tức từ trang công nghệ thông tin</label
                    >
                    <select
                      [formControl]="mslinkpage"
                      class="form-control"
                      id="mslinkpage"
                    >
                      <option [value]="null">Chọn tin tức..</option>
                      <option
                        >https://vnexpress.net/nhieu-nguoi-o-da-nang-bi-phat-vi-ra-duong-tap-the-duc-4148598.html</option
                      >

                      <option
                        *ngFor="let tt of news"
                        value="{{ tt.url }}"
                        class="form-control"
                        >{{ tt.tieuDe }}</option
                      >
                    </select>
                  </div>
                </div>
                <div class="">
                  <div class="form-group">
                    <label for="">Chọn trang</label>
                    <ng-select
                      id="page1"
                      style="font-size: 1rem;"
                      [items]="getpg"
                      bindLabel="tenPage"
                      bindValue="id_Page"
                      [multiple]="true"
                      placeholder="Chọn..."
                      [(ngModel)]="selectedPgae"
                    >
                    </ng-select>
                  </div>
                  <input id="listidpage" value="" type="text" name="" hidden />
                  <input
                    id="returnloaip1"
                    value=""
                    type="text"
                    name=""
                    hidden
                  />
                  <input id="addtime" value="" type="text" hidden />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-success"
                  onclick="_StartPostPage()"
                  (click)="transIDpage()"
                >
                  Đăng
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="insertdartbdgage()"
                >
                  Lưu nháp
                </button>

                <button
                  type="button"
                  class="btn btn-danger"
                  data-dismiss="modal"
                >
                  Đóng
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <!-- <div class="col-2">
              <label class="mb-0 d-flex align-items-center"
                ><span class="text-nowrap">Hiển thị &nbsp;</span>
                <select class="custom-select custom-select-sm form-control">
                  <option>10</option>
                  <option>25</option>
                  <option>50</option> </select
                ><span class="text-nowrap">&nbsp; hàng</span>
              </label>
            </div> -->
            <div class="col-2">
              <ng-container [formGroup]="addForm">
                <div class="align-items-center ml-4">
                  <label class="mb-0 d-flex align-items-center"
                    ><span class="text-nowrap">Trạng thái &nbsp;</span>
                    <select
                      class="custom-select custom-select-sm form-control"
                      id="tinhtrang"
                      formControlName="trangThai"
                      (change)="changedTrangThai()"
                    >
                      <option value="">Tất cả</option>
                      <option value="1">Chưa đăng</option>
                      <option value="2">Đã đăng</option>
                    </select>
                  </label>
                </div>
              </ng-container>
            </div>

            <div class="col-4">
              <div class="modal_chucnang__group__button ml-6">
                <button
                  class="modal_chucnang__button btn btn-primary px-2 mx-1"
                  data-toggle="modal"
                  data-target="#PostGroup"
                >
                  <div>Đăng bài cho các nhóm</div>
                </button>
                <button
                  class="modal_chucnang__button btn btn-success px-2 mx-1"
                  data-toggle="modal"
                  data-target="#PostPage"
                >
                  <div>Đăng bài cho các trang</div>
                </button>
              </div>
            </div>

            <label class="ml-auto mb-0 d-flex align-items-center"
              ><span class="text-nowrap">Tìm kiếm: &nbsp;</span>
              <input
                class="form-control form-control-sm"
                placeholder="Tìm kiếm"
                [(ngModel)]="searchpage"
              />
            </label>
          </div>

          <table class="modal_chucnang__table table table-hover" id="">
            <thead class="bg__caothang text-white">
              <th class="text-center">STT</th>
              <th scope="col" class="text-center">Mô tả</th>
              <th scope="col" class="text-center">Đường dẫn</th>
              <th scope="col" class="text-center">Loại bài viết</th>
              <th scope="col" class="text-center">Thuộc</th>
              <th scope="col" class="text-center">Trạng Thái</th>
              <th scope="col" class="text-center">Tác vụ</th>
            </thead>
            <tbody>
              <tr *ngFor="let d of posttams | filter: searchpage; index as stt">
                <td class="text-center">{{ stt + 1 }}</td>
                <td class="text-center">
                  <div>{{ d.message }}</div>
                </td>
                <td class="text-center">
                  <div [hidden]="d.link == null">
                    <a [href]="d.link" target="_blank"
                      >Nhấn để đi đến bài viết</a
                    >
                  </div>
                </td>
                <td class="text-center">
                  <div>{{ d.loai }}</div>
                </td>
                <td class="text-center">
                  <div>{{ d.thuoc }}</div>
                </td>
                <ng-container *ngFor="let item of trangthai">
                  <td class="text-center" *ngIf="item.trangThai == d.trangThai">
                    <div>{{ item.tenTrangThai }}</div>
                  </td>
                </ng-container>

                <td class="text-center">
                  <div class="mb-1">
                    <button
                      [hidden]="d.trangThai === 2 || d.postOf === 'group'"
                      class="modal_chucnang__button btn btn-outline-success"
                      (click)="dangbai(d)"
                      onclick="dangbaiPage(this)"
                      data="{{ d.ID }}"
                    >
                      Đăng bài
                    </button>
                  </div>
                  <div class="mb-1">
                    <button
                      [hidden]="d.trangThai === 2 || d.postOf === 'page'"
                      class="modal_chucnang__button btn btn-outline-success"
                      (click)="dangbaigrp(d)"
                      onclick="dangbaiGroup(this)"
                      data="{{ d.ID }}"
                    >
                      Đăng bài
                    </button>
                  </div>
                  <!-- <div class="mb-1">
                    <button
                      [hidden]="
                        (d.postOf === 'group' && d.trangThai === 2) ||
                        d.trangThai === 1
                      "
                      class="modal_chucnang__button btn btn-outline-secondary"
                      (click)="capnhatdadang()"
                    >
                      Cập nhật
                    </button>
                  </div>
                  <div class="mb-1">
                    <button
                      [hidden]="d.trangThai === 2"
                      class="modal_chucnang__button btn btn-outline-secondary"
                      (click)="capnhatchuadang()"
                    >
                      Cập nhật
                    </button>
                  </div> -->
                  <div class="mb-1">
                    <button
                    [hidden]="d.trangThai === 2||d.trangThai === 0"
                      class="modal_chucnang__button btn btn-outline-danger"
                      (click)="changeTrangthai(d)"
                    >
                      Xóa
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>
