<app-modal class="modal_chucnang__wrapper" id="fb_quanlybaidangfacebook">
  <div (click)="closeModal('fb_quanlybaidangfacebook')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý bài đăng</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <form action="" enctype="multipart/form-data">
            <p>Message</p>
          <input type="text" name="message" id="message" />
          <br /><br />
          <input type="file" name="picture">
          <p>Url picture</p>
          <input type="text" name="picture" id="picture"/>
          <br /><br />
          <input type="button" value="GỬI" onclick="PostByRequest()" />
          </form>
        </div>
      </div>
    </div>
  </div>
</app-modal>