<section class="loadpage_effect" style="opacity: 0;">
  <section class="dashboard-page mt-5">
    <div class="container-fluid">
      <article class="dashboard_thongkehangnam__wrapper">
        <div class="row">
          <apx-chart class="chart"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [xaxis]="chartOptions.xaxis"
            [stroke]="chartOptions.stroke"
            [fill]="chartOptions.fill"
            [title]="chartOptions.title"
            [tooltip]="chartOptions.tooltip"
            [legend]="chartOptions.legend"
          ></apx-chart>
        </div>
      </article>
    </div>
  </section>
</section>
