<section class="dashboard-page mt-5">
  <div class="container-fluid">
    <article class="dashboard_thongkehangnam__wrapper">
      <div class="row">
        <div class="col-sm-6 col-lg-3 thongkehangnam__item text-center">
          <div class="h4 text-center">2020</div><img class="w-75" src="assets/img/chart/pie_chart.png" alt="chart-js">
        </div>
        <div class="col-sm-6 col-lg-3 thongkehangnam__item text-center">
          <div class="h4 text-center">2019</div><img class="w-75" src="assets/img/chart/pie_chart.png" alt="chart-js">
        </div>
        <div class="col-sm-6 col-lg-3 thongkehangnam__item text-center">
          <div class="h4 text-center">2018</div><img class="w-75" src="assets/img/chart/pie_chart.png" alt="chart-js">
        </div>
        <div class="col-sm-6 col-lg-3 thongkehangnam__item text-center">
          <div class="h4 text-center">2017</div><img class="w-75" src="assets/img/chart/pie_chart.png" alt="chart-js">
        </div>
      </div>
    </article>
  </div>
</section>