<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs">
          <a class="breadcrumb__step breadcrumb__step--active" routeLink="/"
            >Trang chủ</a
          >
          <a class="breadcrumb__step">Tìm kiếm</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="search_page__wrapper ">
  <div class="container bg-white shadow rounded-lg">
    <div class="px-3 py-4 p-lg-5">
      <div class="row search_page__form justify-content-center">
        <div class="col-md-11">
          <form [formGroup]="formSearch" class="row">
            <div class="col">
              <input
                type="text"
                formControlName="query"
                class="form-control mb-3 mb-md-0"
                placeholder="Nhập từ khoá bài viết bạn muốn tìm..."
              />
            </div>
            <div class="col-md-auto">
              <button
                (click)="searchBaiViet()"
                [disabled]="disableButton"
                class="w-100 btn btn-primary bg__caothang px-md-4 px-lg-5"
              >
                Tìm kiếm
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="defaultElement === false"
    class="container bg-white shadow rounded-lg mt-4"
  >
    <div class="px-3 py-4 p-lg-5">
      <div class="row justify-content-center">
        <div class="col-md-11">
          <div [ngClass]="{ 'd-none': !loading }" class="h5 mb-3">
            Đang tìm kiếm
          </div>
          <section *ngIf="loading">
            <ngx-skeleton-loader
              count="5"
              [theme]="{
                'border-radius': '.25rem',
                height: '20px',
                'background-color': '#eee'
              }"
            >
            </ngx-skeleton-loader>
          </section>
          <div
            class="h5 m-0"
            *ngIf="result.data.length === 0 && loading === false"
          >
            Chưa có kết quả
          </div>
          <div
            class="search_page__result mt-4"
            *ngIf="result.data.length > 0 && loading === false"
          >
            <div class="h5 m-3">Có {{ result.data.length }} kết quả</div>
            <div class="py-4 border-top" *ngFor="let item of result.data">
              <div class="row">
                <div class="col-12 col-sm-auto">
                  <div class="search_page__result__image mx-auto">
                    <img
                      src="{{ item.image }}"
                      alt="result item"
                    />
                  </div>
                </div>
                <div class="col">
                  <div class="search_page__result__title mt-2 mt-sm-0">
                    <a
                      class="font-weight-bold text-reset"
                      routerLink="/chitiettintuc/{{ item._id }}"
                      >{{ item.tentintuc }}</a
                    >
                  </div>
                  <div class="small mt-2">
                    <span class="mr-3"
                      ><span class="mdi mdi-pencil mr-1"></span
                      ><strong>{{ item.nguoitao || "" }}</strong></span
                    ><span
                      ><span class="mdi mdi-clock mr-1"></span
                      ><span>{{
                        formatDatetime(item.thoiGianChinhSua)
                      }}</span></span
                    >
                  </div>
                  <div class="mt-2 limit" >{{ item.description }}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- <nav class="search_page__pagination mt-4">
            <a class="mx-1 mx-md-2" href="#">Quay lại</a
            ><a class="mx-1 mx-md-2 search_page__pagination__item" href="#"
              >1</a
            ><a
              class="mx-1 mx-md-2 search_page__pagination__item active"
              href="#"
              >2</a
            ><a class="mx-1 mx-md-2 search_page__pagination__item" href="#"
              >3</a
            ><a class="mx-1 mx-md-2" href="#">Tiếp theo</a>
          </nav> -->
        </div>
      </div>
    </div>
  </div>
</section>
