<section class="social_media__wrapper shadow">
    <a class="social_media__facebook fab fa-facebook-f bg_gradient_facebook" href="#"></a>
    <a class="social_media__youtube fab fa-youtube" href="#"></a>
    <div class="social_media__search bg-white">
        <form class="header_search">
            <input class="header_search__input bg-white" type="text" placeholder="Nhập keyword...">
            <button class="header_search__button" type="reset"></button>
        </form>
    </div>
    <a class="social_media__BackToTop mdi mdi-chevron-up bg__caothang" href="#"></a>
</section>