.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  @media only screen and (max-width: 600px){
    button.mat-focus-indicator.mat-button.mat-button-base {
      margin-top: 12px;
  }
  }
  .style-icon{
    padding-right: 7px;
    display: inline-block;
  }