
  <section class="mt-4">
      <div class="container">
          <div class="row">
                  <div class="col-12">
                          <div class="breadcrumbs">
                              <a class="breadcrumb__step breadcrumb__step--active" href="/">Trang chủ</a>
                              <a class="breadcrumb__step" href="kysu">Tin tức</a>
                          </div>
                  </div>
          </div>
      </div>
  </section>
  <section class="news mt-40">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <div class="sub-news">
                      <div class="img-wrap"><img src="assets/img/news.png" alt="co-khi"></div><a class="sub-title" href="#">ten tin tuc</a>
                      <div class="posted"><i class="far fa-clock"></i>1/1/111</div>
                      <div class="news-content">
                                 nôidung
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="sub-news">
                      <div class="img-wrap"><img src="assets/img/news.png" alt="co-khi"></div><a class="sub-title" href="#">ten tin tuc</a>
                      <div class="posted"><i class="far fa-clock"></i>1/1/111</div>
                      <div class="news-content">
                                 nôidung
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="sub-news">
                      <div class="img-wrap"><img src="assets/img/news.png" alt="co-khi"></div><a class="sub-title" href="#">ten tin tuc</a>
                      <div class="posted"><i class="far fa-clock"></i>1/1/111</div>
                      <div class="news-content">
                                 nôidung
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="sub-news">
                      <div class="img-wrap"><img src="assets/img/news.png" alt="co-khi"></div><a class="sub-title" href="#">ten tin tuc</a>
                      <div class="posted"><i class="far fa-clock"></i>1/1/111</div>
                      <div class="news-content">
                                 nôidung
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="sub-news">
                      <div class="img-wrap"><img src="assets/img/news.png" alt="co-khi"></div><a class="sub-title" href="#">ten tin tuc</a>
                      <div class="posted"><i class="far fa-clock"></i>1/1/111</div>
                      <div class="news-content">
                                 nôidung
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

