<app-modal class="modal_chucnang__wrapper" id="ctdt_lichphonghoc">
  <div (click)="closeModal('ctdt_lichphonghoc')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Lịch phòng học</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-6">
              <div class="form-group">
                <label>Bậc</label>
                <select class="form-control" [(ngModel)]="maBac" (change)="select()">
                  <option *ngFor="let bac of dsBac" [value]="bac.maBac">{{ bac.tenBac }}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Năm học</label>
                <select class="form-control" [(ngModel)]="khoa" (change)="select()">
                  <option value="17">2017 - 2018</option>
                  <option value="28">2018 - 2019</option>
                  <option value="19">2019 - 2020</option>
                  <option value="20">2020 - 2021</option>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Loại hình đào tạo</label>
                <select class="form-control">
                  <option value="1">Chính quy</option>
                  <option value="2">Liên thông</option>
                </select>
              </div>
              <div class="form-group">
                <label>Học kì</label>
                <select class="form-control" (change)="select()">
                  <option value="1">Học kì 1</option>
                  <option value="2">Học kì 2</option>
                </select>
              </div>
            </div>
            <div *ngIf="display" class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-secondary px-4 mx-2" (click)="saveLPH()"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                  <div>Lưu</div>
                </button>
                <button class="modal_chucnang__button btn btn-outline-secondary px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/print.png" alt="image icon">
                  <div>In</div>
                </button>
                <button class="modal_chucnang__button btn btn-outline-secondary px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/print.png" alt="image icon">
                  <div>Export Excel</div>
                </button>
                <button class="modal_chucnang__button btn btn-outline-danger px-4 mx-2" type="reset"
                  (click)="select()"><img class="modal_chucnang__button__icon mb-2" src="assets/img/icons/error.png"
                    alt="image icon">
                  <div>Huỷ</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex justify-content-center">
            <h5 class="text-center"> {{ titleLPH }}</h5>
          </div>
          <div class="table-responsive text-center">
            <table class="table" *ngIf="display">
              <thead>
                <tr>
                  <th class="text-center">Lớp / Tuần</th>
                  <th class="tuan" *ngFor="let tuan of dsTuan">{{tuan}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lop of dsLPH; index as sttLop">
                  <th class="lop align-middle" style="min-width: 150px; background-color: #3b77b6;">{{ lop.tenVietTat }}
                  </th>
                  <th *ngFor="let phonghoc of dsTuan; index as sttTuan">
                    <select #changePhong (change)="selectPhongHoc(changePhong.value, sttTuan, sttLop)"
                      [(ngModel)]="dsLPH[sttLop].lichHoc[sttTuan]" class="lichHoc form-control text-center"
                      style="text-align-last:center">
                      <option value=""></option>
                      <option *ngFor="let phong of dsPhong" [value]="phong.maPhongHoc">{{ phong.tenPhongHoc }}
                      </option>
                    </select>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>
