<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 luong">
      <div class="row">
        <div class="col-md-12 luong-title">
          <div class="row">
            <div class="col-md-12">
              <div class="name-classrom">
                <h3>{{tenLHP}}</h3>
              </div>
              <div class="soluong">
                <span>Số lượng sinh viên: {{soLuongSV}}</span>
              </div>
              <!-- <div class="malop">
                <p>Mã lớp <span>kunhuy</span><button mat-button>chỉnh sửa</button></p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <!-- List thông báo scroll -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 chise">
      <div class="scrollable">
        <div class="row row-comment" *ngFor="let activity of dsActivity">
          <div class="content-gv">
            <a class=" thongtin" [routerLink]="[activity.route]">
              <div class="tt-icon">
                <div>
                  <i class="far fa-calendar-minus"></i>
                </div>
              </div>
              <div class="tt-client">
                <div>
                  {{activity.noiDung}}
                </div>
              </div>
              <div class="tt-dealine">
                <div>
                  {{activity.ngayTao | date:'dd-MM-yyyy'}}
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
