<app-modal class="modal_chucnang__wrapper" id="ctdt_phonghoc">
  <div (click)="closeModal('ctdt_phonghoc')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý phòng học</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-auto">
              <div class="form-group">
                <label>Tên phòng học</label>
                <input class="form-control" maxlength="20" [(ngModel)]="selectedPhongHoc.tenPhongHoc">
              </div>
              <div class="form-group">
                <label>Ghi chú</label>
                <input class="form-control" maxlength="50" [(ngModel)]="selectedPhongHoc.ghiChu" >
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label>Dãy</label>
                <select class="form-control" [(ngModel)]="selectedPhongHoc.day" (change)="changeDayorLau()">
                  <option *ngFor="let day of dsDay">{{ day }}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Lầu</label>
                <input class="form-control" type="number" name="lau" [(ngModel)]="selectedPhongHoc.lau" min="1" max="7" (change)="changeDayorLau()">
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button (click)="postPhongHoc()" class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm mới</div>
                </button>
                <button (click)="updatePhongHoc()" class="modal_chucnang__button btn btn-outline-success px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/upgrade.png" alt="image icon">
                  <div>Cập nhật</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
              <select class="custom-select custom-select-sm form-control">
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select><span class="text-nowrap">&nbsp; hàng</span>
            </label>
            <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Tìm kiếm: &nbsp;</span>
              <input class="form-control form-control-sm" placeholder="Tìm kiếm" [(ngModel)]="searchPhongHoc">
            </label>
          </div>
          <table class="modal_chucnang__table table table-hover" id="danhsach_phonghoc">
            <thead class="bg__caothang text-white">
              <th class="text-center" scope="col" style="max-width: 100px">STT</th>
              <th scope="col">Tên phòng</th>
              <th scope="col">Dãy</th>
              <th scope="col">Lầu</th>
              <th scope="col">Ghi chú</th>
              <th class="text-center" scope="col">
                <span role="button" (click)="getPhongHoc()" title="Làm mới" >
                  <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
                    <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
                  </svg>
                </span></th>
            </thead>
            <tbody>
              <tr *ngFor="let phongHoc of dsPhongHoc | filter:searchPhongHoc; index as idx">
                <!-- [class.selected]="phongHoc.maPhongHoc === selectedPhongHoc.maPhongHoc" -->
                <td>
                  <div class="text-left">{{ idx + 1}}</div>
                </td>
                <td>
                  <div class="text-left">{{ phongHoc.tenPhongHoc }}</div>
                </td>
                <td>
                  <div class="text-left">{{ phongHoc.day }}</div>
                </td>
                <td>
                  <div class="text-left">{{ phongHoc.lau }}</div>
                </td>
                <td>
                  <div class="text-left">{{ phongHoc.ghiChu }}</div>
                </td>
                <td class="text-center">
                  <span (click)="onSelect(phongHoc.maPhongHoc)"
                    class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px">
                  </span>
                  <span (click)="deletePhongHoc(phongHoc.maPhongHoc)"
                    class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px" >
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>
