<section class="loadpage_effect" style="opacity: 0;">
  <app-sidebar-cntt></app-sidebar-cntt>
  <app-modal-quanlyheadercntt></app-modal-quanlyheadercntt>
  <app-modal-quanlyfootercntt></app-modal-quanlyfootercntt>
  <app-modal-quanlypartner></app-modal-quanlypartner>
  <app-modal-quanlyslideshowcntt></app-modal-quanlyslideshowcntt>
  <app-modal-quanlybaivietcntt></app-modal-quanlybaivietcntt>
  <app-modal-thembaivietcntt></app-modal-thembaivietcntt>
  <app-modal-chinhsuabaivietcntt></app-modal-chinhsuabaivietcntt>
  <app-modal-quanlyloaibaivietcntt></app-modal-quanlyloaibaivietcntt>
  <app-modal-crawling></app-modal-crawling>
</section>
