<section class="loadpage_effect" style="opacity: 0;">
  <app-sidebar-cntt></app-sidebar-cntt>
  <app-modal-quanlyheadercntt></app-modal-quanlyheadercntt>
  <app-modal-quanlyfootercntt></app-modal-quanlyfootercntt>
  <!-- <app-modal-quanlyslideshowcntt></app-modal-quanlyslideshowcntt> -->
  <!-- <app-modal-quanlytintuccntt></app-modal-quanlytintuccntt> -->
  <!-- <app-modal-themtintuccntt></app-modal-themtintuccntt> -->
  <!-- <app-modal-chinhsuatintuccntt></app-modal-chinhsuatintuccntt> -->
  <app-modal-quanlyloaibaivietcntt></app-modal-quanlyloaibaivietcntt>
  <app-modal-crawling></app-modal-crawling>
  <app-modal-noidungtrangchu></app-modal-noidungtrangchu>
  <app-modal-quanlytienichcntt></app-modal-quanlytienichcntt>
  <app-modal-danhmucbaiviet></app-modal-danhmucbaiviet>
  <app-modal-quanlybosuutapcntt></app-modal-quanlybosuutapcntt>
  <app-modal-thongtinchung></app-modal-thongtinchung>
  <app-modal-baiviet></app-modal-baiviet>
</section>
