<app-modal class="modal_chucnang__wrapper" id="ctdt_khoabomon">

  <div (click)="closeModal('ctdt_khoabom adon')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">

    <!-- Modal khoa-->
    <div class="modal fade" id="khoa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header alert alert-primary">
            <h5 class="modal-title" id="exampleModalLongTitle">Khoa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="KhoaForm">
              <div class="form-row">
                <div class="col">
                  <label for="inputPassword4">Tên Khoa</label>
                  <input class="form-control" formControlName="tenKhoa">
                </div>
                <div class="col">
                  <label for="inputPassword4">Tên viết tắt</label>
                  <input class="form-control" formControlName="tenVietTat">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

            <button type="button" class="btn btn-outline-success" (click)="onClick_ThemKhoa()" *ngIf="editting==false"
              data-dismiss="modal">Thêm</button>
            <button type="button" class="btn btn-outline-info" (click)="capNhat_Khoa()" *ngIf="editting"
              data-dismiss="modal">Cập nhật</button>

          </div>
        </div>
      </div>
    </div>

    <!-- Modal xemDonVi -->
    <div class="modal fade" id="xemDonVi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header alert alert-info align-content-center">
            <h5 class="modal-title " id="exampleModalLabel">Danh sách đơn vị </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row" *ngIf="bomons?.length > 0">
              <table class="modal_chucnang__table table table-hover table-bordered table-responsive"
                id="danhsach_khoabomon">
                <thead class="bg__caothang text-white">
                  <th>#</th>

                  <th scope="col">Tên Khoa - Bộ môn</th>
                  <th scope="col">Tên viết tắt</th>
                  <th scope="col">Loại đơn vị</th>
                  <th scope="col">Cập nhật</th>
                  <th scope="col">Xóa</th>

                </thead>
                <tbody>
                  <tr *ngFor="let khoa of bomons; let i= index">

                    <td class="text-center">{{ i+1  }}</td>

                    <td class="text-center">
                      <input class="form-control" disabled value=" {{ khoa.tenBoMon }}">
                    </td>
                    <td>
                      <input class="form-control" disabled value=" {{ khoa.tenVietTat }}">
                    </td>
                    <td class="text-center">
                      <div *ngFor="let loai of loais">
                        <p *ngIf="khoa.maLoai == loai.maLoaiDonVi"> {{ loai.tenLoaiDonVi }}</p>
                      </div>
                    <td class="text-center">
                      <button class="btn btn-outline-success" (click)="insertDateforForm(khoa)" data-toggle="modal"
                        data-target="#updateForm"><i class="fa fa-pen"></i>
                      </button>

                    </td>
                    <td class="text-center">
                      <button class="btn btn-outline-danger " (click)="deleteModal(khoa._id, khoa.maLoai)"><i
                          class="fa fa-ban"></i></button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="bomons?.length == 0">Không có đơn vị</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <!-- <button type="button" class="btn btn-primary" (click)="capNhat_BoMon()" data-dismiss="modal">Thay
              đổi</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Update -->
    <div class="modal fade" id="updateForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header alert alert-info">
            <h3 class="modal-title " id="exampleModalLabel">Cập nhật </h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="updateForm">
              <div class="form-row">

                <div class="form-group col-md-3">
                  <label for="inputPassword4">Tên đơn vị</label>
                  <input class="form-control" formControlName="tenDonVi">
                </div>
                <div class="form-group col-md-3">
                  <label for="inputEmail4">Tên viết tắt</label>
                  <input class="form-control" formControlName="tenVietTat">
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Loại đơn vị</label>

                  <select class="form-control" formControlName="loaiDonVi">
                    <option value="" disabled>Chọn...</option>
                    <option *ngFor="let loai of loais" [ngValue]=loai.maLoaiDonVi>{{ loai.tenLoaiDonVi }}</option>
                  </select>

                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Khoa</label>
                  <select class="form-control" formControlName="tenKhoa">
                    <option value="" disabled>Chọn...</option>
                    <option *ngFor="let khoa of dskhoaTam" [ngValue]=khoa.maKhoa>{{ khoa.tenKhoa }}</option>
                  </select>

                </div>

              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="capNhat_BoMon()">Thay
              đổi</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{result?.msg }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý Khoa - Bộ môn</h1>
      </div>
      <form [formGroup]="addForm" class="col-12">
        <div class="col-12">

          <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
            <div class="row justify-content-center align-items-center">
              <div class="col">
                <div class="form-group">
                  <label>Tên đơn vị</label>
                  <input class="form-control" formControlName="tenKhoa">
                  <div *ngIf="tenKhoa.invalid && (tenKhoa.dirty || tenKhoa.touched)" class="alert alert-danger">
                    <div *ngIf="tenKhoa.errors.required">
                      Tên đơn vị không được để trống
                    </div>
                    <div *ngIf="tenKhoa.errors.pattern">
                      Không được có ký tự đặc biệt
                    </div>
                    <div *ngIf="tenKhoa.errors.maxlength">
                      Không được nhiều hơn 50 kí tự
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Tên viết tắt</label>
                  <input class="form-control" formControlName="tenVietTat">
                  <div *ngIf="tenVietTat.invalid && (tenVietTat.dirty || tenVietTat.touched)"
                    class="alert alert-danger">
                    <div *ngIf="tenVietTat.errors.required">
                      Tên viết tắt không được để trống
                    </div>
                    <div *ngIf="tenVietTat.errors.minlength">
                      Tên viết tắt không được ít hơn 2 kí tự.
                    </div>
                    <div *ngIf="tenVietTat.errors.pattern">
                      Không được có ký tự đặc biệt
                    </div>
                    <div *ngIf="tenVietTat.errors.maxlength">
                      Không được dài hơn 15 kí tự
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>Khoa</label>
                  <select class="form-control" formControlName="maKhoa">
                    <option value="" disabled>Chọn...</option>
                    <option *ngFor="let khoa of dskhoaTam" [ngValue]=khoa.maKhoa>{{ khoa.tenKhoa }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Loại đơn vị</label>
                  <select class="form-control" formControlName="loaiDonVi">
                    <option value="" disabled>Chọn...</option>
                    <option *ngFor="let loai of loais" [ngValue]=loai.maLoaiDonVi>{{ loai.tenLoaiDonVi }}</option>
                  </select>
                </div>
                <div *ngIf="loaiDonVi.invalid && (loaiDonVi.dirty || loaiDonVi.touched)" class="alert alert-danger">
                  <div *ngIf="loaiDonVi.errors.required">
                    Loại đơn vị không được để trống
                  </div>
                </div>
              </div>

            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button text-center">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2" (click)="themDonVi()"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm đơn vị</div>
                </button>

                <button data-toggle="modal" data-target="#khoa" (click)="themKhoa()"
                  class="modal_chucnang__button btn btn-outline-success px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-2" src="assets/img/icons/upgrade.png" alt="image icon" />
                  <div>Thêm Khoa</div>
                </button>

              </div>
            </div>
          </div>
        </div>

      </form>
      <div class="col-12">
        <div class="modal fade" id="xoa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{result?.msg }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>
        <div class="modal_chucnang__box border rounded table-responsive table-bordered p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
              <select class="custom-select custom-select-sm form-control" [formControl]="soTrang"
                (change)="phanTrang()">
                <option *ngFor="let item of tongSoTrang; index as i" value="{{ i }}">{{i+1}}</option>
              </select><span class="text-nowrap">&nbsp; hàng</span>
            </label>
            <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Tìm kiếm: &nbsp;</span>
              <input class="form-control form-control-sm" placeholder="Tìm kiếm">
            </label>
          </div>
          <table class="modal_chucnang__table table table-hover" id="danhsach_khoabomon">
            <thead class="bg__caothang text-white">
              <th>#</th>
              <th scope="col">Tên Khoa</th>
              <th scope="col">Tên viết tắt</th>
              <th scope="col">Cập nhật</th>
              <th scope="col">Xóa</th>
              <th scope="col">Đơn vị</th>
            </thead>
            <tbody>
              <tr *ngFor="let khoa of khoas; let i= index" [ngClass]="statusElementList">
                <td style="max-width: 50px">{{ i+1  }}</td>

                <td>
                  <input class="form-control" disabled value=" {{ khoa.tenKhoa }}">
                </td>
                <td>
                  <input class="form-control" disabled value=" {{ khoa.tenVietTat }}">
                </td>

                <td class="text-center">
                  <button class="btn btn-outline-success" (click)="insertDateforForm(khoa)" data-toggle="modal"
                    data-target="#khoa"><i class="fa fa-pen"></i>
                  </button>

                </td>
                <td class="text-center">
                  <button class="btn btn-outline-danger " (click)="deleteModal(khoa._id, khoa.maLoai)"><i
                      class="fa fa-ban"></i></button>

                </td>
                <td class="text-center">
                  <button class="btn btn-outline-primary" data-toggle="modal" data-target="#xemDonVi"
                    (click)="xem_ChiTiet(khoa.maKhoa)"><i class="fa fa-list"></i></button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</app-modal>
