<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-2 text-center">
      <img src="assets/img/huykun.JPG" class="mx-auto img-fluid img-circle d-block" alt="avatar">
      <label class="custom-file">
        <input type="file" id="file" class="custom-file-input">
        <span class="custom-file-control btn btn-light">Chọn file</span>
      </label>
    </div>
    <div class="col-md-10">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="" data-target="#messages" data-toggle="tab" class="nav-link active">Thông báo</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Chỉnh sửa thông tin</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#dslophocphan" data-toggle="tab" class="nav-link">Danh sách lớp học phần</a>
        </li>
      </ul>
      <div class="tab-content py-4">
        <div class="tab-pane active" id="messages">
          <div class="scrollable">
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a><strong>Huy nguyễn</strong>. Đã đăng bài
              tập mới
            </div>
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a><strong>Huy Nguyễn</strong> đã đăng tài
              liệu mới
            </div>
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a><strong>Huy Nguyễn</strong> đã đăng tài
              liệu mới
            </div>
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a><strong>Huy Nguyễn</strong> đã đăng tài
              liệu mới
            </div>
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <td>
                    <span class="float-right font-weight-bold">3 giờ trước</span> Huy Nguyễn đã đăng một
                    bài tập mới
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="float-right font-weight-bold">hôm nay</span> Huy Nguyễn đã đăng một tài
                    liệu mới
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="float-right font-weight-bold">9/10</span> Huy Nguyễn đã đăng một bài
                    tập mới
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="float-right font-weight-bold">9/4</span> Huy Nguyễn đã đăng một bài tập
                    mới
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="float-right font-weight-bold">9/4</span> Huy Nguyễn đã đăng một bài tập
                    mới
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="float-right font-weight-bold">9/4</span> Huy Nguyễn đã đăng một bài tập
                    mới
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="float-right font-weight-bold">9/4</span> Huy Nguyễn đã đăng một bài tập
                    mới
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="float-right font-weight-bold">9/4</span> Huy Nguyễn đã đăng một bài tập
                    mới
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="float-right font-weight-bold">9/4</span> Huy Nguyễn đã đăng một bài tập
                    mới
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane" id="edit">
          <form role="form" *ngFor="let gv of giaovien" [formGroup]="formCapnhapGV">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Mã giáo viên</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value="{{gv.maGiaoVien}}" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Họ</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value="{{gv.ho}}" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Tên</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value="{{gv.ten}}" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" type="email" value="{{gv.email}}" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Ngày sinh</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value="{{gv.ngaySinh}}" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">CMND</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value="{{gv.cmnd}}" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Trình độ chuyên môn</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value="{{gv.trinhDoChuyenMon}}" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Số điện thoại</label>
              <div class="col-lg-9">
                <input class="form-control" type="text" value="{{gv.sdt}}" formControlName="sodienthoai">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Cập nhập mật khẩu</label>
              <div class="col-lg-9">
                <input class="form-control" type="password" value="{{gv.password}}" formControlName="newpassword">
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <input type="reset" class="btn btn-secondary" value="Hủy ">
                <input type="button"(click)="capnhapGV()" class="btn btn-primary ml-1" value="Lưu thông tin">
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="dslophocphan">
          <form [formGroup]="formDanhSachLop">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group pr-3 pt-1">
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="bac"
                    (change)="danhSachLopGV()">
                    <option value="3">Chọn bậc</option>
                    <option *ngFor="let b of dsBac" value="{{b.maBac}}">{{b.tenBac}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group pr-3 pt-1">
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="hocKi"
                    (change)="danhSachLopGV()">
                    <option value="1">Chọn học kì</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group pr-3 pt-1">
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="khoa"
                    (change)="danhSachLopGV()">
                    <option value="18">Chọn khóa </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 shadow">
                <div class="scrollable">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên lớp học phần</th>
                        <th scope="col">Học kì</th>
                        <th scope="col">Tổng sinh viên</th>
                        <th scope="col">Tình trạng nộp điểm</th>
                        <th scope="col">Loại lớp</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let l of filterDsLop;index as i">
                      <tr>
                        <td scope="row">{{i+1}}</td>
                        <td>{{l.tenLopHocPhan}}</td>
                        <td>{{l.hocKi}}</td>
                        <td>{{l.soLuongSV}}</td>
                        <ng-template [ngIf]="l.tinhTrangNopDiem==1">
                          <td>đang học</td>
                        </ng-template>
                        <ng-template [ngIf]="l.tinhTrangNopDiem!=1">
                          <td>Đã nộp điểm</td>
                        </ng-template>
                        <td>{{l.loaiLopHocPhan}}</td>
                        <td>
                          <ng-template *ngFor="let p of dsBaiGiangLHP ; index as sttt"
                            [ngIf]="l.maLopHocPhan==p.maLopHocPhan">
                            <p></p>
                          </ng-template>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>