<app-modal class="modal_chucnang__wrapper" id="diem_lophocphan">
  <div (click)="closeModal('diem_lophocphan')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Lớp học phần</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label>Tên lớp học phần</label>
                <input class="form-control">
              </div>
              <div class="form-group">
                <label>Loại lớp học phần</label>
                <select class="form-control modal_chucnang__select2">
                  <option>Lớp bình thường</option>
                  <option>Lớp học ghép</option>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Lớp học</label>
                <select class="form-control modal_chucnang__select2">
                  <option>CĐ TH 16 PMC</option>
                </select>
              </div>
              <div class="form-group">
                <label>Mã đào tạo</label>
                <select class="form-control modal_chucnang__select2">
                  <option>Mã đào tạo</option>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Học kì giảng dạy thực tế</label>
                <input class="form-control" type="number" min="1" value="1">
              </div>
              <div class="form-group">
                <label>Số lượng SV tối đa</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-1" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
              <select class="custom-select custom-select-sm form-control">
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select><span class="text-nowrap">&nbsp; hàng</span>
            </label>
            <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Bộ lọc: &nbsp;</span>
              <input class="form-control form-control-sm" placeholder="Nhập từ khoá...">
            </label>
          </div>
          <table class="modal_chucnang__table table table-hover" id="danhsach_lophocphan">
            <thead class="bg__caothang text-white">
              <th class="text-center" scope="col">#</th>
              <th scope="col">Mã LHP</th>
              <th scope="col">Tên Lớp học phần</th>
              <th scope="col">Loại</th>
              <th scope="col">Mã đào tạo</th>
              <th scope="col">Lớp học</th>
              <th scope="col">HK thực tế</th>
              <th scope="col">SL tối đa</th>
              <th scope="col">Nộp điểm</th>
              <th class="text-center" scope="col"><span
                  class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span></th>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">100</td>
                <td>0001</td>
                <td>
                  <input class="form-control" disabled value="Lớp học phần 1">
                </td>
                <td>
                  <select class="form-control modal_chucnang__select2" disabled>
                    <option>Loại lớp học phần</option>
                  </select>
                </td>
                <td>
                  <select class="form-control modal_chucnang__select2" disabled>
                    <option>Mã đào tạo</option>
                  </select>
                </td>
                <td>
                  <select class="form-control modal_chucnang__select2" disabled>
                    <option>CĐ TH 16 PMC</option>
                  </select>
                </td>
                <td style="width: 100px">
                  <input class="form-control" disabled value="5">
                </td>
                <td style="width: 100px">
                  <input class="form-control" disabled value="100">
                </td>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="lophocphancheckbox1" disabled type="checkbox">
                    <label class="custom-control-label" for="lophocphancheckbox1"></label>
                  </div>
                </td>
                <td class="text-center text-nowrap"><span
                    class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px"></span><span
                    class="modal_chucnang__button__delete ml-2 mdi mdi-delete-outline mdi-24px"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>