<div class="container-fluid mt-5">
    <div class="row" style="border-bottom:solid 0.5px black;padding-bottom: 20px;">
        <div class="col-2">
            <div mat-dialog-actions>
                <button mat-button mat-dialog-close><i class="fas fa-times"></i></button>
                <span style="margin-left: 5px;">Tài liệu</span>
            </div>

        </div>
        <div class="col-8">

        </div>
        <div class="col-2">
            <div>
                <button mat-button>Đăng</button>
                <button mat-button [matMenuTriggerFor]="menu"><i class="fas fa-angle-down"></i></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Giao bài</button>
                    <button mat-menu-item>Lên lịch</button>
                    <button mat-menu-item>Lưu bản nháp</button>
                    <button mat-menu-item>Hủy bản nháp</button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12" style="padding-top:10px">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" style="width:100%">
                            <mat-label>Tiêu đề</mat-label>
                            <input matInput placeholder="Tiêu đề">
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-12">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" style="width:100%">
                            <mat-label>Hướng dẫn (không bắt buộc)</mat-label>
                            <input matInput placeholder="Hướng dẫn (không bắt buộc)" style="padding-top:50px">
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-4">
                    <button mat-button [matMenuTriggerFor]="menuthem">Thêm</button>
                    <mat-menu #menuthem="matMenu">
                        <button mat-menu-item>Google Drive</button>
                        <button mat-menu-item>Liên kết</button>
                        <button mat-menu-item>Tệp</button>
                        <button mat-menu-item>Youtube</button>
                    </mat-menu>
                    <button mat-button [matMenuTriggerFor]="menutao"><i class="fas fa-plus"></i> Tạo</button>
                    <mat-menu #menutao="matMenu">
                        <button mat-menu-item>Tài liệu</button>
                        <button mat-menu-item>Trang trình bày</button>
                        <button mat-menu-item>Trang tính</button>
                        <button mat-menu-item>Bảng vẽ</button>
                        <button mat-menu-item>Biểu mẫu</button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <div class="col-4">
            <mat-label>Dành cho</mat-label>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Chọn tên lớp</mat-label>
                    <mat-select multiple>
                        <mat-option>Cấu trúc dữ liệu </mat-option>
                        <mat-option>Lập trình HDT</mat-option>
                        <mat-option>Thiết kế web</mat-option>
                        <mat-option>Lập trình di động</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Chọn tất cả học viên</mat-label>
                    <mat-select multiple>
                        <mat-option>Tất cả học viên </mat-option>
                        <mat-option>Tên tài khoản</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
            <mat-label>Chủ đề </mat-label>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>tạo chủ đề</mat-label>
                    <input matInput placeholder="Tạo chủ đề">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    
                    <mat-label>Chọn chủ đề có sẵn</mat-label>
                    <mat-select multiple>
                        <mat-option>Chủ đề 1</mat-option>
                        <mat-option>Chủ đề 2</mat-option>
                        <mat-option>Chủ đề 3</mat-option>
                        <mat-option>Chủ đề 4</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>