<!-- <button (click)="logData()">log</button> -->
<section class="highlight_home__wrapper py-5 bg__light">
  <div class="container-fluid">
    <div class="row">
      <div class="d-none d-lg-block col-lg-3" style="z-index: 2;">
        <div class="highlight_home__title mt-lg-4 pr-lg-4 py-lg-4 bg__light">
          <a
            class="text-reset text-decoration-none text-uppercase"
            [routerLink]="['/']"
          >
            {{ baiVietQuanTrongDauTien.tieuDe }}</a
          >
        </div>
        <small class="highlight_home__postedtime text-muted">
          {{ baiVietQuanTrongDauTien.thoiGianDangBai }}
        </small>
        <div class="highlight_home__desc mb-2 mb-lg-3">
          {{ baiVietQuanTrongDauTien.moTaNgan }}
        </div>
        <a
          class="m-0 py-2 px-4 highlight_home__read btn text-white bg__caothang"
          [routerLink]="['/']"
          >Xem chi tiết</a
        >
      </div>
      <div class="col-lg-9" style="z-index: 1;">
        <swiper class="highlight_home__slider swiper-container">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              *ngFor="
                let itemBaiVietQuanTrong of listBaiVietQuanTrong;
                let i = index
              "
            >
              <a
                class="position-relative highlight_home__box_image"
                [routerLink]="['/']"
                ><img
                  src="https://localhost:4100/{{ itemBaiVietQuanTrong.anhBia }}"
                  [alt]="itemBaiVietQuanTrong.tieuDe" /><span
                  class="highlight_home__boxlink bg__caothang mdi mdi-call-made d-flex justify-content-center align-items-center text-white position-absolute"
                ></span
              ></a>
              <div class="d-lg-none mt-2">
                <div class="highlight_home__title text-uppercase">
                  {{ itemBaiVietQuanTrong.tieuDe }}
                </div>
                <small class="highlight_home__postedtime text-muted">{{
                  itemBaiVietQuanTrong.thoiGianDangBai
                }}</small>
                <div class="highlight_home__desc">
                  {{ itemBaiVietQuanTrong.moTaNgan }}
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination d-lg-none position-static"></div>
        </swiper>
        <div
          class="highlight_home__slider__thumbnail swiper-container d-none d-lg-block"
        >
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              *ngFor="
                let itemBaiVietQuanTrong of listBaiVietQuanTrong;
                let i = index
              "
            >
              <div
                class="highlight_home__slider__item user-select-none px-3 py-2"
              >
                <div class="highlight_home__counter text-muted">
                  {{ i + 1 }}.
                </div>
                <div
                  [title]="itemBaiVietQuanTrong.tieuDe"
                  class="highlight_home__sub_title"
                >
                  {{ itemBaiVietQuanTrong.tieuDe }}
                </div>
                <div
                  [title]="itemBaiVietQuanTrong.moTaNgan"
                  class="highlight_home__sub_desc d-none"
                >
                  {{ itemBaiVietQuanTrong.moTaNgan }}
                </div>
                <small class="highlight_home__sub_postedtime text-muted">{{
                  itemBaiVietQuanTrong.thoiGianDangBai
                }}</small>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="job_home__wrapper bg__caothang__light py-5">
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6 d-flex">
        <div class="job_home__desc">
          <div
            class="job_home__desc__title text-white text-center text-md-left text-uppercase"
            style="font-weight: 900;"
          >
            Cơ hội việc làm
          </div>
          <div class="text-justify text-white-50 text-md-left mt-2">
            MyWork đang nằm trong TOP 3 nhà tuyển dụng trực tuyến tại Việt Nam
            và hướng đến mục tiêu trở thành đơn vị cung cấp dịch vụ tuyển dụng
            trực tuyến số 1 trong thời gian tới; trở thành một sàn nghề nghiệp
            dễ sử dụng, truy cập và là một địa chỉ không thể thiếu cho thị
            trường lao động Việt Nam.
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-5 mt-3 mt-md-0">
        <div
          class="job_home__title text-uppercase text-center font-weight-bold position-relative"
        >
          <div
            class="job_home__desc text-white bg__caothang__light d-none d-md-inline-block px-3"
          >
            Việc làm
          </div>
          <hr class="m-0" />
        </div>
        <div class="job_home__slider swiper-container mt-3 mt-md-2">
          <div class="swiper-wrapper">
            <div
              class="swiper-slide"
              *ngFor="let itemListCoHoiViecLam of listCoHoiViecLam"
            >
              <div class="job_home__slider__item d-flex">
                <a
                  class="job_home__logo_company p-1 p-md-3 d-flex justify-content-center align-items-center border"
                  [routerLink]="['/']"
                  ><img
                    class="swiper-lazy"
                    [title]="itemListCoHoiViecLam.tieuDe"
                    data-src="https://localhost:4100/{{
                      itemListCoHoiViecLam.anhBia
                    }}"
                    [alt]="itemListCoHoiViecLam.tieuDe"
                /></a>
                <div class="ml-2 ml-md-3">
                  <a
                    class="text-white mb-0 job_home__sub_title"
                    [title]="itemListCoHoiViecLam.tieuDe"
                    [routerLink]="['/']"
                    >{{ itemListCoHoiViecLam.tieuDe }}</a
                  >
                  <div class="job_home__sub_desc">
                    {{ itemListCoHoiViecLam.moTaNgan }}
                  </div>
                  <div class="small mdi mdi-clock-outline text-white-50">
                    <span class="ml-1">{{
                      itemListCoHoiViecLam.thoiGianDangBai
                    }}</span>
                  </div>
                  <!-- <div class="text-white-50 mt-1">
                  </div> -->
                  <!-- <div class="text-white-50 mt-1">
                    Vị trí:
                    <strong class="text-white">Front End developer</strong>
                  </div> -->
                  <!-- <div class="job_home__skill mt-1">
                    <span class="badge badge-success">Java</span
                    ><span class="badge badge-success">Phần mềm</span>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="mt-3 mb-0" />
        <div class="d-flex align-items-center justify-content-between">
          <a class="text-white-50" [routerLink]="['/']" style="font-size: 15px;"
            >Xem tất cả</a
          >
          <div class="job_home__slider__navigation text-white-50">
            <span class="prev mdi mdi-chevron-left mdi-24px"></span
            ><span class="next mdi mdi-chevron-right mdi-24px"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-tienichsv></app-tienichsv>
<section class="quote_home__wrapper bg__image__2 shadow py-5">
  <div
    class="container-fluid"
    data-aos="fade-up"
    data-aos-delay="300"
    data-aos-duration="1500"
  >
    <div class="row">
      <div class="col-12">
        <blockquote class="quote_home__blockquote blockquote border-0 m-0">
          <!-- <div class="h2 mb-3 text-white text-justify text-md-center">
            Tiền thân của khoa Công nghệ Thông tin là bộ môn Tin học (tháng 08
            năm 1998) thuộc Khoa Điện Tử – Tin Học trường Cao Đẳng Kỹ Thuật Cao
            Thắng Thành lập vào tháng 01 năm 2020.
          </div>
          <footer
            class="blockquote-footer text-white text-right text-md-center"
          >
            Trích lược sử hình thành
            <cite title="khoa Công nghệ Thông tin"
              >khoa Công nghệ Thông tin</cite
            >
          </footer> -->
          <div
            class="h2 mb-3 text-white text-justify text-md-center"
            [innerHTML]="gioiThieuNganDauTien.noiDung"
          ></div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section class="news_home__wrapper bg__light py-5">
  <div
    class="container-fluid"
    data-aos="fade-right"
    data-aos-delay="300"
    data-aos-duration="1500"
  >
    <div class="row">
      <div class="col-12 text-center">
        <div class="news_home__title text-uppercase font-weight-bold">
          tin tức
        </div>
      </div>
      <div class="col-lg-8 mt-4">
        <div class="news_home__main text-white p-3">
          <a class="hashtag d-none d-md-inline-flex" [routerLink]="['/']"
            >Nổi bật</a
          >
          <div class="swiper-container h-100">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide"
                *ngFor="let itemListTinTucNoiBat of listTinTucNoiBat"
              >
                <div class="news_home__main__wrapper">
                  <div class="news_home__main__desc px-md-3">
                    <div class="news_home__main__title mt-2 mt-md-5">
                      <div class="d-md-none mb-2 mb-md-0">
                        <a class="hashtag" [routerLink]="['/']">Nổi bật</a>
                      </div>
                      <a
                        class="text-white"
                        [routerLink]="['/']"
                        title="{{ itemListTinTucNoiBat.tieuDe }}"
                        >{{ itemListTinTucNoiBat.tieuDe }}</a
                      >
                    </div>
                    <div class="small mt-2">
                      {{ itemListTinTucNoiBat.thoiGianDangBai }}
                    </div>
                  </div>
                  <div class="news_home__main__image">
                    <img
                      class="swiper-lazy"
                      data-src="https://localhost:4100/{{
                        itemListTinTucNoiBat.anhBia
                      }}"
                      alt="{{ itemListTinTucNoiBat.tieuDe }}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="news_home__main__nav">
            <span
              class="news_home__main__nav-prev mdi mdi-chevron-left"
              role="button"
            ></span
            ><span
              class="news_home__main__nav-next mdi mdi-chevron-right"
              role="button"
            ></span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="news_home__sub bg-white">
          <div class="news_home__sub__header">
            <div class="news_home__sub__header__title">MỚI NHẤT</div>
            <div class="news_home__sub__nav">
              <div
                class="news_home__sub__nav-prev mdi mdi-chevron-up"
                role="button"
              ></div>
              <div
                class="news_home__sub__nav-next mdi mdi-chevron-down"
                role="button"
              ></div>
            </div>
          </div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="news_home__sub__desc">
                  <div class="news_home__sub__title">
                    <a
                      href="news-detail.html"
                      title="[THÔNG BÁO] DANH SÁCH GIẢNG VIÊN HƯỚNG DẪN ĐỒ ÁN TỐT NGHIỆP CĐTH 17"
                      >[THÔNG BÁO] DANH SÁCH GIẢNG VIÊN HƯỚNG DẪN ĐỒ ÁN TỐT
                      NGHIỆP CĐTH 17</a
                    >
                  </div>
                  <div class="small mt-2">24-06-2020</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="news_home__sub__desc">
                  <div class="news_home__sub__title">
                    <a
                      href="news-detail.html"
                      title="[THÔNG BÁO] LỊCH CHẤM THỰC TẬP TỐT NGHIỆP CĐTH 17"
                      >[THÔNG BÁO] LỊCH CHẤM THỰC TẬP TỐT NGHIỆP CĐTH 17</a
                    >
                  </div>
                  <div class="small mt-2">24-06-2020</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="news_home__sub__desc">
                  <div class="news_home__sub__title">
                    <a
                      href="news-detail.html"
                      title="[THÔNG BÁO] DANH SÁCH GIÁO VIÊN PHỤ TRÁCH HƯỚNG DẪN THỰC TẬP TỐT NGHIỆP CĐTH 17"
                      >[THÔNG BÁO] DANH SÁCH GIÁO VIÊN PHỤ TRÁCH HƯỚNG DẪN THỰC
                      TẬP TỐT NGHIỆP CĐTH 17</a
                    >
                  </div>
                  <div class="small mt-2">24-06-2020</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="news_home__sub__desc">
                  <div class="news_home__sub__title">
                    <a
                      href="news-detail.html"
                      title="[THÔNG BÁO] LỊCH HỌC KỲ PHỤ"
                      >[THÔNG BÁO] LỊCH HỌC KỲ PHỤ</a
                    >
                  </div>
                  <div class="small mt-2">24-06-2020</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="news_home__sub__desc">
                  <div class="news_home__sub__title">
                    <a
                      href="news-detail.html"
                      title="[THÔNG BÁO] LỊCH HỌC KỲ PHỤ T7 – CN (CẬP NHẬT)"
                      >[THÔNG BÁO] LỊCH HỌC KỲ PHỤ T7 – CN (CẬP NHẬT)</a
                    >
                  </div>
                  <div class="small mt-2">24-06-2020</div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="news_home__sub__desc">
                  <div class="news_home__sub__title">
                    <a
                      href="news-detail.html"
                      title="[THÔNG BÁO] ĐĂNG KÝ THAM GIA TUYỂN CHỌN ĐỘI TUYỂN OLYMPIC TIN HỌC CAO THẮNG 2018"
                      >[THÔNG BÁO] ĐĂNG KÝ THAM GIA TUYỂN CHỌN ĐỘI TUYỂN OLYMPIC
                      TIN HỌC CAO THẮNG 2018</a
                    >
                  </div>
                  <div class="small mt-2">24-06-2020</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gallery_home__wrapper bg__image__1 py-5">
  <div
    class="container-fluid"
    data-aos="zoom-in"
    data-aos-delay="300"
    data-aos-duration="1500"
  >
    <div class="gallery_home__slider swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            class="swiper-lazy"
            data-src="https://via.placeholder.com/600x400?text=01"
            alt="01"
          />
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-lazy"
            data-src="https://via.placeholder.com/600x400?text=02"
            alt="02"
          />
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-lazy"
            data-src="https://via.placeholder.com/600x400?text=03"
            alt="03"
          />
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-lazy"
            data-src="https://via.placeholder.com/600x400?text=04"
            alt="04"
          />
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-lazy"
            data-src="https://via.placeholder.com/600x400?text=05"
            alt="05"
          />
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-lazy"
            data-src="https://via.placeholder.com/600x400?text=06"
            alt="06"
          />
        </div>

        <div class="swiper-slide">
          <img
            class="swiper-lazy"
            data-src="https://via.placeholder.com/600x400?text=07"
            alt="07"
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<section class="partner_home__wrapper bg__light py-5">
  <div
    class="container-fluid"
    data-aos="fade-right"
    data-aos-delay="300"
    data-aos-duration="1500"
  >
    <div class="text-center">
      <div class="news_home__title text-uppercase font-weight-bold">
        Các trường liên kết
      </div>
    </div>
    <div class="partner_home__slider swiper-container mt-3">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide">
          <a
            class="partner_home__item bg-white d-flex align-items-center justify-content-center flex-column text-center text-reset p-2 p-md-3 m-md-2"
            href="https://caothang.edu.vn/"
            ><img
              class="swiper-lazy"
              data-src="https://via.placeholder.com/128"
              alt="Cao Đẳng Kỹ Thuật Cao Thắng"
            />
            <div class="partner_home__desc">Cao Đẳng Kỹ Thuật Cao Thắng</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a
            class="partner_home__item bg-white d-flex align-items-center justify-content-center flex-column text-center text-reset p-2 p-md-3 m-md-2"
            href="https://www.hcmus.edu.vn/"
            ><img
              class="swiper-lazy"
              data-src="https://via.placeholder.com/128"
              alt="Đại Học Khoa Học Tự Nhiên"
            />
            <div class="partner_home__desc">Đại Học Khoa Học Tự Nhiên</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a
            class="partner_home__item bg-white d-flex align-items-center justify-content-center flex-column text-center text-reset p-2 p-md-3 m-md-2"
            href="https://www.hcmut.edu.vn/vi"
            ><img
              class="swiper-lazy"
              data-src="https://via.placeholder.com/128"
              alt="Đại Học Bách Khoa"
            />
            <div class="partner_home__desc">Đại Học Bách Khoa</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a
            class="partner_home__item bg-white d-flex align-items-center justify-content-center flex-column text-center text-reset p-2 p-md-3 m-md-2"
            href="http://hcmute.edu.vn/"
            ><img
              class="swiper-lazy"
              data-src="https://via.placeholder.com/128"
              alt="Đại Học Sư Phạm Kỹ Thuật"
            />
            <div class="partner_home__desc">Đại Học Sư Phạm Kỹ Thuật</div>
          </a>
        </div>
        <div class="swiper-slide">
          <a
            class="partner_home__item bg-white d-flex align-items-center justify-content-center flex-column text-center text-reset p-2 p-md-3 m-md-2"
            href="https://www.uit.edu.vn/"
            ><img
              class="swiper-lazy"
              data-src="https://via.placeholder.com/128"
              alt="Đại Học Công Nghệ Thông Tin"
            />
            <div class="partner_home__desc">Đại Học Công Nghệ Thông Tin</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer
  class="footer_master bg__caothang__light border-bottom pt-4 pt-md-5 pb-2 pb-md-5 text-white"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <a [routerLink]="['/']"
          ><img class="footer_logo" src="assets/img/logo/logo_white.png"
        /></a>
        <nav class="footer_text mt-2 mt-lg-3">
          <li class="d-flex mt-2">
            <span class="mr-2 mdi mdi-map-marker"></span
            ><span
              >Lầu 7 (Dãy nhà F) 65 Huỳnh Thúc Kháng, P.Bến Nghé, Q.1, Tp Hồ Chí
              Minh</span
            >
          </li>
          <li class="d-flex mt-2">
            <span class="mr-2 mdi mdi-phone"></span
            ><span>+ 08.38212360 (ext-14)</span>
          </li>
          <li class="d-flex mt-2">
            <span class="mr-2 mdi mdi-email"></span
            ><span>cntt@caothang.edu.vn</span>
          </li>
        </nav>
      </div>
      <div class="col-lg">
        <div class="row">
          <div class="col-sm-6 col-md mt-3 mt-lg-0">
            <div class="footer_title text-uppercase">Sinh viên</div>
            <nav class="footer_text mt-2 mt-lg-3">
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']">Cựu sinh viên</a>
              </li>
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']">Thời khoá biểu</a>
              </li>
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']">E-Learning</a>
              </li>
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']">Tài liệu học tập</a>
              </li>
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']">Tra cứu</a>
              </li>
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']">Việc làm</a>
              </li>
            </nav>
          </div>
          <div class="col-sm-6 col-md mt-3 mt-lg-0">
            <div class="footer_title text-uppercase">Hợp tác & Nghiên cứu</div>
            <nav class="footer_text mt-2 mt-lg-3">
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']">Hợp tác Quốc tế</a>
              </li>
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']"
                  >Công trình khoa học</a
                >
              </li>
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']"
                  >Bảng vàng thành tích</a
                >
              </li>
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']"
                  >Doanh nghiệp đồng hành</a
                >
              </li>
            </nav>
          </div>
          <div class="col-sm-6 col-md mt-3 mt-lg-0">
            <div class="footer_title text-uppercase">Thông báo</div>
            <nav class="footer_text mt-2 mt-lg-3">
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']"
                  >Thông báo từ Trường</a
                >
              </li>
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']">Thông báo Bộ Môn</a>
              </li>
              <li class="mt-2">
                <a class="text-reset" [routerLink]="['/']">Thông báo từ Khoa</a>
              </li>
            </nav>
          </div>
          <div class="col-sm-6 col-md mt-3 mt-lg-0">
            <div class="footer_title text-uppercase">E-Learning</div>
            <div class="footer_text mt-2">
              Ứng dụng E - Learning của trường Cao Đẳng Kỹ Thuật Cao Thắng
            </div>
            <div class="mt-2 ml-n1">
              <a [routerLink]="['/']"
                ><img
                  class="m-1"
                  height="30"
                  src="assets/img/backgrounds/tai-appstore.jpg"
                  alt="Tải ứng dụng App Store" /></a
              ><a [routerLink]="['/']"
                ><img
                  class="m-1"
                  height="30"
                  src="assets/img/backgrounds/tai-google-play.jpg"
                  alt="Tải ứng dụng Google Play"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
