<section class="highlight_home__wrapper py-5 bg__light">
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-lg-block col-lg-3" style="z-index: 2">
                <div class="highlight_home__title mt-lg-4 pr-lg-4 py-lg-4 bg__light"><a
                        class="text-reset text-decoration-none text-uppercase" href="#">[THÔNG BÁO KHẨN] THỜI KHOÁ BIỂU
                        HỌC KỲ PHỤ VÉT KHOÁ 2017 (CẬP NHẬT)</a></div><small
                    class="highlight_home__postedtime text-muted">13/06/2020</small>
                <div class="highlight_home__desc mb-2 mb-lg-3">Cập nhật thời khoá biểu môn Cấu trúc dữ liệu và thuật
                    toán, bổ sung thêm môn Thực tập Phương pháp lập trình Hướng đối tượng.</div><a
                    class="m-0 py-2 px-4 highlight_home__read btn text-white bg__caothang" href="#">Xem chi tiết</a>
            </div>
            <div class="col-lg-9" style="z-index: 1">
                <div class="highlight_home__slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><a class="position-relative d-block" href="#"><img class="w-100"
                                    src="https://via.placeholder.com/1000x500.png?text=01" alt="image"><span
                                    class="highlight_home__boxlink bg__caothang mdi mdi-call-made d-flex justify-content-center align-items-center text-white position-absolute"></span></a>
                            <div class="d-lg-none mt-2">
                                <div class="highlight_home__title text-uppercase">[THÔNG BÁO KHẨN] THỜI KHOÁ BIỂU HỌC KỲ
                                    PHỤ VÉT KHOÁ 2017 (CẬP NHẬT)</div><small
                                    class="highlight_home__postedtime text-muted">13/06/2020</small>
                                <div class="highlight_home__desc">Cập nhật thời khoá biểu môn Cấu trúc dữ liệu và thuật
                                    toán, bổ sung thêm môn Thực tập Phương pháp lập trình Hướng đối tượng.</div>
                            </div>
                        </div>
                        <div class="swiper-slide"><a class="position-relative d-block" href="#"><img class="w-100"
                                    src="https://via.placeholder.com/1000x500.png?text=02" alt="image"><span
                                    class="highlight_home__boxlink bg__caothang mdi mdi-call-made d-flex justify-content-center align-items-center text-white position-absolute"></span></a>
                            <div class="d-lg-none mt-2">
                                <div class="highlight_home__title text-uppercase">[THÔNG BÁO 2] LỊCH THI LẦN 2 / HK1 /
                                    2019 – 2020 (CẬP NHẬT)</div><small
                                    class="highlight_home__postedtime text-muted">13/06/2020</small>
                                <div class="highlight_home__desc">02. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Ipsam, natus. Eos asperiores illo quam aliquid. Lorem ipsum dolor
                                    sit amet consectetur, adipisicing elit. Cumque, aspernatur!</div>
                            </div>
                        </div>
                        <div class="swiper-slide"><a class="position-relative d-block" href="#"><img class="w-100"
                                    src="https://via.placeholder.com/1000x500.png?text=03" alt="image"><span
                                    class="highlight_home__boxlink bg__caothang mdi mdi-call-made d-flex justify-content-center align-items-center text-white position-absolute"></span></a>
                            <div class="d-lg-none mt-2">
                                <div class="highlight_home__title text-uppercase">[THÔNG BÁO 3] LỊCH THI LẦN 2 / HK1 /
                                    2019 – 2020 (CẬP NHẬT)</div><small
                                    class="highlight_home__postedtime text-muted">13/06/2020</small>
                                <div class="highlight_home__desc">03. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Ipsam, natus. Eos asperiores illo quam aliquid.</div>
                            </div>
                        </div>
                        <div class="swiper-slide"><a class="position-relative d-block" href="#"><img class="w-100"
                                    src="https://via.placeholder.com/1000x500.png?text=04" alt="image"><span
                                    class="highlight_home__boxlink bg__caothang mdi mdi-call-made d-flex justify-content-center align-items-center text-white position-absolute"></span></a>
                            <div class="d-lg-none mt-2">
                                <div class="highlight_home__title text-uppercase">[THÔNG BÁO 4] LỊCH THI LẦN 2 / HK1 /
                                    2019 – 2020 (CẬP NHẬT)</div><small
                                    class="highlight_home__postedtime text-muted">13/06/2020</small>
                                <div class="highlight_home__desc">04. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Ipsam, natus. Eos asperiores illo quam aliquid.</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination d-lg-none position-static"></div>
                </div>
                <div class="highlight_home__slider__thumbnail swiper-container d-none d-lg-block">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="highlight_home__slider__item user-select-none px-3 py-2">
                                <div class="highlight_home__counter text-muted">01.</div>
                                <div class="highlight_home__sub_title">[THÔNG BÁO KHẨN] THỜI KHOÁ BIỂU HỌC KỲ PHỤ VÉT
                                    KHOÁ 2017 (CẬP NHẬT)</div>
                                <div class="highlight_home__sub_desc d-none">Cập nhật thời khoá biểu môn Cấu trúc dữ
                                    liệu và thuật toán, bổ sung thêm môn Thực tập Phương pháp lập trình Hướng đối tượng.
                                </div><small class="highlight_home__sub_postedtime text-muted">13/06/2020</small>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="highlight_home__slider__item user-select-none px-3 py-2">
                                <div class="highlight_home__counter text-muted">02.</div>
                                <div class="highlight_home__sub_title">[THÔNG BÁO 2] LỊCH THI LẦN 2 / HK1 / 2019 – 2020
                                    (CẬP NHẬT)</div>
                                <div class="highlight_home__sub_desc d-none">02. Lorem ipsum dolor, sit amet consectetur
                                    adipisicing.</div><small
                                    class="highlight_home__sub_postedtime text-muted">13/06/2020</small>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="highlight_home__slider__item user-select-none px-3 py-2">
                                <div class="highlight_home__counter text-muted">03.</div>
                                <div class="highlight_home__sub_title">[THÔNG BÁO 3] DANH SÁCH GIẢNG VIÊN HƯỚNG DẪN ĐỒ
                                    ÁN TỐT NGHIỆP CĐTH 17</div>
                                <div class="highlight_home__sub_desc d-none">03. Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Odio consectetur rerum sunt, inventore itaque neque.</div><small
                                    class="highlight_home__sub_postedtime text-muted">13/06/2020</small>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="highlight_home__slider__item user-select-none px-3 py-2">
                                <div class="highlight_home__counter text-muted">04.</div>
                                <div class="highlight_home__sub_title">[THÔNG BÁO 4] ĐIỀN THÔNG TIN THỰC TẬP TỐT NGHIỆP
                                    CĐN QTM 17</div>
                                <div class="highlight_home__sub_desc d-none">04. Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Unde architecto laboriosam, a enim sunt at nulla error inventore,
                                    reiciendis ab dicta facere, ex molestias.</div><small
                                    class="highlight_home__sub_postedtime text-muted">13/06/2020</small>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="job_home__wrapper bg__caothang__light py-5">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex">
                <div class="job_home__desc">
                    <div class="job_home__desc__title text-white text-center text-md-left text-uppercase"
                        style="font-weight: 900">Cơ hội việc làm</div>
                    <div class="text-justify text-white-50 text-md-left mt-2">MyWork đang nằm trong TOP 3 nhà tuyển dụng
                        trực tuyến tại Việt Nam và hướng đến mục tiêu trở thành đơn vị cung cấp dịch vụ tuyển dụng trực
                        tuyến số 1 trong thời gian tới; trở thành một sàn nghề nghiệp dễ sử dụng, truy cập và là một địa
                        chỉ không thể thiếu cho thị trường lao động Việt Nam.</div>
                </div>
            </div>
            <div class="col-md-6 col-xl-5 mt-3 mt-md-0">
                <div class="job_home__title text-uppercase text-center font-weight-bold position-relative">
                    <div class="job_home__desc text-white bg__caothang__light d-none d-md-inline-block px-3">Việc làm
                    </div>
                    <hr class="m-0">
                </div>
                <div class="job_home__slider swiper-container mt-3 mt-md-2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="job_home__slider__item d-flex"><a
                                    class="job_home__logo_company p-1 p-md-3 d-flex justify-content-center align-items-center border"
                                    href="#"><img class="swiper-lazy"
                                        data-src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/29262093_922577841233369_3777406020091904000_o.png?_nc_cat=106&amp;_nc_sid=174925&amp;_nc_ohc=ROgKRh_bcloAX8qs2I_&amp;_nc_ht=scontent.fvca1-1.fna&amp;oh=ee22198555a1a3b89a1b02a2743e7981&amp;oe=5F1830F2"
                                        alt="Logo Cao Thắng"></a>
                                <div class="ml-2 ml-md-3"><a class="text-white mb-0 job_home__sub_title" href="#">[TUYỂN
                                        DỤNG] CÔNG TY CỔ PHẦN TIN HỌC MINH THÔNG</a>
                                    <div class="job_home__sub_desc"></div>
                                    <div class="small mdi mdi-clock-outline text-white-50"><span
                                            class="ml-1">23/06/2020</span></div>
                                    <div class="text-white-50 mt-1">Vị trí: <strong class="text-white">Front End
                                            developer</strong></div>
                                    <div class="job_home__skill mt-1"><span class="badge badge-success">Java</span><span
                                            class="badge badge-success">Phần mềm</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="job_home__slider__item d-flex"><a
                                    class="job_home__logo_company p-1 p-md-3 d-flex justify-content-center align-items-center border"
                                    href="#"><img class="swiper-lazy"
                                        data-src="https://cdn.itviec.com/employers/fpt-software/logo/w170/mir3HT3xtedbECJY5jVeRRgV/fpt-software-logo.png"
                                        alt="Logo FPT Software"></a>
                                <div class="ml-2 ml-md-3"><a class="text-white mb-0 job_home__sub_title" href="#">[TUYỂN
                                        DỤNG] FPT Software</a>
                                    <div class="job_home__sub_desc"></div>
                                    <div class="small mdi mdi-clock-outline text-white-50"><span
                                            class="ml-1">23/06/2020</span></div>
                                    <div class="text-white-50 mt-1">Vị trí: <strong class="text-white">Fullstack
                                            developer</strong></div>
                                    <div class="job_home__skill mt-1"><span
                                            class="badge badge-success">Javascript</span><span
                                            class="badge badge-success">Phần mềm</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mt-3 mb-0">
                <div class="d-flex align-items-center justify-content-between"><a class="text-white-50" href="#"
                        style="font-size: 15px">Xem tất cả</a>
                    <div class="job_home__slider__navigation text-white-50"><span
                            class="prev mdi mdi-chevron-left mdi-24px"></span><span
                            class="next mdi mdi-chevron-right mdi-24px"></span></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature_home__wrapper bg__light py-5">
    <div class="container-fluid" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1500">
        <div class="text-center">
            <div class="news_home__title text-uppercase font-weight-bold mb-3">Tiện ích sinh viên</div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-3 feature_home__item"><a
                    class="feature_home__box card border-0 py-3 px-2 py-sm-5 px-sm-3 my-2 my-sm-3 text-center text-decoration-none text-uppercase text-white"
                    href="#">
                    <div class="feature_home__icon mdi mdi-stack-overflow"></div>
                    <div class="feature_home__text mt-2">Tài liệu học tập</div>
                </a></div>
            <div class="col-6 col-lg-3 feature_home__item"><a
                    class="feature_home__box card border-0 py-3 px-2 py-sm-5 px-sm-3 my-2 my-sm-3 text-center text-decoration-none text-uppercase text-white"
                    href="#">
                    <div class="feature_home__icon mdi mdi-folder-account"></div>
                    <div class="feature_home__text mt-2">Tra cứu</div>
                </a></div>
            <div class="col-6 col-lg-3 feature_home__item"><a
                    class="feature_home__box card border-0 py-3 px-2 py-sm-5 px-sm-3 my-2 my-sm-3 text-center text-decoration-none text-uppercase text-white"
                    href="#">
                    <div class="feature_home__icon mdi mdi-near-me"></div>
                    <div class="feature_home__text mt-2">Cơ hội việc làm</div>
                </a></div>
            <div class="col-6 col-lg-3 feature_home__item"><a
                    class="feature_home__box card border-0 py-3 px-2 py-sm-5 px-sm-3 my-2 my-sm-3 text-center text-decoration-none text-uppercase text-white"
                    href="#">
                    <div class="feature_home__icon mdi mdi-laptop"></div>
                    <div class="feature_home__text mt-2">E-learning</div>
                </a></div>
            <div class="col-6 col-lg-3 feature_home__item"><a
                    class="feature_home__box card border-0 py-3 px-2 py-sm-5 px-sm-3 my-2 my-sm-3 text-center text-decoration-none text-uppercase text-white"
                    href="#">
                    <div class="feature_home__icon mdi mdi-school"></div>
                    <div class="feature_home__text mt-2">Cựu sinh viên</div>
                </a></div>
            <div class="col-6 col-lg-3 feature_home__item"><a
                    class="feature_home__box card border-0 py-3 px-2 py-sm-5 px-sm-3 my-2 my-sm-3 text-center text-decoration-none text-uppercase text-white"
                    href="#">
                    <div class="feature_home__icon mdi mdi-calendar-check"></div>
                    <div class="feature_home__text mt-2">Lịch thi</div>
                </a></div>
            <div class="col-6 col-lg-3 feature_home__item"><a
                    class="feature_home__box card border-0 py-3 px-2 py-sm-5 px-sm-3 my-2 my-sm-3 text-center text-decoration-none text-uppercase text-white"
                    href="#">
                    <div class="feature_home__icon mdi mdi-domain"></div>
                    <div class="feature_home__text mt-2">Trung tâm Tin học</div>
                </a></div>
            <div class="col-6 col-lg-3 feature_home__item"><a
                    class="feature_home__box card border-0 py-3 px-2 py-sm-5 px-sm-3 my-2 my-sm-3 text-center text-decoration-none text-uppercase text-white"
                    href="#">
                    <div class="feature_home__icon mdi mdi-layers-triple-outline"></div>
                    <div class="feature_home__text mt-2">Học phần</div>
                </a></div>
        </div>
    </div>
</section>
<section class="quote_home__wrapper bg__image__2 shadow py-5">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1500">
        <div class="row">
            <div class="col-12">
                <blockquote class="quote_home__blockquote blockquote border-0 m-0">
                    <div class="h2 mb-3 text-white text-justify text-md-center">Tiền thân của khoa Công nghệ Thông tin
                        là bộ môn Tin học (tháng 08 năm 1998) thuộc Khoa Điện Tử – Tin Học trường Cao Đẳng Kỹ Thuật Cao
                        Thắng Thành lập vào tháng 01 năm 2020.</div>
                    <footer class="blockquote-footer text-white text-right text-md-center">Trích lược sử hình thành
                        <cite title="khoa Công nghệ Thông tin">khoa Công nghệ Thông tin</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<section class="news_home__wrapper bg__light py-5">
    <div class="container-fluid" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1500">
        <div class="row">
            <div class="col-12 text-center">
                <div class="news_home__title text-uppercase font-weight-bold">tin tức</div>
            </div>
            <div class="col-lg-8 mt-4">
                <div class="news_home__main text-white p-3"><a class="hashtag d-none d-md-inline-flex" href="#">Nổi
                        bật</a>
                    <div class="swiper-container h-100">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="news_home__main__wrapper">
                                    <div class="news_home__main__desc px-md-3">
                                        <div class="news_home__main__title mt-2 mt-md-5">
                                            <div class="d-md-none mb-2 mb-md-0"><a class="hashtag" href="#">Nổi bật</a>
                                            </div><a class="text-white" href="#"
                                                title="TUYỂN SINH CAO ĐẲNG CÔNG NGHỆ THÔNG TIN CHÍNH QUY NĂM 2020">TUYỂN
                                                SINH CAO ĐẲNG CÔNG NGHỆ THÔNG TIN CHÍNH QUY NĂM 2020</a>
                                        </div>
                                        <div class="small mt-2">24-06-2020</div>
                                    </div>
                                    <div class="news_home__main__image"><img class="swiper-lazy"
                                            data-src="http://cntt.caothang.edu.vn/wp-content/uploads/2019/12/banner-42020.png"
                                            alt="Hình ảnh"></div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news_home__main__wrapper">
                                    <div class="news_home__main__desc px-md-3">
                                        <div class="news_home__main__title mt-2 mt-md-5">
                                            <div class="d-md-none mb-2 mb-md-0"><a class="hashtag" href="#">Nổi bật</a>
                                            </div><a class="text-white" href="#"
                                                title="TUYỂN SINH CAO ĐẲNG SỬA CHỮA LẮP RÁP MÁY TÍNH CHÍNH QUY NĂM 2020">TUYỂN
                                                SINH CAO ĐẲNG SỬA CHỮA LẮP RÁP MÁY TÍNH CHÍNH QUY NĂM 2020</a>
                                        </div>
                                        <div class="small mt-2">24-06-2020</div>
                                    </div>
                                    <div class="news_home__main__image"><img class="swiper-lazy"
                                            data-src="http://cntt.caothang.edu.vn/wp-content/uploads/2019/12/banner-32020.png"
                                            alt="Hình ảnh"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news_home__main__nav"><span class="news_home__main__nav-prev mdi mdi-chevron-left"
                            role="button"></span><span class="news_home__main__nav-next mdi mdi-chevron-right"
                            role="button"></span></div>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="news_home__sub bg-white">
                    <div class="news_home__sub__header">
                        <div class="news_home__sub__header__title">MỚI NHẤT</div>
                        <div class="news_home__sub__nav">
                            <div class="news_home__sub__nav-prev mdi mdi-chevron-up" role="button"></div>
                            <div class="news_home__sub__nav-next mdi mdi-chevron-down" role="button"></div>
                        </div>
                    </div>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="news_home__sub__desc">
                                    <div class="news_home__sub__title"><a href="news-detail.html"
                                            title="[THÔNG BÁO] DANH SÁCH GIẢNG VIÊN HƯỚNG DẪN ĐỒ ÁN TỐT NGHIỆP CĐTH 17">[THÔNG
                                            BÁO] DANH SÁCH GIẢNG VIÊN HƯỚNG DẪN ĐỒ ÁN TỐT NGHIỆP CĐTH 17</a></div>
                                    <div class="small mt-2">24-06-2020</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news_home__sub__desc">
                                    <div class="news_home__sub__title"><a href="news-detail.html"
                                            title="[THÔNG BÁO] LỊCH CHẤM THỰC TẬP TỐT NGHIỆP CĐTH 17">[THÔNG BÁO] LỊCH
                                            CHẤM THỰC TẬP TỐT NGHIỆP CĐTH 17</a></div>
                                    <div class="small mt-2">24-06-2020</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news_home__sub__desc">
                                    <div class="news_home__sub__title"><a href="news-detail.html"
                                            title="[THÔNG BÁO] DANH SÁCH GIÁO VIÊN PHỤ TRÁCH HƯỚNG DẪN THỰC TẬP TỐT NGHIỆP CĐTH 17">[THÔNG
                                            BÁO] DANH SÁCH GIÁO VIÊN PHỤ TRÁCH HƯỚNG DẪN THỰC TẬP TỐT NGHIỆP CĐTH 17</a>
                                    </div>
                                    <div class="small mt-2">24-06-2020</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news_home__sub__desc">
                                    <div class="news_home__sub__title"><a href="news-detail.html"
                                            title="[THÔNG BÁO] LỊCH HỌC KỲ PHỤ">[THÔNG BÁO] LỊCH HỌC KỲ PHỤ</a></div>
                                    <div class="small mt-2">24-06-2020</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news_home__sub__desc">
                                    <div class="news_home__sub__title"><a href="news-detail.html"
                                            title="[THÔNG BÁO] LỊCH HỌC KỲ PHỤ T7 – CN (CẬP NHẬT)">[THÔNG BÁO] LỊCH HỌC
                                            KỲ PHỤ T7 – CN (CẬP NHẬT)</a></div>
                                    <div class="small mt-2">24-06-2020</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="news_home__sub__desc">
                                    <div class="news_home__sub__title"><a href="news-detail.html"
                                            title="[THÔNG BÁO] ĐĂNG KÝ THAM GIA TUYỂN CHỌN ĐỘI TUYỂN OLYMPIC TIN HỌC CAO THẮNG 2018">[THÔNG
                                            BÁO] ĐĂNG KÝ THAM GIA TUYỂN CHỌN ĐỘI TUYỂN OLYMPIC TIN HỌC CAO THẮNG
                                            2018</a></div>
                                    <div class="small mt-2">24-06-2020</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery_home__wrapper bg__image__1 py-5">
    <div class="container-fluid" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="1500">
        <div class="gallery_home__slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="swiper-lazy"
                        data-src="https://via.placeholder.com/600x400?text=01" alt="01"></div>
                <div class="swiper-slide"><img class="swiper-lazy"
                        data-src="https://via.placeholder.com/600x400?text=02" alt="02"></div>
                <div class="swiper-slide"><img class="swiper-lazy"
                        data-src="https://via.placeholder.com/600x400?text=03" alt="03"></div>
                <div class="swiper-slide"><img class="swiper-lazy"
                        data-src="https://via.placeholder.com/600x400?text=04" alt="04"></div>
                <div class="swiper-slide"><img class="swiper-lazy"
                        data-src="https://via.placeholder.com/600x400?text=05" alt="05"></div>
                <div class="swiper-slide"><img class="swiper-lazy"
                        data-src="https://via.placeholder.com/600x400?text=06" alt="06"></div>
                <div class="swiper-slide"><img class="swiper-lazy"
                        data-src="https://via.placeholder.com/600x400?text=07" alt="07"></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<section class="partner_home__wrapper bg__light py-5">
    <div class="container-fluid" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1500">
        <div class="text-center">
            <div class="news_home__title text-uppercase font-weight-bold">Các trường liên kết</div>
        </div>
        <div class="partner_home__slider swiper-container mt-3">
            <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><a
                        class="partner_home__item bg-white d-flex align-items-center justify-content-center flex-column text-center text-reset p-2 p-md-3 m-md-2"
                        href="https://caothang.edu.vn/"><img class="swiper-lazy"
                            data-src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/18118509_1855268601400040_1557862388781110452_n.png?_nc_cat=104&amp;_nc_sid=09cbfe&amp;_nc_ohc=UHXgYDxN8JQAX8pE5Rd&amp;_nc_ht=scontent-hkt1-1.xx&amp;oh=d24ad199177ce6c42ebfeff8543d5dcd&amp;oe=5F16A928"
                            alt="Cao Đẳng Kỹ Thuật Cao Thắng">
                        <div class="partner_home__desc">Cao Đẳng Kỹ Thuật Cao Thắng</div>
                    </a></div>
                <div class="swiper-slide"><a
                        class="partner_home__item bg-white d-flex align-items-center justify-content-center flex-column text-center text-reset p-2 p-md-3 m-md-2"
                        href="https://www.hcmus.edu.vn/"><img class="swiper-lazy"
                            data-src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/35189853_2076230709311065_3947220011839389696_o.png?_nc_cat=102&amp;_nc_sid=09cbfe&amp;_nc_ohc=qr4Z5-G8HNMAX9LGfvC&amp;_nc_ht=scontent.fvca1-1.fna&amp;oh=876295f2dfb94af7b4ae990087e0fdcb&amp;oe=5F182AA6"
                            alt="Đại Học Khoa Học Tự Nhiên">
                        <div class="partner_home__desc">Đại Học Khoa Học Tự Nhiên</div>
                    </a></div>
                <div class="swiper-slide"><a
                        class="partner_home__item bg-white d-flex align-items-center justify-content-center flex-column text-center text-reset p-2 p-md-3 m-md-2"
                        href="https://www.hcmut.edu.vn/vi"><img class="swiper-lazy"
                            data-src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/68725418_110355766994876_4813099381651668992_n.jpg?_nc_cat=101&amp;_nc_sid=09cbfe&amp;_nc_ohc=RHcM1FOW6BsAX9gKOnY&amp;_nc_ht=scontent.fvca1-2.fna&amp;oh=d95fe87a8e75c25ee4fa456c969f1872&amp;oe=5F1811F3"
                            alt="Đại Học Bách Khoa">
                        <div class="partner_home__desc">Đại Học Bách Khoa</div>
                    </a></div>
                <div class="swiper-slide"><a
                        class="partner_home__item bg-white d-flex align-items-center justify-content-center flex-column text-center text-reset p-2 p-md-3 m-md-2"
                        href="http://hcmute.edu.vn/"><img class="swiper-lazy"
                            data-src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/29511446_1740233352681929_3480930632528658771_n.jpg?_nc_cat=109&amp;_nc_sid=09cbfe&amp;_nc_ohc=Lhpo-r5JB8MAX_6IWtl&amp;_nc_ht=scontent-hkt1-1.xx&amp;oh=b048d9191e67147dcb45b9c45d33f44a&amp;oe=5F158995"
                            alt="Đại Học Sư Phạm Kỹ Thuật">
                        <div class="partner_home__desc">Đại Học Sư Phạm Kỹ Thuật</div>
                    </a></div>
                <div class="swiper-slide"><a
                        class="partner_home__item bg-white d-flex align-items-center justify-content-center flex-column text-center text-reset p-2 p-md-3 m-md-2"
                        href="https://www.uit.edu.vn/"><img class="swiper-lazy"
                            data-src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/399245_381779535247926_46616087_n.jpg?_nc_cat=106&amp;_nc_sid=09cbfe&amp;_nc_ohc=0PQ3lUiwKOoAX_A4dRv&amp;_nc_ht=scontent-hkt1-1.xx&amp;oh=c9493d83bdb3a40f4c249f7f547c7129&amp;oe=5F18969C"
                            alt="Đại Học Công Nghệ Thông Tin">
                        <div class="partner_home__desc"> Đại Học Công Nghệ Thông Tin</div>
                    </a></div>
            </div>
        </div>
    </div>
</section>
<footer class="footer_master bg__caothang__light border-bottom pt-4 pt-md-5 pb-2 pb-md-5 text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"><a href="#"><img class="footer_logo" src="assets/img/logo/logo_white.png"></a>
                <nav class="footer_text mt-2 mt-lg-3">
                    <li class="d-flex mt-2"><span class="mr-2 mdi mdi-map-marker"></span><span>Lầu 7 (Dãy nhà F) 65
                            Huỳnh Thúc Kháng, P.Bến Nghé, Q.1, Tp Hồ Chí Minh</span></li>
                    <li class="d-flex mt-2"><span class="mr-2 mdi mdi-phone"></span><span>+ 08.38212360 (ext-14)</span>
                    </li>
                    <li class="d-flex mt-2"><span class="mr-2 mdi mdi-email"></span><span>cntt@caothang.edu.vn</span>
                    </li>
                </nav>
            </div>
            <div class="col-lg">
                <div class="row">
                    <div class="col-sm-6 col-md mt-3 mt-lg-0">
                        <div class="footer_title text-uppercase">Sinh viên</div>
                        <nav class="footer_text mt-2 mt-lg-3">
                            <li class="mt-2"><a class="text-reset" href="#">Cựu sinh viên</a></li>
                            <li class="mt-2"><a class="text-reset" href="#">Thời khoá biểu</a></li>
                            <li class="mt-2"><a class="text-reset" href="#">E-Learning</a></li>
                            <li class="mt-2"><a class="text-reset" href="#">Tài liệu học tập</a></li>
                            <li class="mt-2"><a class="text-reset" href="#">Tra cứu</a></li>
                            <li class="mt-2"><a class="text-reset" href="#">Việc làm</a></li>
                        </nav>
                    </div>
                    <div class="col-sm-6 col-md mt-3 mt-lg-0">
                        <div class="footer_title text-uppercase">Hợp tác & Nghiên cứu</div>
                        <nav class="footer_text mt-2 mt-lg-3">
                            <li class="mt-2"><a class="text-reset" href="#">Hợp tác Quốc tế</a></li>
                            <li class="mt-2"><a class="text-reset" href="#">Công trình khoa học</a></li>
                            <li class="mt-2"><a class="text-reset" href="#">Bảng vàng thành tích</a></li>
                            <li class="mt-2"><a class="text-reset" href="#">Doanh nghiệp đồng hành</a></li>
                        </nav>
                    </div>
                    <div class="col-sm-6 col-md mt-3 mt-lg-0">
                        <div class="footer_title text-uppercase">Thông báo</div>
                        <nav class="footer_text mt-2 mt-lg-3">
                            <li class="mt-2"><a class="text-reset" href="#">Thông báo từ Trường</a></li>
                            <li class="mt-2"><a class="text-reset" href="#">Thông báo Bộ Môn</a></li>
                            <li class="mt-2"><a class="text-reset" href="#">Thông báo từ Khoa</a></li>
                        </nav>
                    </div>
                    <div class="col-sm-6 col-md mt-3 mt-lg-0">
                        <div class="footer_title text-uppercase">E-Learning</div>
                        <div class="footer_text mt-2">Ứng dụng E - Learning của trường Cao Đẳng Kỹ Thuật Cao Thắng</div>
                        <div class="mt-2 ml-n1"><a href="#"><img class="m-1" height="30"
                                    src="assets/img/backgrounds/tai-appstore.jpg" alt="Tải ứng dụng App Store"></a><a
                                href="#"><img class="m-1" height="30" src="assets/img/backgrounds/tai-google-play.jpg"
                                    alt="Tải ứng dụng Google Play"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>