<app-modal class="modal_chucnang__wrapper" id="ctdt_chitieudaotao">
  <div (click)="closeModal('ctdt_chitieudaotao')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container mt-3">

    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý chỉ tiêu đào tạo</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <form [formGroup]="addForm" class="form-inline">
              <div class="form-group">
                <label for="bac" class="col-sm-2  col-form-label">Bậc </label>
                <div class="col-sm-4">
                  <select id="bac" class="form-control" formControlName="bac" (change)="changed()">
                    <option value="">Select..</option>
                    <option *ngFor="let bac of bacList" [ngValue]=bac.maBac> {{bac.tenBac }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="loai" class="col-sm-4 mr-sm-2 col-form-label">Loại hình đào tạo </label>
                <div class="col-sm-4">
                  <select id="loai" class="form-control " formControlName="loaiHinhDaoTao"
                    (change)="onChangeLoaiHinhDaoTao()">
                    <option value="">Select...</option>
                    <option *ngFor="let loai of loaiHinhList" [ngValue]=loai.maLoai> {{loai.tenLoai }}</option>
                  </select>
                </div>

              </div>
              <div class="form-group">
                <label for="khoa" class="col-sm-2 mr-sm-2 col-form-label">Khoá </label>
                <div class="col-sm-4">
                  <input class="form-control" id="khoa" formControlName="khoa" (change)="onChangeKhoaHoc()"
                    type="number" min="14" value="15">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="container mt-3 bg-white modal_chucnang__box border rounded p-4 mt-5">
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header alert alert-warning">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3>
                  {{ msg }}
                </h3>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let item of msgList">{{ item.msg }} </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="sinhVienThongBao" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content" *ngIf="dsSinhVienThemThatBai?.length > 0">
              <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="exampleModalLongTitle">Danh sách thêm thất bại </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="modal_chucnang__table table table-hover table table-bordered ">
                  <thead class="bg__caothang text-white">
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Họ tên</th>
                      <th scope="col">Mã sinh viên</th>
                      <th scope="col">Ngày sinh</th>
                      <th scope="col">Lớp học</th>
                      <th scope="col">Xóa</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dsSinhVienThemThatBai; index as i">
                      <th scope="row">{{ i+ 1 }}</th>
                      <td>{{item.data.ho}} {{ item.data.ten }}</td>
                      <td>
                        {{ item.data.maSinhVien }}
                      </td>
                      <td>
                        {{item.data.ngaySinh}}
                      </td>
                      <td>
                        <form [formGroup]="dsLopFormArray?.controls[i]">
                          <select class="form-control" formControlName="maLopHoc">
                            <option *ngFor="let loai of lopHocs" [ngValue]=loai.maLopHoc> {{loai.tenVietTat }}</option>
                          </select>
                        </form>
                      </td>
                      <td>
                        <button class="btn btn-outline-danger" (click)="xoaSinhVien_tuDanhSachThatBai(i)"><i
                            class="fa fa-ban"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button class="btn btn-outline-success" data-dismiss="modal" (click)="capNhat_LopChoSinhVien()"><i class="fa fa-pen"></i> Cập
                  nhật</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->

        <!--Chi tiet LopHocPhan-->
        <div class="modal fade" id="chiTiet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header alert alert-success">
                <h5 class="modal-title" id="exampleModalLongTitle">Danh sách lớp học phần</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ng-container>
                  <form [formGroup]="hocKiForm">
                    <label for="hocKi">Chọn học kì</label>
                    <select id="hocKi" class="form-control" formControlName="hocKi"
                      (change)="onChangeLopHocPhan_theoHocKi()">
                      <option *ngFor="let loai of hocKis" [ngValue]=loai.maHK> {{loai.tenHK }}</option>
                    </select>
                  </form>
                </ng-container>
                <table class="modal_chucnang__table table table-hover table table-bordered"
                  *ngIf="dsLHPTam?.length > 0">
                  <thead class="bg__caothang text-white">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tên lớp học phần</th>
                      <th scope="col">Mã lớp</th>
                      <th scope="col">Học kì</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <ng-container *ngFor="let item of lopNganhs">
                      <ng-container *ngFor="let lop of item.dsLop, index as i"> -->
                    <tr *ngFor="let item of dsLHPTam, index as i">
                      <th scope="row">{{ i+1 }}</th>
                      <td>
                        {{  item.tenLopHocPhan }}
                      </td>
                      <td>
                        {{ item.maLopHoc }}
                      </td>
                      <td>
                        {{ item.hocKi }}
                      </td>
                    </tr>
                    <!-- </ng-container> -->
                    <!-- </ng-container> -->
                  </tbody>
                </table>
                <ng-container *ngIf="dsLHPTam?.length == 0">Không có lớp học phần nào</ng-container>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="lopHocPhan" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header alert alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="hocKiForm">
                  <label for="hocKi">Chọn học kì</label>
                  <select id="hocKi" class="form-control" formControlName="hocKi">
                    <option *ngFor="let loai of hocKis" [ngValue]=loai.maHK> {{loai.tenHK }}</option>
                  </select>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary" (click)="generateLopHocPhan()">Tạo </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Execl Danh sách sinh viên-->
        <div class="modal fade" id="dsSV" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header alert alert-warning">
                <h5 class="modal-title" id="exampleModalLongTitle">Nhập danh sách sinh viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>

              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="excelSV">Nhập File Excel</label>
                  <input type="file" class="form-control-file" id="excelSV" (change)="onChangeSinhVien($event)"
                    #inputFile>
                </div>
                <hr>
                <div class="row center">
                  <div class="col-6">
                    <button type="button" data-toggle="modal" data-target="#sinhVienThongBao"
                      (click)="onClickImportExeclSinhVien()" data-dismiss="modal" class="btn btn-outline-success">
                      <i class="fa fa-file-download"></i> Import
                    </button></div>
                  <div class="col-6">
                    <button class="btn btn-outline-danger" (click)="removeData()"><i class="fa fa-trash"></i> Xoá tất cả
                    </button>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-12 text-center">
                    <h5>Danh sách sinh viên từ EXCEL</h5>
                  </div>
                  <hr>
                  <table class="modal_chucnang__table table table-hover table table-bordered ">
                    <thead class="bg__caothang text-white">
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Họ tên</th>
                        <th scope="col">Mã sinh viên</th>
                        <th scope="col">Ngày sinh</th>
                        <th scope="col">Xóa</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of dsSinhVien; index as i">
                        <th scope="row">{{ i+ 1 }}</th>
                        <td>{{item.ho}} {{ item.ten }}</td>
                        <td>
                          {{ item.maSinhVien }}
                        </td>
                        <td>
                          {{item.ngaySinh}}
                        </td>
                        <td>
                          <button class="btn btn-outline-danger" (click)="xoaSinhVien_tuDanhSachExcel(i)"><i
                              class="fa fa-ban"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="modal-footer">
                <div>

                </div>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h1 class="text-center text-white">Quản lý chỉ tiêu đào tạo</h1>
          </div>

          <div class="col-sm-12 table-responsive">
            <div class="row">
              <div class="col-sm-6 table-responsive">
                <table class="modal_chucnang__table table table-hover table table-bordered ">
                  <thead>
                    <tr>
                      <th colspan="4">Danh sách Ngành/Nghề</th>
                    </tr>
                  </thead>
                  <thead class="bg__caothang text-white">
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Tên Ngành</th>
                      <th scope="col">Chỉ tiêu</th>
                      <th scope="col">Xóa chỉ tiêu</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let nganh of nganhtamlist;index as i"
                      [ngClass]="{'alert alert-success':nganh.maNganhNghe == maNganhXepLop}"
                      (click)="onClickLopTheoNganh(nganh.maNganhNghe, nganh.maBac)">
                      <th scope="row">{{ i+ 1 }}</th>
                      <td> {{nganh.tenNganhNghe }}</td>
                      <td>
                        <div class="col-sm-12" *ngFor="let item of chiTieuList.controls; index as j"
                          [formGroup]="chiTieuList.controls[j]">
                          <input *ngIf="nganh.maNganhNghe == item.get('maNganh').value" type="number"
                            formControlName="soChiTieu" class="form-control" />
                        </div>
                      </td>
                      <td>
                        <button type="button" class="btn btn-outline-danger"
                          (click)="onClickResetLopHoc(nganh.maNganhNghe, nganh.maBac)"><i
                            class="fa fa-ban"></i></button>
                      </td>
                    </tr>

                    <tr>

                      <td colspan="4" *ngIf="nganhtamlist?.length > 0">
                        <button type="button" class="btn btn-outline-primary" (click)="onClickCreate()"><i
                            class="fa fa-plus-circle"></i>Tạo thêm
                          lớp</button>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-6 table-responsive">
                <table class="modal_chucnang__table table table-hover table table-bordered">
                  <thead>
                    <tr>
                      <th colspan="5">Danh sách lớp theo: <h4>{{ tenNganhXepLop }}</h4>
                      </th>
                    </tr>
                  </thead>
                  <thead class="bg__caothang text-white">
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Tên lớp</th>
                      <th scope="col">Sỉ số</th>
                      <th scope="col">Lớp học phần</th>
                      <th scope="col">DSSV</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <ng-container *ngFor="let item of lopNganhs">
                      <ng-container *ngFor="let lop of item.dsLop, index as i"> -->
                    <tr *ngFor="let item of lopTams, index as i ">

                      <th scope="row">{{ i+1 }}</th>
                      <td>
                        {{ item.tenLop }}
                      </td>
                      <td>
                        {{ item.siSo }}
                      </td>
                      <td>
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#chiTiet"
                          (click)="onClickLayLopHocPhan_theoMaLop(item.maLopHoc)"><i class="fa fa-list"></i>
                          Xem</button>
                      </td>
                      <td>
                        <button type="button" class="modal_chucnang__button btn btn-outline-success" data-toggle="modal"
                          data-target="#dsSV" (click)="onClickThemDSSV(item.maLopHoc)"><i class="fa fa-file-excel"></i>
                          Import
                        </button>
                      </td>
                    </tr>
                    <!-- </ng-container> -->
                    <!-- </ng-container> -->
                    <tr>
                    </tr>
                  </tbody>
                  <tfoot>
                    <td colspan="5" *ngIf="lopTams?.length > 0">
                      <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                        data-target="#lopHocPhan"><i class="fa fa-plus-circle"></i> Tạo lớp học phần</button>
                    </td>
                  </tfoot>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</app-modal>
