<div class="bg__caothang__light">
    <app-breadcrumb></app-breadcrumb>
    <section class="document_page__wrapper mt-4">
        <div class="container-fluid bg-white shadow rounded-lg">
            <div class="px-3 py-4 p-lg-5">
                <div class="row document_page__form justify-content-center">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col">
                                <input class="form-control mb-3 mb-md-0" placeholder="Nhập từ khoá bài viết bạn muốn tìm...">
                            </div>
                            <div class="col-md-3 col-lg-2">
                                <select class="form-control mb-3 mb-md-0">
                                    <option class="d-none">Khoá học</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-lg-2">
                                <select class="form-control mb-3 mb-md-0">
                                    <option class="d-none">Bậc</option>
                                    <option>Cao Đẳng</option>
                                    <option>Cao đẳng nghề</option>
                                </select>
                            </div>
                            <div class="col-md-auto">
                                <button class="w-100 btn btn-primary bg__caothang px-md-4 px-lg-5">Tìm kiếm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-white shadow rounded-lg mt-4">
            <div class="px-3 py-4 p-lg-5">
                <div class="row justify-content-center">
                    <div class="col-md-11">
                        <div class="h5 m-0">Có 15 kết quả</div>
                        <div class="table-responsive-sm mt-4">
                            <table class="document_page__table table table-hover border">
                                <thead class="bg__caothang text-white">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="text-left" scope="col">Tiêu đề</th>
                                        <th scope="col">Thời gian đăng</th>
                                        <th scope="col">Người đăng</th>
                                        <th scope="col">Tuỳ chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td class="text-left"><a class="d-block text-reset" href="#">Tài Liệu 1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iure, voluptatem possimus pariatur vero dolor? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus excepturi, exercitationem in dolorum dignissimos expedita accusantium tenetur officia repellat voluptates eos ullam corrupti voluptate?</a></td>
                                        <td>20:00 06/01/2020</td>
                                        <td>Nguyễn Thành Lộc</td>
                                        <td style="min-width: 100px"><a class="btn btn-primary" href="#">Tải về</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td class="text-left"><a class="d-block text-reset" href="#">Tài Liệu 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iure, voluptatem possimus pariatur vero dolor? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus excepturi, exercitationem in dolorum dignissimos expedita accusantium tenetur officia repellat voluptates eos ullam corrupti voluptate?</a></td>
                                        <td>21:01 06/02/2020</td>
                                        <td>Nguyễn Thành Lộc</td>
                                        <td style="min-width: 100px"><a class="btn btn-primary" href="#">Tải về</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td class="text-left"><a class="d-block text-reset" href="#">Tài Liệu 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iure, voluptatem possimus pariatur vero dolor? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus excepturi, exercitationem in dolorum dignissimos expedita accusantium tenetur officia repellat voluptates eos ullam corrupti voluptate?</a></td>
                                        <td>22:02 06/03/2020</td>
                                        <td>Nguyễn Thành Lộc</td>
                                        <td style="min-width: 100px"><a class="btn btn-primary" href="#">Tải về</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td class="text-left"><a class="d-block text-reset" href="#">Tài Liệu 4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iure, voluptatem possimus pariatur vero dolor? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, doloribus excepturi, exercitationem in dolorum dignissimos expedita accusantium tenetur officia repellat voluptates eos ullam corrupti voluptate?</a></td>
                                        <td>23:03 06/04/2020</td>
                                        <td>Nguyễn Thành Lộc</td>
                                        <td style="min-width: 100px"><a class="btn btn-primary" href="#">Tải về</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav class="search_page__pagination mt-4"><a class="mx-1 mx-md-2" href="#">Quay lại</a><a class="mx-1 mx-md-2 search_page__pagination__item" href="#">1</a><a class="mx-1 mx-md-2 search_page__pagination__item active" href="#">2</a><a class="mx-1 mx-md-2 search_page__pagination__item" href="#">3</a><a class="mx-1 mx-md-2" href="#">Tiếp theo</a></nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>