<app-modal class="modal_chucnang__wrapper" id="diem_cotdiemlophocphan">
  <div (click)="closeModal('diem_cotdiemlophocphan')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Cột điểm Lớp học phần</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label>Lớp học phần</label>
                <select class="form-control modal_chucnang__select2">
                  <option>Mã LHP hoặc Tên LHP</option>
                </select>
              </div>
              <div class="form-group">
                <label>Giáo viên</label>
                <select class="form-control modal_chucnang__select2">
                  <option>Lữ Cao Tiến - CNTT</option>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Mã cột điểm</label>
                <input class="form-control" placeholder="Tăng tự động theo Lớp học phần">
              </div>
              <div class="form-group">
                <label>Tên cột điểm</label>
                <input class="form-control">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Hệ số</label>
                <input class="form-control" type="number" min="1" value="1">
              </div>
              <div class="form-group">
                <label>Tính điểm theo</label>
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" id="cotdiemlophocphanradio1" name="cotdiemlophocphan_tinhdiem"
                    type="radio">
                  <label class="custom-control-label" for="cotdiemlophocphanradio1">Công thức mặc định</label>
                </div>
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" id="cotdiemlophocphanradio2" name="cotdiemlophocphan_tinhdiem"
                    type="radio">
                  <label class="custom-control-label" for="cotdiemlophocphanradio2">Công thức riêng</label>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-1" src="assets/img/icons/add.png" alt="image icon">
                  <div>Thêm</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
              <select class="custom-select custom-select-sm form-control">
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select><span class="text-nowrap">&nbsp; hàng</span>
            </label>
            <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Bộ lọc: &nbsp;</span>
              <input class="form-control form-control-sm" placeholder="Nhập từ khoá...">
            </label>
          </div>
          <table class="modal_chucnang__table table table-hover" id="danhsach_cotdiemlophocphan">
            <thead class="bg__caothang text-white">
              <th scope="col">#</th>
              <th scope="col">Lớp học phần</th>
              <th scope="col">Mã cột điểm</th>
              <th scope="col">Tên cột điểm</th>
              <th class="text-center" scope="col">Hệ số</th>
              <th scope="col" style="width: 100px">Tính điểm mặc định</th>
              <th class="text-center" scope="col"><span
                  class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span></th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <select class="form-control modal_chucnang__select2" disabled>
                    <option>Toán rời rạc và lý thuyết đồ thị</option>
                  </select>
                </td>
                <td>
                  <input class="form-control" disabled value="ktm">
                </td>
                <td>
                  <input class="form-control" disabled value="Kiểm tra miệng">
                </td>
                <td>
                  <input class="form-control" disabled value="1">
                </td>
                <td style="width: 100px">
                  <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="cotdiemlophocphancheckbox1" disabled type="checkbox">
                    <label class="custom-control-label" for="cotdiemlophocphancheckbox1"></label>
                  </div>
                </td>
                <td class="text-center"><span
                    class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px"></span><span
                    class="modal_chucnang__button__delete ml-2 mdi mdi-delete-outline mdi-24px"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>