<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"  routerLink="/lophocphan"  routerLinkActive="active" >Luồng</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link "  routerLink="/baigiang"  routerLinkActive="active"  >Bài giảng</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link"  routerLink="/moinguoi"  routerLinkActive="active">Mọi người</a>
    </li>
    <li class="nav-item" >
      <a class="nav-link"  routerLink="/sodiem"  routerLinkActive="active" >Sổ điểm</a>
    </li>
    <li class="nav-item" >
        <a class="nav-link"  routerLink="/huongdan"  routerLinkActive="active" >Hướng dẫn</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link"  routerLink="/baitapgv"  routerLinkActive="active" >Bài tâp giáo viên</a>
      </li>
  </ul>