<nav class="header_navbar">
  <a class="header_navbar__item flex-column" [routerLink]="lophocphan" routerLinkActive="active">
    <span>Luồng</span>
  </a>
  <a class="header_navbar__item flex-column" [routerLink]="baigiang" routerLinkActive="active">
    <span>Bài giảng</span>
  </a>
  <a class="header_navbar__item flex-column" [routerLink]="moinguoi" routerLinkActive="active">
    <span>Mọi người</span>
  </a>
  <a class="header_navbar__item flex-column" [ngStyle]="{'display':quyen}" [routerLink]="cotdiem" routerLinkActive="active">
    <span>Cột điểm</span>
  </a>
  <a class="header_navbar__item flex-column" [ngStyle]="{'display':quyen}" [routerLink]="chamdiem" routerLinkActive="active">
    <span>Chấm điểm</span>
  </a>
  <a class="header_navbar__item flex-column" [ngStyle]="{'display':quyen}" [routerLink]="tongdiem" routerLinkActive="active">
    <span>Tổng điểm</span>
  </a>
</nav>
