<app-modal class="modal_chucnang__wrapper" id="eln_phanconggiangday">
  <div (click)="closeModal('eln_phanconggiangday')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Phân công giảng dạy</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white"></div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white"></div>
      </div>
    </div>
  </div>
</app-modal>