<header class="header_master sticky-top">
  <div class="header_desktop bg__caothang d-none d-lg-block">
    <nav class="header_navbar">
      <a class="d-block ml-3" routerLink="/">
        <img class="header_logo__desktop" [src]="logoMobile" alt="logo Cao Thắng" />
      </a>
      <nav class="nav header_navbar__nav ml-auto">

        <a *ngIf="menu.sub1.length == 0" class="header_navbar__nav__item text-decoration-none"  href="{{menu.url1}}">
          <span class="header_navbar__nav__icon {{ menu.icon1 }}"></span>
          <div>{{ menu.name1 }}</div>
        </a>
        <div *ngIf="menu.sub1.length > 0" class="header_navbar__nav__item header_dropdown text-decoration-none">
          <span class="header_navbar__nav__icon {{ menu.icon1 }}"></span>
          <div>{{ menu.name1 }}</div>
          <div class="header_dropdown__menu shadow">
            <a class="header_dropdown__item" *ngFor="let item1 of menu.sub1" href="{{item1.url}}">{{item1.name}}</a>
          </div>
        </div>

        <a *ngIf="menu.sub2.length == 0" class="header_navbar__nav__item text-decoration-none" href="{{menu.url2}}">
          <span class="header_navbar__nav__icon {{ menu.icon2 }}"></span>
          <div>{{ menu.name2 }}</div>
        </a>
        <div *ngIf="menu.sub2.length > 0" class="header_navbar__nav__item header_dropdown text-decoration-none">
          <span class="header_navbar__nav__icon {{ menu.icon2 }}"></span>
          <div>{{ menu.name2 }}</div>
          <div class="header_dropdown__menu shadow">
            <a class="header_dropdown__item" *ngFor="let item2 of menu.sub2" href="{{item2.url}}">{{item2.name}}</a>
          </div>
        </div>

        <a *ngIf="menu.sub3.length == 0" class="header_navbar__nav__item text-decoration-none" href="{{menu.url3}}">
          <span class="header_navbar__nav__icon {{ menu.icon3 }}"></span>
          <div>{{ menu.name3 }}</div>
        </a>
        <div *ngIf="menu.sub3.length > 0" class="header_navbar__nav__item header_dropdown text-decoration-none">
          <span class="header_navbar__nav__icon {{ menu.icon3 }}"></span>
          <div>{{ menu.name3 }}</div>
          <div class="header_dropdown__menu shadow">
            <a class="header_dropdown__item" *ngFor="let item3 of menu.sub3" href="{{item3.url}}">{{item3.name}}</a>
          </div>
        </div>

        <a *ngIf="menu.sub4.length == 0" class="header_navbar__nav__item text-decoration-none" href="{{menu.url4}}">
          <span class="header_navbar__nav__icon {{ menu.icon4 }}"></span>
          <div>{{ menu.name4 }}</div>
        </a>
        <div *ngIf="menu.sub4.length > 0" class="header_navbar__nav__item header_dropdown text-decoration-none">
          <span class="header_navbar__nav__icon {{ menu.icon4 }}"></span>
          <div>{{ menu.name4 }}</div>
          <div class="header_dropdown__menu shadow">
            <a class="header_dropdown__item" *ngFor="let item4 of menu.sub4" href="{{item4.url}}">{{item4.name}}</a>
          </div>
        </div>

        <a *ngIf="menu.sub5.length == 0" class="header_navbar__nav__item text-decoration-none" href="{{menu.url5}}">
          <span class="header_navbar__nav__icon {{ menu.icon5 }}"></span>
          <div>{{ menu.name5 }}</div>
        </a>
        <div *ngIf="menu.sub5.length > 0" class="header_navbar__nav__item header_dropdown text-decoration-none">
          <span class="header_navbar__nav__icon {{ menu.icon5 }}"></span>
          <div>{{ menu.name5 }}</div>
          <div class="header_dropdown__menu shadow">
            <a class="header_dropdown__item" *ngFor="let item5 of menu.sub5" href="{{item5.url}}">{{item5.name}}</a>
          </div>
        </div>
      </nav>
    </nav>
  </div>

  <div class="header_mobile bg__caothang d-lg-none">
    <a routerLink="/">
      <img class="header_logo__mobile" [src]="logoMobile" alt="logo Cao Thắng" />
    </a>
    <div class="offcanvas_button__open mdi mdi-menu text-white" role="button">
    </div>
    <div class="offcanvas offcanvas_overlay">
      <div class="offcanvas_bar">
        <div class="offcanvas_header">
          <a routerLink="/">
            <img class="offcanvas_header__logo" [src]="logo" alt="logo mobile" />
          </a>
        </div>
        <ul class="offcanvas_nav">
          <li class="offcanvas_nav__item">
            <a class="offcanvas_nav__link" href="{{menu.url1}}">
              <span class="offcanvas_icons mdi {{menu.icon1}}"></span>
              <span class="text">{{menu.name1}}</span>
            </a>
            <ul class="offcanvas_nav__sub" *ngIf="menu.sub1.length > 0">
              <li class="offcanvas_nav__item" *ngFor="let item1 of menu.sub1">
                <a class="offcanvas_nav__link" href="{{item1.url}}">
                  <span class="offcanvas_icons lnr lnr-chevron-right"></span>
                  <span class="text">{{item1.name}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="offcanvas_nav__item">
            <a class="offcanvas_nav__link" href="{{menu.url2}}">
              <span class="offcanvas_icons mdi {{menu.icon2}}"></span>
              <span class="text">{{menu.name2}}</span>
            </a>
            <ul class="offcanvas_nav__sub" *ngIf="menu.sub2.length > 0">
              <li class="offcanvas_nav__item" *ngFor="let item2 of menu.sub2">
                <a class="offcanvas_nav__link" href="{{item2.url}}">
                  <span class="offcanvas_icons lnr lnr-chevron-right"></span>
                  <span class="text">{{item2.name}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="offcanvas_nav__item">
            <a class="offcanvas_nav__link" href="{{menu.url3}}">
              <span class="offcanvas_icons mdi {{menu.icon3}}"></span>
              <span class="text">{{menu.name3}}</span>
            </a>
            <ul class="offcanvas_nav__sub" *ngIf="menu.sub3.length > 0">
              <li class="offcanvas_nav__item" *ngFor="let item3 of menu.sub3">
                <a class="offcanvas_nav__link" href="{{item3.url}}">
                  <span class="offcanvas_icons lnr lnr-chevron-right"></span>
                  <span class="text">{{item3.name}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="offcanvas_nav__item">
            <a class="offcanvas_nav__link" href="{{menu.url4}}">
              <span class="offcanvas_icons mdi {{menu.icon4}}"></span>
              <span class="text">{{menu.name4}}</span>
            </a>
            <ul class="offcanvas_nav__sub" *ngIf="menu.sub4.length > 0">
              <li class="offcanvas_nav__item" *ngFor="let item4 of menu.sub4">
                <a class="offcanvas_nav__link" href="{{item4.url}}">
                  <span class="offcanvas_icons lnr lnr-chevron-right"></span>
                  <span class="text">{{item4.name}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="offcanvas_nav__item">
            <a class="offcanvas_nav__link" href="{{menu.url5}}">
              <span class="offcanvas_icons mdi {{menu.icon5}}"></span>
              <span class="text">{{menu.name5}}</span>
            </a>
            <ul class="offcanvas_nav__sub" *ngIf="menu.sub5.length > 0">
              <li class="offcanvas_nav__item" *ngFor="let item5 of menu.sub5">
                <a class="offcanvas_nav__link" href="{{item5.url}}">
                  <span class="offcanvas_icons lnr lnr-chevron-right"></span>
                  <span class="text">{{item5.name}}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="offcanvas_nav__divider"></li>
          <li class="offcanvas_nav__item">
            <div class="d-block offcanvas_button__close" role="button">
              <span class="offcanvas_icons mdi mdi-close"></span>Đóng
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
