<app-modal class="modal_chucnang__wrapper" id="ttth-tintuc">
  <div
    (click)="closeModal('ttth-tintuc')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <h1 class="col-12 text-center text-white">Quản lý bài viết</h1>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-4 bg-white">
          <div class="table-responsive">
            <table
              class="modal_chucnang__table table table-hover table-bordered"
            >
              <thead class="bg__caothang text-white">
                <tr>
                  <th class="text-center" scope="col">#</th>
                  <th class="text-center" scope="col">Ảnh đại diện</th>
                  <th class="text-center" scope="col">Loại bài viết</th>
                  <th scope="col">Tiêu đề</th>
                  <th scope="col">Mô tả ngắn</th>
                  <th class="text-center" scope="col">Người viết</th>
                  <th class="text-center" scope="col">Thời gian đăng</th>
                  <th class="text-center" scope="col">Người sửa</th>
                  <th class="text-center" scope="col">Thời gian sửa</th>
                  <th class="text-nowrap text-center" scope="col">
                    Thứ tự<br />hiển thị
                  </th>
                  <th class="text-center" scope="col">Trạng thái</th>
                  <th class="text-center" scope="col">
                    <span
                      (click)="openModal('ttth-taotintuc')"
                      class="modal_chucnang__button__save mdi mdi-plus mdi-24px"
                    ></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemBaiViet of danhSachBaiViet; let i = index">
                  <td style="width: 50px; text-align: center;">
                    {{ i + 1 }}
                  </td>
                  <td>
                    <div class="box-img box-anhdaidien bg-white">
                      <img [src]="itemBaiViet.image" />
                    </div>
                  </td>
                  <td class="text-center">
                    {{ displayLoaiBaiViet(itemBaiViet.id_loaitintuc) }}
                  </td>
                  <td style="width: 300px;">
                    <a
                      class="text-reset line2row"
                      target="_blank"
                      [title]="itemBaiViet.tentintuc"
                      href="http://localhost:4300/bai-viet/{{
                        itemBaiViet._id
                      }}"
                    >
                      {{ itemBaiViet.tentintuc }}
                    </a>
                  </td>
                  <td style="width: 200px;">
                    <div class="line2row" [title]="itemBaiViet.description">
                      {{ itemBaiViet.description }}
                    </div>
                  </td>
                  <td class="text-center">{{ itemBaiViet.nguoitao }}</td>
                  <td class="text-nowrap text-center">
                    {{ formatDatetime(itemBaiViet.thoiGianTao) }}
                  </td>
                  <td class="text-center">{{ itemBaiViet.nguoisua }}</td>
                  <td class="text-nowrap text-center">
                    {{ formatDatetime(itemBaiViet.thoiGianChinhSua) }}
                  </td>
                  <td class="text-center">
                    {{ itemBaiViet.thuTuHienThi }}
                  </td>
                  <td class="text-nowrap text-center">
                    {{ displayTrangThai(itemBaiViet.trangthai) }}
                  </td>
                  <td class="text-center">
                    <span
                      (click)="
                        displayBaiVietVaoFormChinhSua(itemBaiViet);
                        openModal('ttth-chinhsuatintuc')
                      "
                      class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px"
                    ></span>
                    <span
                      (click)="xoaBaiViet(itemBaiViet._id)"
                      class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px"
                    ></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<!-- Them bai viet -->
<app-modal class="modal_chucnang__wrapper" id="ttth-taotintuc">
  <div
    (click)="closeModal('ttth-taotintuc')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3 pb-4">
    <div class="row">
      <h1 class="col-12 text-center text-white">Thêm bài viết mới</h1>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-3 bg-white">
          <form [formGroup]="formTaoBaiViet" class="row">
            <div class="col-10 mx-auto">
              <div class="row">
                <div class="col-auto">
                  <div class="upload-btn-wrapper text-center">
                    <div>Ảnh đại diện</div>
                    <div class="box-img">
                      <img
                        src="../../../../../assets/img/background/128.png"
                        id="preview_image_ttth_thembaiviet"
                      />
                    </div>
                    <input
                      type="file"
                      id="input_image_ttth_thembaiviet"
                      (change)="onChangeInputFile($event)"
                      onchange="document.getElementById('preview_image_ttth_thembaiviet').src = window.URL.createObjectURL(this.files[0])"
                      accept="image/x-png, image/jpeg"
                    />
                    <label
                      for="input_image_ttth_thembaiviet"
                      class="btn btn-outline-dark btn-sm btn-block mb-0 mt-2"
                    >
                      Chọn hình ảnh
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="mb-0">Tiêu đề</label>
                    <input
                      formControlName="tentintuc"
                      type="text"
                      class="form-control"
                      placeholder="Tiêu đề bài viết"
                    />
                  </div>
                  <div class="form-group">
                    <label class="mb-0">Mô tả ngắn</label>
                    <textarea
                      formControlName="description"
                      class="form-control"
                      placeholder="Mô tả ngắn"
                      style="min-height: 90px;"
                      required
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <div class="form-group" style="width: 128px;"></div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-0">Loại bài viết</label>
                        <select
                          formControlName="id_loaitintuc"
                          class="form-control"
                        >
                          <option value="-1" class="d-none"
                            >Loại bài viết</option
                          >
                          <option
                            *ngFor="let itemLoaiBaiViet of danhSachLoaiBaiViet"
                            [value]="itemLoaiBaiViet.maChuDe"
                          >
                            {{ itemLoaiBaiViet.tenChuDe }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label class="mb-0">Thứ tự hiển thị</label>
                        <div class="d-flex align-items-center">
                          <input
                            formControlName="thuTuHienThi"
                            type="number"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <ckeditor
                  class="col-12"
                  formControlName="noidung"
                  [editor]="CKEditor"
                ></ckeditor>
                <div
                  class="col-12 d-flex justify-content-center align-items-center"
                >
                  <div class="modal_chucnang__group__button mt-3">
                    <button
                      type="button"
                      (click)="luuBaiViet()"
                      class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"
                    >
                      <img
                        class="modal_chucnang__button__icon mb-2"
                        src="assets/img/icons/add.png"
                        alt="image icon"
                      />
                      <div>Thêm mới</div>
                    </button>
                    <button
                      (click)="closeModal('ttth-taotintuc')"
                      class="modal_chucnang__button btn btn-outline-dark px-4 mx-2"
                      type="reset"
                    >
                      <img
                        class="modal_chucnang__button__icon mb-2"
                        src="assets/img/icons/error.png"
                        alt="image icon"
                      />
                      <div>Đóng</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</app-modal>

<!-- Chinh sua bai viet -->
<app-modal class="modal_chucnang__wrapper" id="ttth-chinhsuatintuc">
  <div
    (click)="closeModal('ttth-chinhsuatintuc')"
    class="modal_chucnang__close mdi mdi-chevron-left text-white"
  ></div>
  <div class="container-fluid mt-3 pb-4">
    <div class="row">
      <h1 class="col-12 text-center text-white">Chỉnh sửa bài viết</h1>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-3 bg-white">
          <form [formGroup]="formChinhSuaBaiViet" class="row">
            <div class="col-10 mx-auto">
              <div class="row">
                <div class="col-auto">
                  <div class="upload-btn-wrapper text-center">
                    <div>Ảnh đại diện</div>
                    <div class="box-img">
                      <img
                        [src]="
                          image ||
                          '../../../../../assets/img/background/128.png'
                        "
                        id="preview_image_ttth_chinhsuabaiviet"
                      />
                    </div>
                    <input
                      type="file"
                      id="input_image_ttth_chinhsuabaiviet"
                      (change)="onChangeInputFile2($event)"
                      onchange="document.getElementById('preview_image_ttth_chinhsuabaiviet').src = window.URL.createObjectURL(this.files[0])"
                      accept="image/x-png, image/jpeg"
                    />
                    <label
                      for="input_image_ttth_chinhsuabaiviet"
                      class="btn btn-outline-dark btn-sm btn-block mb-0 mt-2"
                    >
                      Chọn hình ảnh
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="mb-0">Tiêu đề</label>
                    <input
                      formControlName="tentintuc"
                      type="text"
                      class="form-control"
                      placeholder="Tiêu đề bài viết"
                    />
                  </div>
                  <div class="form-group">
                    <label class="mb-0">Mô tả ngắn</label>
                    <textarea
                      formControlName="description"
                      class="form-control"
                      placeholder="Mô tả ngắn"
                      style="min-height: 90px;"
                      required
                    ></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <div class="form-group" style="width: 128px;"></div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label class="mb-0">Trạng thái</label>
                        <select
                          formControlName="trangthai"
                          class="form-control"
                        >
                          <option
                            *ngFor="let itemTrangThai of danhSachTrangThai"
                            [value]="itemTrangThai.maTrangThai"
                          >
                            {{ itemTrangThai.tenTrangThai }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label class="mb-0">Loại bài viết</label>
                        <select
                          formControlName="id_loaitintuc"
                          class="form-control"
                        >
                          <option value="-1" class="d-none"
                            >Loại bài viết</option
                          >
                          <option
                            *ngFor="let itemLoaiBaiViet of danhSachLoaiBaiViet"
                            [value]="itemLoaiBaiViet.maChuDe"
                          >
                            {{ itemLoaiBaiViet.tenChuDe }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label class="mb-0">Thứ tự hiển thị</label>
                        <div class="d-flex align-items-center">
                          <input
                            formControlName="thuTuHienThi"
                            type="number"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <ckeditor
                  class="col-12"
                  formControlName="noidung"
                  [editor]="CKEditor"
                ></ckeditor>
                <div
                  class="col-12 d-flex justify-content-center align-items-center"
                >
                  <div class="modal_chucnang__group__button mt-3">
                    <button
                      type="button"
                      (click)="chinhSuaBaiViet()"
                      class="modal_chucnang__button btn btn-outline-danger px-4 mx-2"
                    >
                      <img
                        class="modal_chucnang__button__icon mb-2"
                        src="assets/img/icons/upgrade.png"
                        alt="image icon"
                      />
                      <div>Cập nhật</div>
                    </button>
                    <button
                      (click)="closeModal('ttth-chinhsuatintuc')"
                      class="modal_chucnang__button btn btn-outline-dark px-4 mx-2"
                      type="reset"
                    >
                      <img
                        class="modal_chucnang__button__icon mb-2"
                        src="assets/img/icons/error.png"
                        alt="image icon"
                      />
                      <div>Đóng</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</app-modal>
