<app-modal class="modal_chucnang__wrapper" id="diem_diemsinhvien">
  <div (click)="closeModal('diem_diemsinhvien')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Điểm sinh viên chính thức</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="row justify-content-center align-items-center">
            <div class="col-3">
              <div class="form-group">
                <label>Bậc</label>
                <select  class="form-control" [(ngModel)]="diemsv.maBac" (change)="selectbac($event)" >
                  <option *ngFor="let bac of dsBac" [value]=bac.maBac>{{bac.tenBac }}</option>
                </select>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Ngành Nghề</label>
                <select id="nganhnghe" class="form-control" [(ngModel)]="diemsv.maNganhNghe" (change)="selectnganh($event)" >
                  <option *ngFor="let nganh of dsNganhNghetmp" [value]="nganh.maNganhNghe">{{nganh.tenNganhNghe}}</option>
                </select>
              </div>
              <div class="form-group" >
                <label>Khoá</label>
                <input class="form-control" [(ngModel)]="diemsv.khoaHoc" id="khoa"  type="number" min="15" value="15">
              </div>
              
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Lớp</label>
                <select id="lophoc" [(ngModel)]="diemsv.maLophoc" class="form-control modal_chucnang__select"  >
                  <option *ngFor="let lophoc of dsLophoc" [value]="lophoc.maLopHoc">{{lophoc.tenLop}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Họ tên</label>
                <select id="masv" class="form-control modal_chucnang__select" [(ngModel)]="diemsv.maSinhVien">
                  <option *ngFor="let sv of dsSinhvien" [value]="sv.maSinhVien" >{{sv.maSinhVien}}- {{sv.ho}} {{sv.ten}} </option>
                </select>
              </div>
            </div>
            <div class="col-auto">
              <div class="modal_chucnang__group__button">
                <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2"><img
                    class="modal_chucnang__button__icon mb-1" src="assets/img/icons/search.png" alt="image icon">
                  <div>Tìm kiếm</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <div class="d-flex align-items-center mb-2">
            <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
              <select class="custom-select custom-select-sm form-control">
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select><span class="text-nowrap">&nbsp; hàng</span>
            </label>
            <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Bộ lọc: &nbsp;</span>
              <input class="form-control form-control-sm" placeholder="Nhập từ khoá...">
            </label>
          </div>
          <table class="modal_chucnang__table table table-hover" id="danhsach_diemsinhvien">
            <thead class="bg__caothang text-white">
              <th scope="col">Tên môn học</th>
              <th scope="col">Loại</th>
              <th scope="col">Khoa</th>
              <th scope="col">Học kì</th>
              <th scope="col">DVHT</th>
              <th scope="col">Điểm TK</th>
              <th scope="col">Ghi chú</th>
              <th class="text-center" scope="col"><span
                  class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span></th>
            </thead>
            <tbody>
              <tr>
                <td>Toán rời rạc và lý thuyết đồ thị</td>
                <td>LT</td>
                <td>12</td>
                <td>1</td>
                <td>3</td>
                <td style="max-width: 100px">
                  <input class="form-control" disabled value="9.5">
                </td>
                <td></td>
                <td class="text-center"><span
                    class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px"></span></td>
              </tr>
              <tr>
                <td>Toán cao cấp</td>
                <td>LT</td>
                <td>12</td>
                <td>1</td>
                <td>5</td>
                <td style="max-width: 100px">
                  <input class="form-control" disabled value="5.5">
                </td>
                <td>Lữ Cao Tiến đã chỉnh sửa</td>
                <td class="text-center"><span
                    class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>