<app-modal class="modal_chucnang__wrapper" id="cntt_quanlytintuc">
  <div (click)="closeModal('cntt_quanlytintuc')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
  <div class="container-fluid mt-3">
    <form [formGroup]="tinTucForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center text-white">Chỉnh sửa bài viết</h1>
        </div>
        <div class="col-12">
          <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
            <div class="row justify-content-center align-items-center">
              <div class="col-2">
                <div class="form-group">
                  <label>Ảnh đại diện bài viết</label>
                  <div class="input-group">
                    <div class="box-img">
                      <img id="img" />
                    </div>
                    <input type="file"
                      onchange="document.getElementById('img').src = window.URL.createObjectURL(this.files[0])"
                      (change)="onFileSelected($event)" name="image" ng2FileSelect [uploader]="uploader"
                      accept="image/x-png,image/gif,image/jpeg" formControlName="anhBia" />
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <label>Loại bài viết</label>
                  <select class="custom-select form-control" (change)="chonLoaiBaiViet($event.target.value)"
                    formControlName="loaiBaiViet">
                    <option class="d-none" value="-1">Chọn Loại bài viết</option>
                    <option *ngFor="let itemLoaiBaiViet of loaiBaiViet" [value]="itemLoaiBaiViet.maLoaiBaiViet">
                      {{ itemLoaiBaiViet.tenLoaiBaiViet }}
                    </option>
                  </select>
                  <div class="invalid-feedback" *ngIf="submitted && myForm.loaiBaiViet.errors?.required">
                    Vui lòng chọn loại bài viết.
                  </div>
                </div>
                <div class="form-group">
                  <label>Loại danh mục</label>
                  <select class="custom-select form-control" (change)="chonMaDanhMuc($event.target.value)"
                    formControlName="maDanhMuc">
                    <option value="-1" class="d-none">Chọn Loại danh mục</option>
                    <option *ngFor="let itemDanhMuc of maDanhMuc" [value]="itemDanhMuc.maDanhMuc">
                      {{ itemDanhMuc.tenDanhMuc }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Mã Bài viết</label>
                  <input class="form-control" type="text" formControlName="maBaiViet" />
                  <div class="invalid-feedback" *ngIf="submitted && myForm.tieuDe.errors?.required">
                    Vui lòng điển Mã Bài viết.
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="form-group">
                  <label>Tiêu đề bài viết</label>
                  <input class="form-control" type="text" formControlName="tieuDe" />
                  <div class="invalid-feedback" *ngIf="submitted && myForm.tieuDe.errors?.required">
                    Vui lòng điển tiêu đề bài viết.
                  </div>
                </div>
                <div class="form-group">
                  <label>Mô tả ngắn cho bài viết</label>
                  <input class="form-control" type="text" formControlName="moTaNgan" />
                  <div class="invalid-feedback" *ngIf="submitted && myForm.moTaNgan.errors?.required">
                    Vui lòng điển mô tả ngắn.
                  </div>
                </div>
                <div class="form-group">
                  <label>Trạng thái bài viết</label>
                  <select class="custom-select form-control" (change)="chonTrangThai($event.target.value)"
                    formControlName="trangThai">
                    <option value="1">Đã đăng</option>
                    <option value="2">Chờ phê duyệt</option>
                  </select>
                </div>
              </div>
              <div class="col-auto">
                <div class="form-group">
                  <div class="modal_chucnang__group__button mb-5">
                    <label>Vị trí hiển thị</label>
                    <select class="custom-select form-control" (change)="chonViTriHienThi($event.target.value)"
                      formControlName="viTriHienThi">
                      <option value="-1">Không hiển thị</option>
                      <option *ngFor="let itemViTri of viTriHienThi" [value]="itemViTri.maViTri">
                        {{ itemViTri.tenViTri }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="modal_chucnang__group__button">
                    <button class="modal_chucnang__button btn btn-outline-primary px-4 mx-2" type="submit"
                      (click)="uploader.uploadAll()">
                      <img class="modal_chucnang__button__icon mb-2" src="assets/img/icons/add.png" alt="image icon" />
                      <div>Lưu</div>
                    </button>
                    <button class="modal_chucnang__button btn btn-outline-danger px-4 mx-2" type="reset">
                      <img class="modal_chucnang__button__icon mb-2" src="assets/img/icons/error.png"
                        alt="image icon" />
                      <div>Huỷ</div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
            <div class="form-group">
              <label>Nội dung tin tức</label>
              <ckeditor [editor]="Editor" [(ngModel)]="editorValue" formControlName="noiDung"></ckeditor>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-12">
        <h1 class="text-center text-white">Quản lý Tin tức</h1>
      </div>
      <div class="col-12">
        <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
          <table datatable="ng" *ngIf="showContent" [dtOptions]="dtOptions"
            class="modal_chucnang__table row-border hover table-bordered" datatable>
            <thead class="bg__caothang text-white">
              <tr>
                <th scope="col">Mã bài viết</th>
                <th scope="col">Loại bài viết</th>
                <th scope="col">Loại danh mục</th>
                <th scope="col">Tiêu đề bài viết</th>
                <th scope="col">Mô tả ngắn</th>
                <th scope="col">Ảnh bìa</th>
                <th scope="col">Người viết</th>
                <th scope="col">Vị trí hiện thị</th>
                <th scope="col">Trạng thái</th>
                <th class="text-center" scope="col">
                  <span class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tintuc of TinTuc; let i = index">
                <td style="max-width: 100px;">
                  <input class="form-control" value="{{ tintuc.maBaiViet }}" />
                </td>
                <td>
                  <input class="form-control" value="{{ tintuc.loaiBaiViet }}" />
                </td>
                <td>
                  <input class="form-control" value="{{ tintuc.maDanhMuc }} " />
                </td>
                <td>
                  <input class="form-control" value="{{ tintuc.tieuDe }} " />
                </td>
                <td>
                  <input class="form-control" value="{{ tintuc.moTaNgan }} " />
                </td>
                <td>
                  <input class="form-control" value="{{ tintuc.anhBia }} " />
                </td>
                <td>
                  <input class="form-control" value="{{ tintuc.nguoiViet }}" />
                </td>
                <td>
                  <input class="form-control" value="{{ tintuc.viTriHienThi }}" />
                </td>
                <td>
                  <input class="form-control" ng value="{{ tintuc.trangThai }} " />
                </td>
                <td class="text-center">
                  <span class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px"
                    (click)="editBaiViet(tintuc)"></span>
                  <span class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px"
                    (click)="onXoaBaiViet(tintuc.maBaiViet)"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</app-modal>