<app-modal class="modal_chucnang__wrapper" id="cntt_quanlybaiviet">
    <div (click)="closeModal('cntt_quanlybaiviet')" class="modal_chucnang__close mdi mdi-chevron-left text-white"></div>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-white">Quản lý Bài viết</h1>
            </div>
            <div class="col-12">
                <div class="modal_chucnang__box border rounded p-4 mt-5 bg-white">
                    <div class="d-flex align-items-center mb-2">
                        <label class="mb-0 d-flex align-items-center"><span class="text-nowrap">Hiển thị &nbsp;</span>
                            <p *ngIf="TinTuc.length <= 0" class="no-data text-center">Không có tin tức!</p>
                            <select class="custom-select custom-select-sm form-control">
                                <option>10</option>
                                <option>25</option>
                                <option>50</option>
                            </select><span class="text-nowrap">&nbsp; hàng</span>
                        </label>
                        <label class="ml-auto mb-0 d-flex align-items-center"><span class="text-nowrap">Tìm kiếm:
                                &nbsp;</span>
                            <input class="form-control form-control-sm" placeholder="Tìm kiếm">
                        </label>
                    </div>
                    <table class="modal_chucnang__table table table-hover" id="danhsach_monhoc">
                        <thead class="bg__caothang text-white">
                            <th class="text-center" scope="col" style="max-width: 100px">Mã Bài Viết</th>
                            <th scope="col">Loại Bài Viết</th>
                            <th scope="col">Mã Danh mục</th>
                            <th scope="col">Tiêu đề</th>
                            <th scope="col">Nội dung ngắn</th>
                            <th scope="col">Nội dung</th>
                            <th scope="col">Ảnh đại diện</th>
                            <th scope="col">Thời gian đăng bài</th>
                            <th scope="col">Thông báo khẩn cấp</th>
                            <th scope="col">Trạng thái</th>
                            <th class="text-center" scope="col"><span
                                    class="modal_chucnang__button__save mdi mdi-content-save-outline mdi-24px"></span>
                            </th>
                        </thead>
                        <tfoot class="d-none">
                            <tr>
                                <td style="max-width: 100px">
                                    <input class="form-control">
                                </td>
                                <td>
                                    <input class="form-control">
                                </td>
                                <td>
                                    <input class="form-control">
                                </td>
                                <td>
                                    <input class="form-control">
                                </td>
                                <td>
                                    <input class="form-control">
                                </td>
                                <td>
                                    <input class="form-control">
                                </td>
                                <td>
                                    <input class="form-control">
                                </td>
                                <td>
                                    <input class="form-control">
                                </td>
                                <td>
                                    <input class="form-control">
                                </td>
                                <td>
                                    <input class="form-control">
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr *ngFor="let tintuc of TinTuc; let i = index">
                                <td style="max-width: 100px">
                                    <input class="form-control" disabled value="{{tintuc.maBaiViet}}">
                                </td>
                                <td>
                                    <input class="form-control" disabled value="{{tintuc.loaiBaiViet}}">
                                </td>
                                <td>
                                    <input class="form-control" disabled value="{{tintuc.maDanhMuc}} ">
                                </td>
                                <td>
                                    <input class="form-control" disabled value="{{tintuc.tieuDe}} ">
                                </td>
                                <td>
                                    <input class="form-control" disabled value="{{tintuc.moTaNgan}} ">
                                </td>
                                <td>
                                    <input class="form-control" disabled value=" {{tintuc.noiDung}} ">
                                </td>
                                <td>
                                    <img class="modal_chucnang__button__icon mb-2" src="{{tintuc.anhDaiDien}}"
                                        alt="image icon">
                                </td>
                                <td>
                                    <input class="form-control" disabled value="{{tintuc.thoiGianDangBai}} ">
                                </td>
                                <td>
                                    <input class="form-control" disabled value="{{tintuc.thongBaoKhanCap}} ">
                                </td>
                                <td>
                                    <input class="form-control" disabled value="{{tintuc.trangThai}} ">
                                </td>
                                <td class="text-center">
                                    <span
                                        class="modal_chucnang__button__edit mdi mdi-file-document-edit-outline mdi-24px"
                                        (click)="openModal('cntt_chinhsuatintuc')"></span>
                                    <span class="modal_chucnang__button__delete mdi mdi-delete-outline mdi-24px"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</app-modal>