<div class="bg__caothang__light">
  <app-breadcrumb></app-breadcrumb>
  <section class="post_page__wrapper mt-4">
    <div class="container-fluid bg-white shadow rounded-lg">
      <div class="row no-gutters">
        <div class="col-md-7 col-lg-8">
          <div class="px-3 py-4 p-lg-5">
            <div class="text-center">
              <h1 class="post_page__title font-weight-bold text-uppercase">
                {{ cnttTinTuc.tieuDe }}
              </h1>
              <div
                class="d-flex flex-column flex-sm-row justify-content-center"
              >
                <div class="mr-sm-4">
                  <span class="mdi mdi-pencil mr-1"></span
                  ><strong>{{ cnttTinTuc.nguoiViet }}</strong>
                </div>
                <div>
                  <span class="mdi mdi-clock mr-1"></span
                  ><span>{{ formatDatetime(cnttTinTuc.thoiGianDangBai) }}</span>
                </div>
              </div>
            </div>
            <div class="job_home__img mt-4">
              <img src="https://localhost:4100/{{ cnttTinTuc.anhBia }}" />
            </div>
            <h4
              class="job_home_description text-center font-italic font-weight-light mt-4"
            >
              {{ cnttTinTuc.moTaNgan }}
            </h4>
            <hr style="width: 75%; margin: 2rem auto" />
            <div
              class="post_page__content text-justify mt-4"
              [innerHTML]="cnttTinTuc.noiDung"
            ></div>
          </div>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="px-3 py-4 p-lg-5">
            <div class="job_home__title position-relative text-center">
              <div
                class="job_home__desc d-inline-block bg-white text-uppercase font-weight-bold px-3"
              >
                Tin tức khác
              </div>
              <hr class="m-0 border-dark" />
            </div>
            <div class="row mt-3" *ngFor="let item of cnttTinTucKhac">
              <div class="col-auto pr-0">
                <div class="post_page__post__thumbnail border">
                  <img src="https://localhost:4100/{{ item.anhBia }}" alt="" />
                </div>
              </div>
              <div class="col">
                <a
                  class="post_page__sub__title font-weight-bold text-dark"
                  href="/bai-viet/{{ item._id }}"
                  >{{ item.tieuDe }}</a
                >
                <div class="small text-muted mt-2">
                  {{ formatDatetime(item.thoiGianDangBai) }}
                </div>
              </div>
            </div>
          </div>
          <div class="post_page__feature">
            <div class="px-3 py-4 py-lg-0 px-lg-5">
              <div class="job_home__title position-relative text-center">
                <div
                  class="job_home__desc d-inline-block bg-white text-uppercase font-weight-bold px-3"
                >
                  Tiện ích
                </div>
                <hr class="m-0 border-dark" />
              </div>
              <nav class="post_page__feature__nav mt-3">
                <li class="mb-3" *ngFor="let tienich of TienIch">
                  <a
                    class="text-reset text-uppercase"
                    routerLink="{{ tienich.urlTienIch }}"
                    ><span class="mdi {{ tienich.iconClassTienIch }}"></span
                    ><span class="ml-2">{{ tienich.tenTienIch }}</span></a
                  >
                </li>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
