
.col-lg-4 img{
  width: 50%;
  border-radius: 80%;
}
.scrollable{
  height: 400px;
  overflow-y:scroll;
}
::-webkit-scrollbar {
  width: 5px;
}
.scrollable{
  height: 400px;
  overflow-y:scroll;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#007b83; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007b83; 
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#007b83; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007b83; 
}

.style-chitietcotdiem{
  cursor: pointer;
  color: #007b83;
}
.modal-dialog {
  max-width: 700px;
  margin: 1.75rem auto;
}
.style-title{
  color: #007b83;
}
thead{
  color: #007b83;
}
.clone thead, .clone tfoot{background:transparent;}
::-webkit-scrollbar{
  height: 6px;
  width: 4px;
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #007b83;
  border-radius: 10px;
}
@media only screen and (max-width: 600px){
  .container{
      margin-top: 100px;
  }
}




=
.table-fixed thead {
  color: #007b83;
}

