<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-2 text-center">
      <img src="assets/img/huykun.JPG" class="mx-auto img-fluid img-circle d-block" alt="avatar">
      <label class="custom-file">
        <input type="file" id="file" class="custom-file-input">
        <span class="custom-file-control btn btn-light">Chọn file</span>
      </label>
    </div>
    <div class="col-md-10">
      <ul class="nav nav-tabs">

        <li class="nav-item">
          <a href="" data-target="#edit" data-toggle="tab" class="nav-link active">Chỉnh sửa thông tin</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#thoikhoabieu" data-toggle="tab" class="nav-link">Thời khóa biểu</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#bangdiemlophocphan" data-toggle="tab" class="nav-link">Bảng điểm lớp học phần</a>
        </li>
        <li class="nav-item">
          <a href="" data-target="#bangdiemtongket" data-toggle="tab" class="nav-link">Bảng điểm tổng kết</a>
        </li>
      </ul>
      <div class="tab-content py-4">

        <div class="tab-pane active" id="edit">
          <form role="form" [formGroup]="sinhVienFormGroup">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Mã số sinh viên</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="mssv">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Giới tính</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="gioiTinh">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Email</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Họ </label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="ho">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Tên</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="ten">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Ngày sinh</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="ngaySinh">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Số điện thoại</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="sdt">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Mật khẩu xác nhận</label>
              <div class="col-lg-9">
                <input class="form-control" formControlName="password">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <!-- <input type="reset" class="btn btn-secondary" value="Hủy "> -->
                <input type="button" class="btn btn-primary ml-1" value="Lưu thông tin"
                  (click)="onSubmitCapNhatSinhVien()">
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="thoikhoabieu">
          <div class="title">
            <h4>Thời khóa biểu lớp {{ sinhVien?.tenLopHoc }}</h4>
          </div>
          <div class="row">

            <div class="col-md-12">
              <div class="form-group pr-3 pt-1">
                <select class="form-control" id="exampleFormControlSelect1" [formControl]="chonTKB"
                  (change)="onChangeHocKiTKB()">
                  <option value="">Chọn học kì</option>
                  <option *ngFor="let item of hocKis" [ngValue]=item.maHK>{{ item.tenHK }}</option>
                </select>
              </div>
              <ng-container *ngFor="let item of hocKiTam">
                <h1>Học kì {{ item.maHK }}</h1>
                <table class="table table-bordered">
                  <thead style="background: #006666;color: white;">
                    <tr>
                      <th scope="col">Sáng</th>
                      <th scope="col">Thứ 2</th>
                      <th scope="col">Thứ 3</th>
                      <th scope="col">Thứ 4</th>
                      <th scope="col">Thứ 5</th>
                      <th scope="col">Thứ 6</th>
                      <th scope="col">Thứ 7</th>

                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let item of dsThoiKhoaBieu?.TKB; index as i">
                      <tr>
                        <th scope="row">Tiết {{ i +1 }}</th>
                        <ng-container *ngFor="let tiet of item; index as j">
                          <td>{{ tiet }}</td>
                        </ng-container>
                      </tr>
                    </ng-container>
                  </tbody>

                </table>
              </ng-container>

            </div>
          </div>
        </div>
        <div class="tab-pane" id="bangdiemlophocphan">
          <div class="row" [formGroup]="locChiTietGroupForm">
            <div class="col-md-6">
              <div class="form-group pr-3 pt-1">
                <select class="form-control" id="exampleFormControlSelect1" formControlName="chonHocKi"
                  (change)="onChangeChonHocKi()">
                  <option value="">Chọn học kì</option>
                  <option *ngFor="let item of hocKis" [ngValue]=item.maHK>{{ item.tenHK }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group pr-3 pt-1">
                <select class="form-control" id="exampleFormControlSelect1" formControlName="chonLop"
                  (change)="onChangeCotDiem_LopHocPhan()">
                  <option value="">Chọn lớp</option>
                  <option *ngFor="let item of lopHocPhans" [ngValue]=item.maLopHocPhan>{{ item.tenLopHocPhan }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 shadow">
              <div class="scrollable">
                <ng-container *ngIf="ctDiemLHPs?.length == 0">Không có cột điểm nào</ng-container>
                <ng-container *ngIf="ctDiemLHPs?.length > 0">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên cột điểm </th>
                        <th scope="col">Hệ số</th>
                        <th scope="col">Tên bài tập</th>
                        <th scope="col">Điểm số</th>
                        <th scope="col">Tên chủ đề</th>
                        <th scope="col">Tên lớp học phần</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ct of ctDiemLHPs;index as i">
                        <td scope="row">{{ i + 1 }}</td>
                        <td>{{ ct.tenCotDiem }}</td>
                        <td>{{ ct.heSo }}</td>
                        <td>{{ ct.tenBaiTap }}</td>
                        <td>{{ ct.diem }}</td>
                        <td>{{ct.tenChuDe }}</td>
                        <td>{{ ct.tenLopHocPhan }}</td>
                      </tr>

                    </tbody>

                  </table>
                </ng-container>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="bangdiemtongket">
          <div class="row" [formGroup]="locBangDiemFormGroup">
            <div class="col-md-6">
              <div class="form-group pr-3 pt-1">
                <select class="form-control" id="exampleFormControlSelect1" formControlName="chonHocKi"
                  (change)="onChangBangDiem()">
                  <option value="">Chọn học kì</option>
                  <option *ngFor="let item of hocKis" [ngValue]=item.maHK>{{ item.tenHK }}</option>
                </select>
              </div>
            </div>

          </div>
          <ng-container *ngFor="let khdt of dsTatCaKHDT;index as i">
            <div class="row" *ngIf="khdt?.khdt.length > 0">
              <div class="col-md-12 shadow">
                <div class="col-6">
                  <h5>Học kì {{ khdt.hocKi }}</h5>
                  <h5>Điểm tổng kết học kì: {{ khdt.diem }}</h5>
                </div>

                <div class="scrollable">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col"> Tên môn học</th>
                        <th scope="col">Điểm </th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of khdt?.khdt; index as i">
                        <tr>
                          <td>{{ i+1 }}</td>
                          <td class="col-4">{{ item.tenMonHoc }}</td>
                          <td class="col-4">{{ item.diem }}</td>

                        </tr>
                      </ng-container>
                    </tbody>

                  </table>

                </div>
              </div>

            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="thongBao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Phản hồi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 *ngFor="let item of messages">{{ item.msg }}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
