.title-icon{
    width: 100%;
    display: flex;
    color: #007b83;
    border-bottom: 1.5px solid #007b83;
}
.title-icon .title{
    width: 83.2%;

}
.title-icon .title h3{
    padding-top: 20px;
    padding-left: 20px;
}
.title-icon .iocn{
    width: 20%;
}
.title-icon .icon button{
    margin-left: 85px;
   padding-top: 20px;
}
