<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs">
          <a class="breadcrumb__step breadcrumb__step--active" href="/">Trang chủ</a>
          <a class="breadcrumb__step" href="#">Đăng kí khóa học</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="wrap-dkkh ">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="dkkh">
      <h2>Đăng kí khóa học</h2>
      <div class="row100">
        <div class="col p-0  ">
          <div class="inputbox">
            <input type="text" name="" required="required">
            <span class="text">Họ tên (*)</span>
            <span class="line"></span>
          </div>
        </div>
        <div class="col p-0  ">
          <div class="inputbox">
            <input type="text" name="" required="required">
            <span class="text">Email (*)</span>
            <span class="line"></span>
          </div>
        </div>
        <div class="row100">
          <div class="col p-0 ">
            <div class="inputbox">
              <select name="" required="required">
                <option value=""></option>
                <option value="">Value</option>
              </select>
              <span class="text">Khóa học (*)</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="col p-0 ">
            <div class="inputbox">
              <select name="" required="required">
                <option value=""></option>
                <option value="">Value</option>
              </select>
              <span class="text">Lịch học (*)</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="row100">
            <div class="col p-0 ">
              <div class="inputbox textarea">
                <textarea required="required"></textarea>
                <span class="text">Nội dung</span>
                <span class="line"></span>
              </div>
            </div>
          </div>
          <div class="row100">
            <div class="col p-0 ">
              <button type="button" class="btn btn-warning">Đăng kí</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
