<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumbs">
          <a class="breadcrumb__step breadcrumb__step--active" routerLink="/">Trang chủ</a>
          <a class="breadcrumb__step" >Đăng kí khóa học</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div  *ngIf="success==true" class="alert alert-success" role="alert">
        Đăng kí thành công!
      </div>
      <div  *ngIf="error==true" class="alert alert-danger" role="alert">
        Vui lòng nhập đủ thông tin!
      </div>
      <div  *ngIf="checkexist==true" class="alert alert-danger" role="alert">
        Bạn đã đăng kí lớp học này rồi!
      </div>
      <div  *ngIf="checkmssv==true" class="alert alert-danger" role="alert">
        Mã số sinh viên không đúng định dạng!
      </div>
      <div class="dangkikhoahoc-box featured-box-primary">
        <div class="box-content">
          <h4 class="color-primary font-weight-semibold text-4 mb-3">Vui lòng điền đầy đủ thông tin bên dưới.</h4>
          <div class="form-row">
            <div class="form-group col-lg-6">
                <label class="font-weight-bold text-dark text-2 required">MSSV *</label>
                <input class="form-control" type="text" placeholder="VD: 0306123456" #mssv>
            </div>
            <div class="form-group col-lg-6">
                <label class="font-weight-bold text-dark text-2 required">Họ tên *</label>
                <input class="form-control" type="text"placeholder="VD: Nguyễn Văn A" #hoten>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-6">
                <label class="font-weight-bold text-dark text-2 required">Ngày sinh</label>
                <input class="form-control"ype="text" placeholder="VD: 21/09/1990" #ngaysinh>
            </div>
            <div class="form-group col-lg-6">
                <label class="font-weight-bold text-dark text-2 required">Nơi sinh</label>
                <select class="form-control ttth__select2" tabindex="-1" aria-hidden="true" #noisinh>
                    <option data-select2-id="select2-data-2-jvbd"></option>
                                                                    <option value="An Giang">An Giang</option>
                                                                    <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                                                                    <option value="Bắc Giang">Bắc Giang</option>
                                                                    <option value="Bắc Kạn">Bắc Kạn</option>
                                                                    <option value="Bạc Liêu">Bạc Liêu</option>
                                                                    <option value="Bắc Ninh">Bắc Ninh</option>
                                                                    <option value="Bến Tre">Bến Tre</option>
                                                                    <option value="Bình Định">Bình Định</option>
                                                                    <option value="Bình Dương">Bình Dương</option>
                                                                    <option value="Bình Phước">Bình Phước</option>
                                                                    <option value="Bình Thuận">Bình Thuận</option>
                                                                    <option value="Cà Mau">Cà Mau</option>
                                                                    <option value="Cần Thơ">Cần Thơ</option>
                                                                    <option value="Cao Bằng">Cao Bằng</option>
                                                                    <option value="Đà Nẵng">Đà Nẵng</option>
                                                                    <option value="Đắk Lắk">Đắk Lắk</option>
                                                                    <option value="Đắk Nông">Đắk Nông</option>
                                                                    <option value="Điện Biên">Điện Biên</option>
                                                                    <option value="Đồng Nai">Đồng Nai</option>
                                                                    <option value="Đồng Tháp">Đồng Tháp</option>
                                                                    <option value="Gia Lai">Gia Lai</option>
                                                                    <option value="Hà Giang">Hà Giang</option>
                                                                    <option value="Hà Nam">Hà Nam</option>
                                                                    <option value="Hà Nội">Hà Nội</option>
                                                                    <option value="Hà Tĩnh">Hà Tĩnh</option>
                                                                    <option value="Hải Dương">Hải Dương</option>
                                                                    <option value="Hải Phòng">Hải Phòng</option>
                                                                    <option value="Hậu Giang">Hậu Giang</option>
                                                                    <option value="Hòa Bình">Hòa Bình</option>
                                                                    <option value="Hưng Yên">Hưng Yên</option>
                                                                    <option value="Khánh Hòa">Khánh Hòa</option>
                                                                    <option value="Kiên Giang">Kiên Giang</option>
                                                                    <option value="Kon Tum">Kon Tum</option>
                                                                    <option value="Lai Châu">Lai Châu</option>
                                                                    <option value="Lâm Đồng">Lâm Đồng</option>
                                                                    <option value="Lạng Sơn">Lạng Sơn</option>
                                                                    <option value="Lào Cai">Lào Cai</option>
                                                                    <option value="Long An">Long An</option>
                                                                    <option value="Nam Định">Nam Định</option>
                                                                    <option value="Nghệ An">Nghệ An</option>
                                                                    <option value="Ninh Bình">Ninh Bình</option>
                                                                    <option value="Ninh Thuận">Ninh Thuận</option>
                                                                    <option value="Phú Thọ">Phú Thọ</option>
                                                                    <option value="Phú Yên">Phú Yên</option>
                                                                    <option value="Quảng Bình">Quảng Bình</option>
                                                                    <option value="Quảng Nam">Quảng Nam</option>
                                                                    <option value="Quảng Ngãi">Quảng Ngãi</option>
                                                                    <option value="Quảng Ninh">Quảng Ninh</option>
                                                                    <option value="Quảng Trị">Quảng Trị</option>
                                                                    <option value="Sóc Trăng">Sóc Trăng</option>
                                                                    <option value="Sơn La">Sơn La</option>
                                                                    <option value="Tây Ninh">Tây Ninh</option>
                                                                    <option value="Thái Bình">Thái Bình</option>
                                                                    <option value="Thái Nguyên">Thái Nguyên</option>
                                                                    <option value="Thanh Hóa">Thanh Hóa</option>
                                                                    <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                                                                    <option value="Tiền Giang">Tiền Giang</option>
                                                                    <option value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
                                                                    <option value="Trà Vinh">Trà Vinh</option>
                                                                    <option value="Tuyên Quang">Tuyên Quang</option>
                                                                    <option value="Vĩnh Long">Vĩnh Long</option>
                                                                    <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                                                                    <option value="Yên Bái">Yên Bái</option>
                </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
                <label class="font-weight-bold text-dark text-2 required">Số điện thoại</label>
                <input class="form-control" type="tel" placeholder="VD: 0909123456" #sodienthoai>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
                <label class="font-weight-bold text-dark text-2 required">Lớp học</label>
                <select  class="form-control ttth__select2" #lophoc>
                  <option value=""></option>
                  <ng-container *ngFor="let item of LopHoc">
                    <option *ngIf="item.trangthai==1 && (item.ngayhethan| date) > (getday| date)" value="{{item.tenlop}}">{{item.tenlop}}</option>
                  </ng-container>
                </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
                <label class="font-weight-bold text-dark text-2 required">Hình thức học</label>
                <select  class="form-control" #hinhthuchoc>
                    <option value=""></option>
                    <option value="Học tại trường">Học tại trường</option>
                    <option value="Trực tuyến -Elearning">Trực tuyến -Elearning</option>
                </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-12">
                <input type="submit" value="Đăng Ký" class="btn btn-primary float-right" style="font-size: 0.8em;"
                (click)="dangkikhoahoc(mssv.value,hoten.value,ngaysinh.value,noisinh.value,sodienthoai.value,lophoc.value,hinhthuchoc.value);mssv.value=''; hoten.value=''; ngaysinh.value=''; noisinh.value=''; sodienthoai.value=''; lophoc.value=''">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="wrap-dkkh ">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="dkkh">
      <h2>Đăng kí khóa học</h2>
      <div class="row100">
        <div class="col p-0  ">
          <div class="inputbox">
            <input type="text" name="" required="required">
            <span class="text">Họ tên (*)</span>
            <span class="line"></span>
          </div>
        </div>
        <div class="col p-0  ">
          <div class="inputbox">
            <input type="text" name="" required="required">
            <span class="text">Email (*)</span>
            <span class="line"></span>
          </div>
        </div>
        <div class="row100">
          <div class="col p-0 ">
            <div class="inputbox">
              <select name="" required="required">
                <option value=""></option>
                <option value="">Value</option>
              </select>
              <span class="text">Khóa học (*)</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="col p-0 ">
            <div class="inputbox">
              <select name="" required="required">
                <option value=""></option>
                <option value="">Value</option>
              </select>
              <span class="text">Lịch học (*)</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="row100">
            <div class="col p-0 ">
              <div class="inputbox textarea">
                <textarea required="required"></textarea>
                <span class="text">Nội dung</span>
                <span class="line"></span>
              </div>
            </div>
          </div>
          <div class="row100">
            <div class="col p-0 ">
              <button type="button" class="btn btn-warning">Đăng kí</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
