<section class="sidebar_chucnang__wrapper mt-4">
  <div class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-logo')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br>thông tin website</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-banner')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý<br> Slideshow</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-home-camon')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br>mục cảm ơn</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-home-tienich')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br>mục tiện ích</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-tintuc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white" style="background-color: #000;">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br>Tin tức</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth_chude')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br>chủ đề</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-lienhe')">
        <div class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br>Liên hệ</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-khoahoc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br> Khóa học</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-lophoc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white" style="background-color: #906060;">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br>Lớp học</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-dangkikhoahoc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý Đăng Kí Lớp Học</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-dotthi')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br>đợt thi</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-dangkidotthi')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white bg-danger">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br>đăng kí đợt thi</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-diemthi')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white bg-success">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Nhập điểm<br>thi</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-diemlophoc')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white ">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Nhập điểm<br>lớp học</div>
        </div>
      </div>
      <div class="sidebar_chucnang__item" (click)="openModal('ttth-quanlydiemthi')">
        <div
          class="sidebar_chucnang__box card border-0 py-3 px-2 px-sm-3 text-center text-decoration-none text-uppercase text-white">
          <div class="sidebar_chucnang__icon mdi mdi-calendar-blank-multiple mdi-24px"></div>
          <div class="sidebar_chucnang__text mt-2">Quản lý <br>điểm thi</div>
        </div>
      </div>

    </div>
  </div>
</section>
