
  <section class="mt-4">
     <div class="container">
         <div class="row">
                 <div class="col-12">
                         <div class="breadcrumbs">
                             <a class="breadcrumb__step breadcrumb__step--active" routeLink="/">Trang chủ</a>
                             <a class="breadcrumb__step">Liên hệ</a>
                         </div>
                 </div>
         </div>
     </div>
 </section>
 <section class="full-contact">
     <div class="container">
         <div id="contact">
             <div class="row ">
                 <h1 class="section-header col-lg-12 col-md-12 col-sm-12 col-12">Liên Hệ</h1>
                 <div class="contact-wrapper col-12">
                     <div class="row">
                         <div class="form-horizontal col-lg-6 col-md-12 col-sm-12 col-12" >
                             <div class="form-group">
                              <div class="col-sm-12 p-0">
                                  <input type="text" class="form-control"  placeholder="Nhập tên" #ten>
                              </div>
                             </div>
                             <div class="form-group">
                              <div class="col-sm-12 p-0">
                                  <input type="email" class="form-control"  placeholder="Nhập email" #email>
                              </div>
                             </div>
                             <textarea class="form-control" rows="10" placeholder="Nội dung" #noidung ></textarea>
                             <button class="btn btn-primary send-button" value="Gửi" (click)="addLienHe(ten.value,email.value,noidung.value)">
                             <div class="button">
                                 <i class="fa fa-paper-plane"></i><span class="send-text">Gửi</span>
                             </div>
                             </button>
                         </div>
                         <div class="direct-contact-container col-lg-6 col-md-12 col-sm-12 col-12">
                             <ul class="contact-list" *ngFor="let item of ThongTinWeb">
                                 <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place" [innerHTML]="item.diachi"></span></i></li>
                                 <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:{{item.hotline}}" title="Give me a call">{{item.hotline}}</a></span></i></li>
                                 <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:{{item.email}}" title="Send me an email">{{item.email}}</a></span></i></li>
                             </ul>
                             <hr>
                             <ul class="social-media-list" *ngFor="let item of ThongTinWeb">
                                 <li *ngFor="let mxh of item.mxh"><a href="{{mxh.link}}" target="_blank" class="contact-icon">
                                     <i class="{{mxh.icon}}"></i></a>
                                 </li>
                             </ul>
                             <hr>
                             <ng-container *ngFor="let item of ThongTinWeb">
                              <div class="copyright">{{item.copyright}}</div>

                             </ng-container>
                         </div>
                     </div>
                 </div>
             </div>

         </div>
     </div>

 </section>
