<section class="loadpage_effect" style="opacity: 0;">
    <app-sidebar-ttth></app-sidebar-ttth>
    <app-modal-logo></app-modal-logo>
    <app-modal-banner></app-modal-banner>
    <app-modal-dangkikhoahoc></app-modal-dangkikhoahoc>
    <app-modal-home-camon></app-modal-home-camon>
    <app-modal-home-tienich></app-modal-home-tienich>
    <app-modal-khoahoc></app-modal-khoahoc>
    <app-modal-lienhe></app-modal-lienhe>
    <app-modal-tintuc></app-modal-tintuc>
    <app-modal-ttth-lophoc></app-modal-ttth-lophoc>
    <app-modal-dangkidotthi></app-modal-dangkidotthi>
    <app-model-ttth-dotthi></app-model-ttth-dotthi>
    <app-modal-diemthi></app-modal-diemthi>
    <app-modal-ttth-quanlidiemthi></app-modal-ttth-quanlidiemthi>
    <app-modal-ttthchude></app-modal-ttthchude>
    <app-modal-nhapdiemlophoc></app-modal-nhapdiemlophoc>
</section>
