<section class="loadpage_effect" style="opacity: 0;">
    <app-sidebar-ttth></app-sidebar-ttth>
    <app-modal-logo></app-modal-logo>
    <app-modal-banner></app-modal-banner>
    <app-modal-dangkikhoahoc></app-modal-dangkikhoahoc>
    <app-modal-home-camon></app-modal-home-camon>
    <app-modal-home-chuongtrinhdaotao></app-modal-home-chuongtrinhdaotao>
    <app-modal-home-tienich></app-modal-home-tienich>
    <app-modal-khoahoc></app-modal-khoahoc>
    <app-modal-lichkhaigiang></app-modal-lichkhaigiang>
    <app-modal-lienhe></app-modal-lienhe>
    <app-modal-menu></app-modal-menu>
    <app-modal-tintuc></app-modal-tintuc>
</section>
