
  <section class="mt-4">
    <div class="container">
        <div class="row">
                <div class="col-12">
                        <div class="breadcrumbs">
                            <a class="breadcrumb__step breadcrumb__step--active" href="/">Trang chủ</a>
                            <a class="breadcrumb__step" href="kysu">Tin tức</a>
                        </div>
                </div>
        </div>
    </div>
</section>
<section class="news-detail mt-40 mb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="post-wrap">
                    <h2 class="sub-title">{{Khoahoc.tenkhoahoc}}</h2>
                    <div class="posted"><i class="far fa-clock"></i>{{Khoahoc.created_at}}</div>
                    <div class="post-content" [innerHTML]="Khoahoc.noidung" >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="other-news">
                    <h3 class="sub-title">TIN LIÊN QUAN</h3>
                    <div class="sub-news" *ngFor="let item of KhoahocKhac">
                        <div class="img-wrap"><img src="{{item.image}}" alt="co-khi"></div><a class="sub-title" href="/chitietkhoahoc/{{item._id}}">{{item.tenkhoahoc}}</a>
                        <div class="posted"><i class="far fa-clock"></i>{{item.created_at}}</div>
                        <div class="news-content" [innerHTML]="item.noidung">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



