<div class="container">
      <h1>Thời khóa biểu lớp CDTH17D</h1>           
  </div>
<table class="table">
    <thead style="background: #006666;color: white;">
      <tr>
        <th scope="col">Sáng</th>
        <th scope="col">Thứ 2</th>
        <th scope="col">Thứ 3</th>
        <th scope="col">Thứ 4</th>
        <th scope="col">Thứ 5</th>
        <th scope="col">Thứ 6</th>
        <th scope="col">Thứ 7</th>
        <th scope="col">Chủ nhật</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">tiết 1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>#</td>
      </tr>
      <tr>
        <th scope="row">tiết 2</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>#</td>
      </tr>
      <tr>
        <th scope="row">tiết 3</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>#</td>
      </tr>
      <tr>
        <th scope="row">tiết 4</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>#</td>
      </tr>
      <tr>
        <th scope="row">tiết 5</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>#</td>
      </tr>
      <tr>
        <th scope="row">tiết 6</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>#</td>
      </tr>
    </tbody>
    <thead style="background: #006666;color: white;">
        <tr>
          <th scope="col">Chiều</th>
          <th scope="col">Thứ 2</th>
          <th scope="col">Thứ 3</th>
          <th scope="col">Thứ 4</th>
          <th scope="col">Thứ 5</th>
          <th scope="col">Thứ 6</th>
          <th scope="col">Thứ 7</th>
          <th scope="col">Chủ nhật</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">tiết 1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>#</td>
        </tr>
        <tr>
          <th scope="row">tiết 2</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>#</td>
        </tr>
        <tr>
          <th scope="row">tiết 3</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>#</td>
        </tr>
        <tr>
          <th scope="row">tiết 4</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>#</td>
        </tr>
        <tr>
          <th scope="row">tiết 5</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>#</td>
        </tr>
        <tr>
          <th scope="row">tiết 6</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>#</td>
        </tr>
      </tbody>
  </table>